.spl-container {
    height: 2em;
    line-height: 1.75em;
    padding: 0 .5em;
    background-color: #357a38;
}

.data-container {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    padding: 0 .5em;
}
.data-container .data-label {
    color: green;
    text-align: right;
    padding-right: .5em;
}
.data-container .data-label span {
    font-size: 1em;
}
.data-container .data-label div {
    padding-bottom: .125em;
}
.data-container .data-num span {
    font-size: 1.25em;
}
.data-container .data-num {
    color: black;
    text-align: right;
}
.data-line {
    height: 1.5em;
    line-height: 1.5em;
}
.data-line div.data-label {
    color: #b7dfb8;
}
.data-line div.data-label.data-pad {
    padding: 0 .5em;
}
.data-line div.data-label.data-pad-l {
    padding-left: .5em;
}
.data-line div.data-label.data-pad-r {
    padding-right: .5em;
}
.data-line div.data-num {
    text-align: right;
    color: white;
}
.geel .data-line div.data-num {
    text-align: right;
    color: gold;
}
.data-line div.data-num.comment, .geel .data-line div.data-num.comment {
    color: #b7dfb8;
}
.data-line div.data-num span {
    font-size: 1.25em;
}
