.bss-scorebord { height: 33.75em; }
.bss-scorebord .bss-score-1 { width: 60em; }
.bss-scorebord .bss-score-2 { width: 60em; }
.bss-scorebord .bss-score-3 { width: 90em; }
.bss-scorebord .bss-landscape { width: 60em; height: 33.75em; }
.bss-scorebord .bss-portrait { width: 30em; height: 33.75em; }

.scale-for3 {
    transform: translateX(-10em) scaleX(.666666);
}

.speler-container {
    background-color: lightgray;
}
.speler-container:not(.active) {
    box-shadow: inset 0 0 1em .5em #000000;
}
.speler-container.thuis {
    border: .5em solid white;
}
.speler-container.gasten {
    border: .5em solid yellow;
}
.speler-container div {
    overflow: hidden;
}

.keylock {
    position: fixed;
    top: 0;
    left: 29em;
    color: red;
    opacity: .5;
    z-index: 50;
}
.keylock i {
    font-size: 2em;
}
