<div class="bordt fullheight flexbox flexstretch" [ngClass]="{'smaller': !team.actief}"
            [style.background-color]="team.actief ? 'black' : '#606060'">
    <div class="flexgrow1 flexbox flexcolumn">
        <div class="flexbox flexmiddle teamdata active" style="height: 8em;">
            <div class="flexgrow1" style="padding: 0 1em;">
                <span [ngClass]="{'wit': team.metWit, 'geel': !team.metWit}"
                        style="font-size: 5em; line-height: 1.25;">{{team.teamNaam}}</span>
            </div>
            <div class="arial" style="padding: 0 1em;">
                <span style="font-size: 2.5em; color: lightgray;">moy: </span>
                <span style="font-size: 5em;"
                        [ngClass]="{'wit': team.metWit, 'geel': !team.metWit}"
                        >{{team.teamTsMoy | number:'1.3-3':'nl-NL'}}</span>
            </div>
        </div>
        <div class="flexgrow1 flexbox">
            <div class="fullheight" style="width: 1em;"></div>
            <div class="fullheight flexgrow1 flexbox flexcolumn">
                <div class="flexbox flexmiddle arial scoredata active" [ngClass]="{'geel': !team.metWit}"
                        style="height: 14em; line-height: 1;">
                    <div class="flex50perc aantcar" style="text-align: center;">
                        <span style="font-size: 14em;" [ngClass]="cssClassCars">{{carsView}}</span>
                    </div>
                    <div style="width: 6em; text-align: center;" [ngClass]="{'changes': team.stand.serie > 0}">
                        <span style="font-size: 5em;">{{team.stand.serie > 0 ? '+' : 'in'}}</span>
                    </div>
                    <div class="flexgrow1 flexbox flexcenter">
                        <div class="aantbrt" [ngClass]="{'serie': team.stand.serie > 0}">
                            @if (team.stand.serie > 0) {
                                <span style="font-size: 9em;" [ngClass]="cssClassSer">{{serView}}</span>
                            }
                            @else {
                                <span style="font-size: 9em;" [ngClass]="cssClassBrtn">{{brtnView}}</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="flexgrow1 flexbox flexmiddle arial extradata active" [ngClass]="{'geel': !team.metWit}">
                    <div style="width: 25em; line-height: 1; text-align: center;">
                        <span style="font-size: 7em;" [ngClass]="{'changes': team.stand.serie > 0}"
                                >{{team.stand.gemiddelde | number:'1.3-3':'nl-NL'}}</span>
                    </div>
                    <div class="flexgrow1" style="padding-right: 1.5em;">
                        <div class="flexbox flexbetween flexmiddle" style="line-height: 1; padding-right: .125em;">
                            <span style="font-size: 3em; color: lightgray;">Perc : </span>
                            <span style="font-size: 4em;" [ngClass]="{'changes': team.stand.serie > 0, 
                                    'clr-red': team.stand.gemiddelde > 0 && team.stand.gemiddelde / team.teamTsMoy <= 1}"
                                    >{{(100 * team.stand.gemiddelde / team.teamTsMoy) | number:'1.2-2':'nl-NL'}}</span>
                        </div>
                        <div class="flexbox flexbetween flexmiddle" style="line-height: 1; padding-right: .125em;">
                            <span style="font-size: 3em; color: lightgray;">Hoog ser : </span>
                            <span style="font-size: 4em;" [ngClass]="{'changes': team.stand.serie > team.stand.hoogSer}"
                                    >{{team.stand.serie > team.stand.hoogSer ? team.stand.serie : team.stand.hoogSer}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexbox flexcolumn" style="width: 11em;">
        <div class="teamdata active" style="width: 11em; height: 10em; padding: .5em 1em;">
            <div class="fullheight flexbox flexcenter flexmiddle clickable" (click)="balClicked()" data-kleur=""
                        [ngClass]="{'wit': team.metWit, 'geel': !team.metWit, 'active biljartbal': team.actief, 'bal': !team.actief}">
                <div class="arial" [ngClass]="{'digit3': team.teamTsCar > 99}">
                    <span style="line-height: 1; letter-spacing: -.03em;">{{team.teamTsCar > 0 ? team.teamTsCar : ''}}</span>
                </div>
            </div>
        </div>
        <div class="flexgrow1 arial laatste5 active" [ngClass]="{'geel': !team.metWit}"
                style="width: 11em;color: lightgray;">
            <div class="lbl" style="position: relative; top: -.25em;">
                <span>laatste 5</span>
            </div>
            <div class="laatste5data" style="position: relative; top: -.75em;">
                @for (cars of team.stand.laatste5brt.slice().reverse(); track $index) {
                    <div style="text-align: center;">
                        <span style="font-size: 4em; letter-spacing: -.075em; line-height: .875em;"
                                [style.opacity]="1 - ($index * .15)">{{cars == 0 ? '­•' : cars}}</span>
                    </div>    
                }
            </div>
        </div>
    </div>
</div>
