<div class="scorebord-spl wide flexbox flexstretch" [ngClass]="{'actief': team.actief, 'geel': !team.metWit}">
    @if (position == 'left') {
        <div style="width: 15em;">
            <app-score-wide-bal [aantCar]="team.teamTsCar"
                                [aantBrt]="team.teamTsBrt"></app-score-wide-bal>
            <app-score-wide-extra [serie]="team.stand.serie"
                                [hoogSer]="team.stand.hoogSer"
                                [punten]="team.stand.punten"
                                [percView]="team.stand.percView"
                                [formatSer]="formatSer"></app-score-wide-extra>
        </div>
        <div style="width: 44em;">
            <app-score-wide-info [naam]="team.teamNaam"
                                [moyenne]="team.teamTsMoy"
                                [position]="position"></app-score-wide-info>
            <app-score-wide-stand [aantCar]="meteenToev ? (team.stand.aantCar + team.stand.serie) : team.stand.aantCar"
                                [aantBrt]="team.stand.aantBrt"
                                [serie]="team.stand.serie"
                                [moyView]="team.stand.moyView"
                                [enNog]="team.stand.enNog"
                                [numFormats]="[formatCar, formatBrt, formatSer]"
                                [position]="position"></app-score-wide-stand>
            <app-score-wide-voortgang [aantCar]="team.stand.aantCar"
                                [serie]="team.stand.serie"
                                [voortgang]="team.stand.voortgang"></app-score-wide-voortgang>
            <app-score-wide-laatste5 [actief]="team.actief"
                                [serView]="team.stand.serView"
                                [formatSer]="formatSer"
                                [laatste5]="team.stand.laatste5brt"
                                [isVijfde]="isVijfde"
                                [aantCar]="team.stand.aantCar + team.stand.serie"
                                [metWit]="team.metWit"
                                [position]="position"></app-score-wide-laatste5>
        </div>
    }
    @else {
        <div style="width: 44em;">
            <app-score-wide-info [naam]="team.teamNaam"
                                [moyenne]="team.teamTsMoy"
                                [position]="position"></app-score-wide-info>
            <app-score-wide-stand [aantCar]="meteenToev ? (team.stand.aantCar + team.stand.serie) : team.stand.aantCar"
                                [aantBrt]="team.stand.aantBrt"
                                [serie]="team.stand.serie"
                                [moyView]="team.stand.moyView"
                                [enNog]="team.stand.enNog"
                                [numFormats]="[formatCar, formatBrt, formatSer]"
                                [position]="position"></app-score-wide-stand>
            <app-score-wide-voortgang [aantCar]="team.stand.aantCar"
                                [serie]="team.stand.serie"
                                [voortgang]="team.stand.voortgang"></app-score-wide-voortgang>
            <app-score-wide-laatste5 [actief]="team.actief"
                                [serView]="team.stand.serView"
                                [formatSer]="formatSer"
                                [laatste5]="team.stand.laatste5brt"
                                [isVijfde]="isVijfde"
                                [aantCar]="team.stand.aantCar + team.stand.serie"
                                [metWit]="team.metWit"
                                [position]="position"></app-score-wide-laatste5>
        </div>
        <div style="width: 15em;">
            <app-score-wide-bal [aantCar]="team.teamTsCar"
                                [aantBrt]="team.teamTsBrt"></app-score-wide-bal>
            <app-score-wide-extra [serie]="team.stand.serie"
                                [hoogSer]="team.stand.hoogSer"
                                [punten]="team.stand.punten"
                                [percView]="team.stand.percView"
                                [formatSer]="formatSer"></app-score-wide-extra>
        </div>
    }
</div>
