<div class="fullviewheight flexbox flexaround" style="background-color: lightgray;">
    @if (dataReady) {
        @if (spelerLijsten.length <= 2) {
            @for (lijst of spelerLijsten; track $index) {
                <div class="flexbox flexcolumn">
                    <div class="speler-header">
                        <span>{{lijst.naam}}</span>
                        @if (lijst.tsCar > 0) {
                            <span style="font-size: 1rem; padding-left: 1em; color: #666666;">({{lijst.tsCar}})</span>
                        }
                    </div>
                    <div class="flexgrow1 speler-lijst">
                        <app-wed-lijst-speler [speler]="lijst"></app-wed-lijst-speler>
                    </div>
                </div>
            }
        }
        @else if (spelerLijsten.length == 3) {
            @for (lijst of spelerLijsten; track $index) {
                <div class="flexbox flexcolumn">
                    <div class="speler-header">
                        <span>{{lijst.naam}}</span>
                        @if (lijst.tsCar > 0) {
                            <span style="font-size: 1rem; padding-left: 1em; color: #666666;">({{lijst.tsCar}})</span>
                        }
                    </div>
                    <div class="flexgrow1 speler-lijst">
                        <app-wed-lijst-speler [speler]="lijst"></app-wed-lijst-speler>
                    </div>
                </div>
            }
        }
        @else if (spelerLijsten.length == 4) {
            @for (lijst of spelerLijsten; track $index) {
                <div class="flexbox flexcolumn">
                    <div class="speler-header">
                        <span>{{lijst.naam}}</span>
                        @if (lijst.tsCar > 0) {
                            <span style="font-size: 1rem; padding-left: 1em; color: #666666;">({{lijst.tsCar}})</span>
                        }
                    </div>
                    <div class="flexgrow1 speler-lijst">
                        <app-wed-lijst-speler [speler]="lijst"></app-wed-lijst-speler>
                    </div>
                </div>
            }
        }
    }
</div>
