.help-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
}
.help-card {
    box-shadow: .375em .375em .1875em black;
    border-radius: .375em;
    padding: .125em;
    background-color: white;
}
.help-card-inner {
    font-size: .75rem;
    font-weight: normal;
    border: .25em solid #1e461f;
    border-radius: .75em;
    padding: 0 1em;
    color: black;
}
.help-card-title {
    font-size: 2em;
    font-weight: bold;
    color: #1e461f;
}
.help-card-content {
    line-height: 1.2;
    max-width: 40rem;
    max-height: 25rem;
    overflow-y: auto;
    padding-bottom: .5rem;
}

/* Voor overige styles zie de help.css file */