.smaller {
    transform: scale(.9) translateY(.25em);
}

.spelerdata .wit { color: white; }
.spelerdata .geel { color: yellow; }

.spelerdata .bal { border-radius: 50%; font-size: 6em; }
.spelerdata .bal.wit { color: white; border: .0625em solid white; }
.spelerdata .bal.geel { color: yellow; border: .0625em solid yellow; }
.spelerdata .bal.geel.active { background-color: yellow; color: black;}
.spelerdata .bal.wit.active { background-color: white; color: black; }

.bal .digit3 { transform: translateX(-.025em) scaleX(.7); }

.scoredata { background-color: white; }
.scoredata.geel { background-color: yellow; }
.scoredata.active .changes { color: blue; }
.scoredata.active .scale { scale: 1.5; }

.laatste5.active .laatste5data { color: white; }
.laatste5.active.geel .laatste5data { color: yellow; }
.laatste5 .lbl {
    font-size: 3em; 
    text-align: center;
    transform: translateX(-.01em) scaleX(.9);
}

.extradata { color: white; }
.extradata .clr-red { color: red; }
.extradata.geel { color: yellow;}
.extradata.active .changes { color: #00a2ff; }

.aantbrt {
    border-radius: 1em;
    overflow: hidden;
    padding: 0 1.5em 0 1em;
}
.aantbrt.serie {
    min-width: 90%;
    text-align: center;
    background-color: blue;
    color: white;
}

.arial { font-family: Arial, Helvetica, sans-serif; }
