<div class="fullheight">
    <!-- speler gegevens -->
    <div class="fullheight flexbox flexcolumn">
        <div class="flexbox flexmiddle spelerdata" [ngClass]="{'active': speler.active}" style="height: 8em;">
            <div class="flexgrow1" style="padding: 0 1em;">
                <span [ngClass]="{'wit': speler.active && speler.metWit, 'geel': speler.active && !speler.metWit}"
                        style="font-size: 5em; line-height: 1.25;">{{speler.splBordNaam}}</span>
            </div>
            <div class="arial" style="padding-left: 1em;">
                <span style="font-size: 2.5em; color: gray;">moy: </span>
                <span style="font-size: 5em;"
                        [ngClass]="{'wit': speler.active && speler.metWit, 'geel': speler.active && !speler.metWit}"
                        >{{speler.splTsGem | number:'1.3-3':'nl-NL'}}</span>
            </div>
            <div style="width: 3em;"></div>
            <div class="fullheight" style="width: 8em; padding: .5em;">
                <div class="bal fullheight flexbox flexcenter flexmiddle clickable" (click)="balClicked()"
                        [ngClass]="{'wit': speler.active && speler.metWit, 'geel': speler.active && !speler.metWit}">
                    <div class="arial" [ngClass]="{'digit3': speler.splTsCar > 99}">
                        <span style="line-height: 1; letter-spacing: -.03em;"
                                [style.color]="speler.active ? 'black' : 'gray'">{{speler.splTsCar > 0 ? speler.splTsCar : ''}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexgrow1 flexbox">
            <div class="fullheight" style="width: 1em;" [style.background-color]="speler.active ? 'black' : 'grey'"></div>
            <div class="fullheight flexgrow1 flexbox flexcolumn">
                <div class="flexbox flexmiddle arial scoredata" [ngClass]="{'active': speler.active, 'geel': !speler.metWit}"
                        style="height: 14em; line-height: 1;">
                    <div class="flex50perc" style="text-align: center;">
                        <span style="font-size: 14em;">{{speler.stand.aantCar}}</span>
                    </div>
                    <div style="width: 6em; text-align: center;" [ngClass]="{'changes': speler.stand.serie > 0}">
                        <span style="font-size: 5em;">{{speler.stand.serie > 0 ? '+' : 'in'}}</span>
                    </div>
                    <div class="flexgrow1 flexbox flexcenter">
                        <div class="aantbrt" [ngClass]="{'serie': speler.stand.serie > 0}">
                            @if (speler.stand.serie > 0) {
                                <span style="font-size: 9em;">{{speler.stand.serie}}</span>
                            }
                            @else {
                                <span style="font-size: 9em;">{{speler.stand.aantBrt}}</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="flexgrow1 flexbox flexmiddle arial extradata" [ngClass]="{'active': speler.active, 'geel': !speler.metWit}" 
                        style="background-color: black;">
                    <div style="width: 19em; line-height: 1; text-align: right;">
                        <span style="font-size: 7em;" [ngClass]="{'changes': speler.stand.serie > 0}"
                                >{{speler.stand.gemiddelde | number:'1.3-3':'nl-NL'}}</span>
                    </div>
                    <div style="width: 6em;"></div>
                    <div class="flexgrow1 flexbox" style="padding-right: 1em;">
                        <div style="line-height: 1;">
                            <span style="font-size: 3em; color: gray;">Perc : </span>
                            <span style="font-size: 4em;" [ngClass]="{'changes': speler.stand.serie > 0, 'clr-red': speler.stand.gemiddelde / speler.splTsGem <= 1}"
                                    >{{(100 * speler.stand.gemiddelde / speler.splTsGem) | number:'1.2-2':'nl-NL'}}</span>
                            <br>
                            <span style="font-size: 3em; color: gray;">Hoog ser : </span>
                            <span style="font-size: 4em;" [ngClass]="{'changes': speler.stand.serie > speler.stand.hoogSer}"
                                    >{{speler.stand.serie > speler.stand.hoogSer ? speler.stand.serie : speler.stand.hoogSer}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullheight arial laatste5" [ngClass]="{'active': speler.active, 'geel': !speler.metWit}"
                    style="width: 11em; background-color: black; color: gray;">
                <div class="lbl">
                    <span>laatste 5</span>
                </div>
                <div class="laatste5data" style="position: relative; top: -.5em;">
                    @for (cars of speler.stand.laatste5brt.slice().reverse(); track $index) {
                        <div style="text-align: center;">
                            <span style="font-size: 4em; letter-spacing: -.075em; line-height: 1;"
                                    [style.opacity]="1 - ($index * .15)">{{cars == 0 ? '­•' : cars}}</span>
                        </div>    
                    }
                </div>
            </div>
        </div>
    </div>
</div>
