<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <div class="flexgrow1">
            @if (configForm) {
                <form [formGroup]="configForm" class="fullheight flexbox flexstretch">
                    <div class="flex35perc" style="border-right: .25em solid green;">
                        <app-section-header [title]="'Spelers'" [cssClasses]="'w3-green-l2 font100'"></app-section-header>
                        <div class="flexbox flexcenter" style="padding: 1em 2em;">
                            <div style="text-align: center;">
                                @if (wedstrijd.aantSpelers == 5) {
                                    <span style="color: green;">Team A</span><br>
                                    @for (spl of wedstrijd.teams[0].spelers; track $index) {
                                        <span>{{spl.splNaam}}</span><br>
                                    }
                                    <br>
                                    <span style="color: green;">Team B</span><br>
                                    @for (spl of wedstrijd.teams[1].spelers; track $index) {
                                        <span>{{spl.splNaam}}</span><br>
                                    }
                                }
                                @else {
                                    @for (spl of wedstrijd.spelers; track $index) {
                                        <span>{{spl.splNaam}}</span><br>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex65perc flexbox flexcolumn">
                        <div class="flex50perc" style="border-bottom: .25em solid green;">
                            <app-section-header [title]="'Spelvorm'" [cssClasses]="'w3-green-l2 font100'"></app-section-header>
                            <div class="flexbox flexcenter" style="font-size: .75em; padding: 1em 2em;">
                                <div>
                                    <table class="tbl-normal tbl-input">
                                        <tbody>
                                            <tr (click)="regelOptieClicked(0)">
                                                <td style="padding-right: .5em;">
                                                    <i [ngClass]="wedIdxRegels?.value == 0 ? 'fas fa-check-circle' : 'far fa-circle'"
                                                            style="cursor: pointer;"></i>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <label for="wedKlasse">{{regelOpties[0]}}</label>
                                                    <select id="wedKlasse" formControlName="wedKlasse">
                                                        @for (klasse of knbbKlassen; track $index) {
                                                            <option [value]="klasse">{{klasse}}</option>
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr (click)="regelOptieClicked(1)">
                                                <td style="padding-right: .5em;">
                                                    <i [ngClass]="wedIdxRegels?.value == 1 ? 'fas fa-check-circle' : 'far fa-circle'"
                                                            style="cursor: pointer;"></i>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <label for="wedAantBrt">{{regelOpties[1]}}</label>
                                                    <input type="number" id="wedAantBrt" style="width: 3.5em;" formControlName="wedAantBrt" autocomplete="off"
                                                            [ngClass]="{'invalid': wedAantBrt?.invalid && (wedAantBrt?.dirty), 
                                                                        'valid': wedAantBrt?.valid && (wedAantBrt?.dirty)}">
                                                </td>
                                            </tr>
                                            <tr (click)="regelOptieClicked(2)">
                                                <td style="padding-right: .5em;">
                                                    <i [ngClass]="wedIdxRegels?.value == 2 ? 'fas fa-check-circle' : 'far fa-circle'"
                                                            style="cursor: pointer;"></i>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <label for="wedAantCar">{{regelOpties[2]}}</label>
                                                    <input type="number" id="wedAantCar" style="width: 3.5em;" formControlName="wedAantCar" autocomplete="off"
                                                            [ngClass]="{'invalid': wedAantCar?.invalid && (wedAantCar?.dirty), 
                                                                        'valid': wedAantCar?.valid && (wedAantCar?.dirty)}">
                                                </td>
                                            </tr>
                                            <tr (click)="regelOptieClicked(3)">
                                                <td style="padding-right: .5em;">
                                                    <i [ngClass]="wedIdxRegels?.value == 3 ? 'fas fa-check-circle' : 'far fa-circle'"
                                                            ></i>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <label for="wedMoyBrt">{{regelOpties[3]}}</label>
                                                    <input type="number" id="wedMoyBrt" style="width: 3.5em;" formControlName="wedMoyBrt" autocomplete="off"
                                                            [ngClass]="{'invalid': wedMoyBrt?.invalid && (wedMoyBrt?.dirty), 
                                                                        'valid': wedMoyBrt?.valid && (wedMoyBrt?.dirty)}">
                                                    <label for="wedMoyBrt" style="padding-left: 1em;">beurten</label>
                                                </td>
                                            </tr>
                                            @if (wedIdxRegels?.value != 1) {
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <label for="wedMaxBrt">Max. aantal beurten per speler</label>
                                                        <input type="number" id="wedMaxBrt" style="width: 3.5em;" formControlName="wedMaxBrt" autocomplete="off"
                                                            [ngClass]="{'invalid': wedMaxBrt?.invalid && (wedMaxBrt?.dirty), 
                                                                        'valid': wedMaxBrt?.valid && (wedMaxBrt?.dirty)}">
                                                    </td>
                                                </tr>    
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="flex50perc">
                            <app-section-header [title]="'Telling'" [cssClasses]="'w3-green-l2 font100'"></app-section-header>
                            <div class="flexbox flexcenter" style="font-size: .75em; padding: 1em 2em;">
                                <div>
                                    <table class="tbl-normal tbl-input">
                                        <tbody>
                                            <tr (click)="telOptieClicked(0)">
                                                <td style="padding-right: .5em;">
                                                    <i [ngClass]="wedIdxTelling?.value == 0 ? 'fas fa-check-circle' : 'far fa-circle'"
                                                            style="cursor: pointer;"></i>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <label>{{telOpties[0]}}</label>
                                                </td>
                                            </tr>
                                            <tr (click)="telOptieClicked(1)">
                                                <td style="padding-right: .5em;">
                                                    <i [ngClass]="wedIdxTelling?.value == 1 ? 'fas fa-check-circle' : 'far fa-circle'"
                                                            style="cursor: pointer;"></i>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <label>{{telOpties[1]}}</label>
                                                </td>
                                            </tr>
                                            @if (wedIdxTelling?.value == 1) {
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <label for="wedPntWinst">Aantal punten bij winst</label>
                                                        <input type="number" id="wedPntWinst" style="width: 3em;" formControlName="wedPntWinst" autocomplete="off"
                                                            [ngClass]="{'invalid': wedPntWinst?.invalid && (wedPntWinst?.dirty), 
                                                                        'valid': wedPntWinst?.valid && (wedPntWinst?.dirty)}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <label for="wedPntGelijk">Aantal punten bij gelijkspel</label>
                                                        <input type="number" id="wedPntGelijk" style="width: 3em;" formControlName="wedPntGelijk" autocomplete="off"
                                                            [ngClass]="{'invalid': wedPntGelijk?.invalid && (wedPntGelijk?.dirty), 
                                                                        'valid': wedPntGelijk?.valid && (wedPntGelijk?.dirty)}">
                                                    </td>
                                                </tr>    
                                            }
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <label for="wedPntBovenMoy">Extra punten indien boven moyenne</label>
                                                    <input type="number" id="wedPntBovenMoy" style="width: 3em;" formControlName="wedPntBovenMoy" autocomplete="off"
                                                        [ngClass]="{'invalid': wedPntBovenMoy?.invalid && (wedPntBovenMoy?.dirty), 
                                                                    'valid': wedPntBovenMoy?.valid && (wedPntBovenMoy?.dirty)}">
                                                </td>
                                            </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>        
                </form>
            }
        </div>
        <app-section-footer-btns [buttons]="buttons" [btnsHide]="[gewijzigd, !gewijzigd]"
                    [btnsDisabled]="[!configForm || !configForm.valid || !configOk, !configForm || !configForm.valid || !configOk]" 
                    (clickedButton)="buttonClicked($event)" 
                    [cssFooter]="'w3-green-bdr'" [cssButtons]="'font125'"></app-section-footer-btns>
    </div>
</div>
