<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Wedstrijd spelen'" [subtitle]="'Oefen wedstrijd - regels'" [spel]="appData.getSpelNaam()"></app-page-header>
        </div>
        <div class="flexgrow1" style="padding: .5em 1em;">
            <div class="flexbox flexcenter">
                <div>
                    @for (optie of optieLijst.filtered; track $index; let idxOpt = $index) {
                        <div class="flexbox flexmiddle selectable" style="margin-top: 1em;" (click)="optieClicked(0, idxOpt)"
                                [ngClass]="{'hovered': optieLijst.hoveredIdx == idxOpt, 'selected': optieLijst.selectedIdx == idxOpt && activeOpties == 0}">
                            <div class="indicator" style="width: 1.25em;">
                                <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                            </div>
                            <div>
                                <span>{{optie}}</span>
                            </div>
                        </div>
                        @if (idxOpt == 0) {
                            <div class="subopties" [ngClass]="{'active': activeOpties == 0 && optieLijst.selectedIdx == idxOpt}" 
                                    style="padding: .5em 0 .5em 5em;">
                                <div>
                                    <div class="flexbox">
                                        <div class="label">Aantal beurten</div>
                                        <div style="padding: 0 .5em;">
                                            <input #vastbrt type="text" style="width: 3.5em;" [(ngModel)]="vastBrt.val"
                                                    [ngClass]="{'active': activeOpties == 0, 'valid': vastBrt.valid, 'invalid': !vastBrt.valid}" 
                                                    [disabled]="activeOpties == 1" (keyup)="validateInput()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (idxOpt == 1) {
                            <div class="subopties" [ngClass]="{'active': optieLijst.selectedIdx == idxOpt || activeOpties == 1}" 
                                    style="padding: .5em 0 .5em 3.75em;">
                                @for (subOptie of subOptieLijst.filtered; track $index; let idxSubOpt = $index) {
                                    <div class="flexbox flexmiddle selectable" (click)="optieClicked(1, idxSubOpt)"
                                            [ngClass]="{'hovered': subOptieLijst.hoveredIdx == idxSubOpt, 'selected': subOptieLijst.selectedIdx == idxSubOpt}">
                                        <div class="indicator" style="width: 1.25em;">
                                            <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                        </div>
                                        <div>
                                            <span>{{subOptie}}</span>
                                        </div>
                                    </div>
                                    @if (idxSubOpt == 0) {
                                        <div [ngClass]="{'subopties': activeOpties == 1, 'active': subOptieLijst.selectedIdx == idxSubOpt}" 
                                                style="padding: .5em 0 .5em 5em;">
                                            <div class="flexbox">
                                                <div class="label">Aantal caramboles</div>
                                                <div style="padding: 0 .5em;">
                                                    <input #vastcar type="text" style="width: 3.5em;" [(ngModel)]="vastCar.val" 
                                                            [ngClass]="{'active': activeOpties == 1 && subOptieLijst.selectedIdx == 0, 
                                                                        'valid': vastCar.valid, 'invalid': !vastCar.valid}"
                                                            [disabled]="activeOpties == 0 || subOptieLijst.selectedIdx == 1" (keyup)="validateInput()">
                                                </div>
                                            </div>                                                    
                                        </div>
                                    }
                                    @if (idxSubOpt == 1) {
                                        <div [ngClass]="{'subopties': activeOpties == 1, 'active': subOptieLijst.selectedIdx == idxSubOpt}" 
                                                style="padding: .5em 0 .5em 5em;">
                                            <div class="flexbox">
                                                <div class="label">Bepaal aantal caramboles over</div>
                                                <div style="padding: 0 .5em;">
                                                    <input #gembrt type="text" style="width: 3.5em;" [(ngModel)]="gemBrt.val" 
                                                            [ngClass]="{'active': activeOpties == 1 && subOptieLijst.selectedIdx == 1, 
                                                                        'valid': gemBrt.valid, 'invalid': !gemBrt.valid}"
                                                            [disabled]="activeOpties == 0 || subOptieLijst.selectedIdx == 0" (keyup)="validateInput()">
                                                </div>
                                                <div class="label">beurten</div>
                                            </div>                                                    
                                        </div>                                        
                                    }
                                }
                                <div style="padding-left: 1.25em;">
                                    <div class="flexbox">
                                        <div class="label">Max. aantal beurten</div>
                                        <div style="padding: 0 .5em;">
                                            <input #maxbrt type="text" style="width: 3.5em;" [(ngModel)]="maxBrt.val" 
                                                    [ngClass]="{'active': activeOpties == 1, 'valid': maxBrt.valid, 'invalid': !maxBrt.valid}"
                                                    [disabled]="activeOpties == 0" (keyup)="validateInput()">
                                        </div>
                                        <div class="label">(0 = geen maximum)</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }    
                </div>
            </div>
        </div>
        @if (inputValid) {
            <div style="border-top: .25em solid green">
                <div class="flexbox flexcenter" style="font-size: 1.25em; padding: .125em 0;">
                    <app-button [button]="enterButton" (buttonClicked)="gaVerderClicked()"></app-button>
                </div>
            </div>
        }
    </div>
</div>
