<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Wedstrijd spelen'" [subtitle]="'Oefen wedstrijd - regels'" [spel]="appData.getSpelNaam()"
                        [escCount]="escapeCount" (escClicked)="escapePressed()" (prevClicked)="previousClicked()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox">
            <div style="padding-left: 15em;">
                <div style="width: 15em;"></div>
                <div>
                    <div style="height: 2em;"></div>
                    @for (optie of optieLijst.filtered; track $index; let idxOpt = $index) {
                        <div class="opties flexbox flexmiddle selectable" (click)="optieClicked(0, idxOpt)"
                                [ngClass]="{'hovered': optieLijst.hoveredIdx == idxOpt, 'selected': optieLijst.selectedIdx == idxOpt}">
                            <div class="indicator" style="width: 1.5em;">
                                <i [ngClass]="optieLijst.selectedIdx == idxOpt ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                            </div>
                            <div>
                                <span>{{optie}}</span>
                            </div>
                        </div>
                    }
                    <hr>
                    @if (optieLijst.selectedIdx == 0) {
                        <div>
                            <div class="flexbox" style="padding-top: .5em;">
                                <div class="label">{{'Aantal beurten' + (wedstrijd.aantSpelers == 5 ? ' per speler' : '')}}</div>
                                <div style="padding: 0 .5em;">
                                    <input #vastbrt type="text" style="width: 3.5em;" [(ngModel)]="vastBrt.val"
                                            [ngClass]="{'active': activeLijst == 0, 'valid': vastBrt.valid, 'invalid': !vastBrt.valid}" 
                                            [disabled]="activeLijst == 1" (keyup)="validateInput()">
                                </div>
                            </div>
                        </div>
                    }
                    @if (optieLijst.selectedIdx == 1) {
                        @for (subOptie of subOptieLijst.filtered; track $index; let idxSubOpt = $index) {
                            <div class="opties flexbox flexmiddle selectable" (click)="optieClicked(1, idxSubOpt)"
                                    [ngClass]="{'hovered': subOptieLijst.hoveredIdx == idxSubOpt, 'selected': subOptieLijst.selectedIdx == idxSubOpt}">
                                <div class="indicator" style="width: 1.5em;">
                                    <i [ngClass]="subOptieLijst.selectedIdx == idxSubOpt ? 'fas fa-check-circle' : 'far fa-circle'"></i>
                                </div>
                                <div>
                                    <span>{{subOptie}}</span>
                                </div>
                            </div>
                        }
                        <hr>
                        @if (subOptieLijst.selectedIdx == 0) {
                            <div class="flexbox" style="padding-top: .5em;">
                                <div class="label">{{'Aantal caramboles' + (wedstrijd.aantSpelers == 5 ? ' per team' : '')}}</div>
                                <div style="padding: 0 .5em;">
                                    <input #vastcar type="text" style="width: 3.5em;" [(ngModel)]="vastCar.val" 
                                            [ngClass]="{'active': activeLijst == 1 && subOptieLijst.selectedIdx == 0, 
                                                        'valid': vastCar.valid, 'invalid': !vastCar.valid}"
                                            (keyup)="validateInput()">
                                </div>
                            </div>
                        }
                        @else {
                            <div class="flexbox" style="padding-top: .5em;">
                                <div class="label">Bereken aantal caramboles over</div>
                                <div style="padding: 0 .5em;">
                                    <input #gembrt type="text" style="width: 3.5em;" [(ngModel)]="gemBrt.val" 
                                            [ngClass]="{'active': activeLijst == 1 && subOptieLijst.selectedIdx == 1, 
                                                        'valid': gemBrt.valid, 'invalid': !gemBrt.valid}"
                                            [disabled]="activeLijst == 0 || subOptieLijst.selectedIdx == 0" (keyup)="validateInput()">
                                </div>
                                <div class="label">beurten</div>
                            </div>
                        }
                        <div class="flexbox" style="padding-top: .5em;">
                            <div class="label">Max. aantal beurten</div>
                            <div style="padding: 0 .5em;">
                                <input #maxbrt type="text" style="width: 3.5em;" [(ngModel)]="maxBrt.val" 
                                        [ngClass]="{'active': activeLijst == 1, 'valid': maxBrt.valid, 'invalid': !maxBrt.valid}"
                                        [disabled]="activeLijst == 0" (keyup)="validateInput()">
                            </div>
                            <div class="label">(0 = geen maximum)</div>
                        </div>
                    }
                </div>
                <div class="flexgrow1"></div>
            </div>
        </div>
        @if (inputValid && optieLijst.hoveredIdx < 0 && subOptieLijst.hoveredIdx < 0) {
            <div style="border-top: .25em solid green">
                <div class="flexbox flexcenter" style="font-size: 1.25em; padding: .125em 0;">
                    <app-button [button]="enterButton" (buttonClicked)="gaVerderClicked()"></app-button>
                </div>
            </div>
        }
    </div>
</div>
