.opties.selectable {
    cursor: pointer;
    color: #163317;
    opacity: .5;
    padding: 0 .5em;
    border: .0625em solid #dbefdc;
    border-radius: .5em;
    line-height: 1.75em;
}
.opties.selectable.selected {
    opacity: 1;
}
.opties.selectable.hovered {
    border-color: #357a38;
}
.opties.selectable:hover {
    background-color: #93cf95;
}

.opties .indicator {
    color: #357a38;
    opacity: 0.5;
}
.opties.selectable.selected .indicator {
    opacity: 1;
}

.subopties .selectable {
    cursor: pointer;
    color: #163317;
    opacity: .5;
    padding: 0 .5em;
    border: .0625em solid #dbefdc;
    border-radius: .5em;
}
.subopties .selectable.selected {
    opacity: 1;
}
.subopties .selectable.hovered {
    border-color: #357a38;
}
.subopties .selectable:hover {
    background-color: #93cf95;
}

.subopties .indicator {
    color: #357a38;
    position: relative;
    opacity: 0;
}
.subopties .selectable.selected .indicator {
    opacity: 1;
}

.subopties {
    opacity: .25;
}
.subopties.active {
    opacity: 1;
}

input.active.valid {
    background-color: #beffbe;
}
input.active.invalid {
    background-color: #ffacac;
}