.bss-scorebord { height: 33.75em; }
.bss-scorebord .bss-score-1 { width: 60em; }
.bss-scorebord .bss-score-2 { width: 60em; }
.bss-scorebord .bss-score-3 { width: 90em; }
.bss-scorebord .bss-landscape { width: 60em; height: 33.75em; }
.bss-scorebord .bss-portrait { width: 30em; height: 33.75em; }

.scale-for3 {
    transform: translateX(-10em) scaleX(.666666);
}

.gameover .speler-container {
    border: .5em solid gray;
}
.speler-container {
    background-color: lightgray;
}
.speler-container.thuis:not(.active) {
    box-shadow: inset -1.35em 0 1em -1em #000000;
    filter: blur(2px);
}
.speler-container.gasten:not(.active) {
    box-shadow: inset 1.35em 0 1em -1em #000000;
    filter: blur(2px);
}
.gameover .speler-container.thuis:not(.active) {
    filter: none;
}
.gameover .speler-container.gasten:not(.active) {
    filter: none;
}

.speler-container.thuis.active {
    border: .5em solid white;
}
.speler-container.gasten.active {
    border: .5em solid gold;
}
.speler-container div {
    overflow: hidden;
}

.keylock {
    position: fixed;
    top: 0;
    left: 29em;
    color: red;
    opacity: .5;
    z-index: 50;
}
.keylock i {
    font-size: 2em;
}

.help {
    position: fixed;
    width: 42em;
    top: 3em;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: .375em .375em .1875em #aaaaaa;
    font-weight: bold;
    background-color: white;
    border-radius: .375em;
    padding: .125em;
    z-index: 20;
}
.help-inner {
    border: .125em solid black;
    border-radius: .375em;
    padding: 1em;
}
.helptext {
    height: 1em;
    line-height: .75em;
    opacity: .6;
}
.helptext span {
    font-size: .75em;
    letter-spacing: -.05em;
}
.help-btn-key {
    width: 1em;
    height: 1em;
    line-height: .5em;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: .2em;
    text-align: center;
    cursor: pointer;
}
.help-btn-key:hover {
    background-color: grey;
}
.help-btn-key.help-btn-key-wide {
    width: 2em;
}
.help-btn-key span {
    font-size: .5em;
}
.help-btn-equ {
    width: 1em;
    height: 1em;
    line-height: .5em;
    text-align: center;
}
.help-btn-equ span {
    font-size: .5em;
}
