<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Wedstrijd spelen'" [subtitle]="'Oefen wedstrijd - aantal spelers'" [spel]="appData.getSpelNaam()"
                        (prevClicked)="escapePressed()" (hdrClicked)="headerClicked($event)"></app-page-header>
        </div>
        <div class="flexgrow1">
            <div style="height: 2em;"></div>
            <div class="scroll-container">
                <div class="scroll-content">
                    <div class="flexbox flexcenter">
                        <div class="lijst">
                            @for (aantSpl of aantalLijst.filtered; track $index) {
                                <div class="lijst-row selectable" (click)="aantalClicked($index)"
                                        [ngClass]="{'selected': aantalLijst.selectedIdx == $index, 'hovered': aantalLijst.hoveredIdx == $index}">
                                    <div class="lijst-col indicator" style="width: 2em;">
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="lijst-col">
                                        <span>{{aantSpl}}</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        @if (aantalLijst.hoveredIdx >= 0) {
            <app-section-footer-btns [buttons]="buttons" (clickedButton)="buttonClicked($event)" 
                                [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
        }
    </div>
</div>
