<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'KNBB team match'" [subtitle]="'Controle selectie spelers'" [spel]="appData.getSpelNaam()"
                    [escCount]="escapeCount" [help]="true" (escClicked)="escapePressed()" (prevClicked)="previousClicked()"
                    (hdrClicked)="headerClicked($event)" (hlpClicked)="helpClicked()"></app-page-header>
        </div>
        @if (dataReady) {
            <div class="flexgrow1 flexbox flexstretch">
                <div style="font-size: 1.25em;">
                    <div style="padding: 0 1.5em;">
                        <div class="label nowrap" style="margin-top: 5.5em;">Wedstrijd 1</div>
                        <div class="label nowrap" style="margin-top: 4em;">Wedstrijd 2</div>
                        <div class="label nowrap" style="margin-top: 4em;">Wedstrijd 3</div>
                    </div>
                </div>
                <div class="flexbox flexcenter" style="width: 2em;">
                    <div style="width: 1em; padding-top: 4.25em;">
                        <div style="height: 7em; padding: .5em 0;">
                            @switch (wedStatus[0]) {
                                @case (0) {
                                    <div class="thermo-start"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen" 
                                            [style.background-size]="'100% ' + voortgang[0]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end"></div>
                                }
                            }
                        </div>
                        <div style="height: 7em; padding: .5em 0;">
                            @switch (wedStatus[1]) {
                                @case (0) {
                                    <div class="thermo-start"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen" 
                                            [style.background-size]="'100% ' + voortgang[1]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end"></div>
                                }
                            }
                        </div>
                        <div style="height: 7em; padding: .5em 0;">
                            @switch (wedStatus[2]) {
                                @case (0) {
                                    <div class="thermo-start"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen" 
                                            [style.background-size]="'100% ' + voortgang[2]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end"></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="flexgrow1 flexbox flexstretch">
                    @for (team of teams; track $index; let idxT = $index) {
                        <div class="flex50perc">
                            <div class="label" style="text-align: center; line-height: 1.2; padding-top: .5em;">
                                <span style="font-size: 1.5em;">{{idxT == 0 ? 'THUIS' : 'GASTEN'}}</span>
                            </div>
                            <div style="text-align: center; line-height: 1.2; padding-bottom: .5em;">
                                <span style="font-size: 1.5em;">{{team.teamNaam}}</span>
                            </div>
                            <div class="flexbox flexcenter">
                                <div>
                                    @for (spl of team.spelers; track $index; let idxS = $index) {
                                        <div class="wedspeler" 
                                                [ngClass]="{'active': idxTeam == idxT && idxSpeler == idxS, 
                                                            'geel': idxT == 1,
                                                            'switching': cssSwitching[idxT][idxS]}" 
                                                (click)="maakSpelerActief(idxT, idxS)" style="margin-bottom: .5em;">
                                            <div class="naam" style="font-size: 1.25em;">
                                                <span>{{spl.splNaam}}</span>
                                            </div>
                                            <div class="flexbox flexbetween">
                                                <div>
                                                    <div class="label"><span>Bordnaam</span></div>
                                                    <div style="font-size: 1.25em; line-height: 1.4;">
                                                        <input [id]="'naam' + idxT + idxS" type="text" style="width: 6em;" [(ngModel)]="spl.splBordNaam"
                                                                [disabled]="!(idxTeam == idxT && idxSpeler == idxS)"
                                                                (keyup)="keyupNaam(idxT, idxS)" (click)="stopPropagation($event)"
                                                                [ngClass]="{'invalid': !naamValid[idxT][idxS]}" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="label"><span>Moy</span></div>
                                                    <div style="font-size: 1.25em; line-height: 1.4;">
                                                        <input [id]="'moy' + idxT + idxS" type="text" style="width: 4em;" [(ngModel)]="spl.splTsGem"
                                                                [disabled]="!(idxTeam == idxT && idxSpeler == idxS)" 
                                                                (keyup)="keyupMoyenne(idxT, idxS)" (click)="stopPropagation($event)"
                                                                [ngClass]="{'invalid': !moyValid[idxT][idxS]}" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="label"><span>Car</span></div>
                                                    <div style="font-size: 1.25em; line-height: 1.4;">
                                                        <input [id]="'car' + idxT + idxS" type="text" class="car" style="width: 3em;" [(ngModel)]="spl.splTsCar"
                                                                [disabled]="!(idxTeam == idxT && idxSpeler == idxS)" 
                                                                (keyup)="keyupCaramboles(idxT, idxS)" (click)="stopPropagation($event)"
                                                                [ngClass]="{'invalid': !carValid[idxT][idxS]}" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (matchChanged || namesChanged || matchValid || canMoveUp || canMoveDown) {
                <app-section-footer-btns [buttons]="buttons" (clickedButton)="buttonClicked($event)"
                        [btnsHide]="[
                            !(matchChanged || namesChanged), 
                            !(matchGestart && matchValid && !matchChanged), 
                            !matchValid,
                            !canMoveUp,
                            !canMoveDown
                        ]"
                        [cssFooter]="'w3-green-bdr-d2'" [cssButtons]="'font125'"></app-section-footer-btns>
            }
        }
    </div>
</div>
<app-help [title]="'Team match - controle selectie spelers'">
    <div>
        Op dit scherm kunnen er nog een aantal gegevens van de spelers worden gewijzigd.<br>
        Let op! Deze wijzigingen hebben alleen betrekking op deze match. Ga naar 'Onderhoud gegevens / Spelers' om spelergegevens definitief te wijzigen.
    </div>
    <div class="help-card-header">Speler selecteren</div>
    <div>Klik op een speler of gebruik de pijltjes-toetsen om een speler te selecteren. Een rood kader geeft de geselecteerde speler aan.</div>
    <div class="help-card-header">Spelers wisselen</div>
    <div>
        Wanneer 2 spelers binnen een team hetzelfde aantal caramboles hebben dan mogen deze spelers worden gewisseld. <br>
        Selecteer een speler die daarvoor in aanmerking komt en onderin zal een button verschijnen met 'Omhoog' of 'Omlaag', al naar gelang de situatie.
        Klik op de button (of gebruik de aangegeven toetsen) om de geselecteerde speler te verplaatsen.
    </div>
    <div class="help-card-header">Gegevens wijzigen</div>
    <div>
        Van een geselecteerde speler kan de naam, het moyenne en/of het aantal caramboles worden gewijzigd. Na wijzigingen kan altijd worden teruggegaan
        naar de oorspronkelijke situatie door onderin op de 'Reset' button te klikken.
    </div>
    <div class="help-card-alinea">
        Bij wijziging van het moyenne wordt automatisch het aantal caramboles aangepast.
    </div>
    <div class="help-card-alinea">
        De spelers moeten altijd op volgorde van aantal caramboles staan.<br>
        Wanneer dit door het wijzigen van het aantal caramboles niet meer het geval is dan kan dat gecorrigeerd worden door op de button 'Omhoog' of
        'Omlaag' te klikken tot de volgorde weer correct is.
    </div>
    <div class="help-card-header">Naar match</div>
    <div>
        Als alle gegevens en de volgorde van de spelers correct zijn verschijnt onderin de button 'Naar match' om verder te gaan.
    </div>
</app-help>
