.hoofdstuk {
    font-size: 1.125em;
    line-height: 1.25;
    text-align: center;
    padding: 0 .5em;
    border-radius: .25em;
    color: #459c48;
    cursor: pointer;
}
.hoofdstuk.selected {
    cursor: default;
    background-color: #93cf95;
}
.hoofdstuk.selected, .hoofdstuk:hover {
    color: #1e461f;
}