<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onzestanden'" [subtitle]="'Competities Kempenland'" [spel]="appData.getSpelNaam()" [help]="true" 
                        (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" 
                        (prevClicked)="previousPressed()" (hlpClicked)="helpClicked()"></app-page-header>
        </div>
        @if (status == 'loading') {
            <div class="flexgrow1 flexbox flexcenter flexmiddle" style="background-color: white;">
                <div>
                    <div style="text-align: center;">Gegevens ophalen...</div>
                    <img src="images/Loading_icon.gif" alt="">
                </div>
            </div>
        }
        @if (status == 'error') {
            <div class="flexgrow1 flexbox flexcenter flexmiddle">
                <div>
                    <div style="text-align: center;">Fout bij ophalen OnzeStanden pagina. <br> Probeer het over enkele seconden opnieuw.</div>
                </div>
            </div>
        }
        <!-- <div class="flexbox flexmiddle" style="min-height: 3em; border-bottom: .25em solid green;">
            <div class="label" style="padding-left: 1em;">
                <span>Kies een district</span>
            </div>
            <div style="padding-left: .5em;">
                <select [(ngModel)]="district" (change)="districtChanged()">
                    @for (distr of districten; track $index) {
                        <option [ngValue]="distr">{{distr.disNaam}}</option>
                    }
                </select>
            </div>
        </div> -->
        @if (status == 'success') {
            <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
                <div class="lijst-row">
                    <div class="lijst-col" style="width: 4.5em;">in BSS</div>
                    <div class="lijst-col" style="width: 5em;">BSS ID</div>
                    <div class="lijst-col num" style="width: 5.5em;">KNBB ID</div>
                    <div class="lijst-col" style="width: 1em;"></div>
                    <div class="lijst-col" style="width: 4.5em;">Klasse</div>
                    <div class="lijst-col" style="width: 4.5em;">Volgnr</div>
                    <div class="lijst-col" style="width: 15em;">Naam</div>
                    <div class="lijst-col" style="width: 4.5em;">Poule</div>
                    <div class="lijst-col" style="width: 8em;">Seizoen</div>
                </div>
            </div>
            <div class="flexgrow1 scroll-container">
                <div #districtlijst class="scroll-content">
                    <div class="flexbox flexcenter">
                        <div class="lijst">
                            @for (comp of bpCompetities; track $index) {
                                <div class="lijst-row selectable" (click)="competitieClicked($index)">
                                    <div class="lijst-col center" style="width: 4.5em;">
                                        @if (comp.inBss) {
                                            <i class="fas fa-check"></i>
                                        }
                                    </div>
                                    <div class="lijst-col" style="width: 5em;">
                                        @if (comp.inBss) {
                                            <span>{{comp.bssId}}</span>
                                        }
                                    </div>
                                    <div class="lijst-col" style="width: 5.5em;">
                                        <span>{{comp.knbbId}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 1em;"></div>
                                    <div class="lijst-col" style="width: 4.5em;">
                                        <span>{{comp.klasse}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 4.5em;">
                                        <span>{{comp.volgNr}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 15em;">
                                        <span>{{comp.naam}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 4.5em;">
                                        <span>{{comp.poule}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 8em;">
                                        <span>{{comp.seizoen}}</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>    
        }
    </div>
</div>
<app-help [title]="'Onzestanden competities'">
    <div>
        Dit is het startscherm voor het inlezen van de competities en teams vanuit Onzestanden.
    </div>
    <div class="help-card-alinea">
        Er wordt een lijst getoond met alle drieband-klein (B1-B2) competities van het aangegeven district zoals aanwezig in Onzestanden.
    </div>
    <div class="help-card-alinea">
        De kolommen 'in BSS' en 'BSS ID' worden pas gevuld als de Onzestanden competitie ook in BSS aanwezig is.
    </div>
    <div class="help-card-alinea">
        Klik op een competitie om deze te gaan verwerken.
    </div>
    <div class="help-card-header">Competitie verwerken</div>
    <div>
        Na het selecteren van een competitie zijn er 3 mogelijkheden:
    </div>
    <div class="help-card-alinea">
        1. De competitie bestaat nog niet in BSS. <br>
        2. De competitie bestaat in BSS maar sommige gegevens in BSS verschillen met die in Onzestanden. <br>
        3. De competitie bestaat in BSS en is identiek aan die in Onzestanden.
    </div>
    <div class="help-card-alinea">
        Bij optie 1 en 2 wordt het 'Competitie' scherm getoond waarop de competitie kan worden toegevoegd (1) of gewijzigd (2). <br>
        Bij optie 3 ga je meteen naar het 'Competitie - Teams' scherm waarop de teams van de competitie verwerkt kunnen worden.
    </div>
    <div class="help-card-header">Kies een district</div>
    <div>
        Het te kiezen district wordt default gevuld met het voorkeursdistrict zoals aangegeven bij de functie 'Districten'.
    </div>
    <div class="help-card-alinea help-card-bold">
        Let op! De Onzestanden functionaliteit werkt momenteel alleen voor district 'Kempenland'. Dus vul hier geen ander district in!
    </div>
</app-help>
