.cijfer-container {
    width: .53125em;
    height: .8125em;
    overflow: hidden;
}

.cijfer {
    line-height: .8; 
    letter-spacing: -.025em;
    translate: 0 0;
    transition: translate .4s;
}
.cijfer.notrans {
    transition: none;
}
.cijfer.cijferUp {
    translate: 0 -.8125em;
}
.cijfer.cijferDown {
    translate: 0 .8125em;
}
