<div style="font-size: .5rem;">
    <div class="flexbox">
        <app-annon-speler-wide  [speler]="wedstrijd.spelers[0]"
                                [cats]="wedstrijd.config.cats"
                                [wedklaar]="wedstrijd.wedGespeeld"></app-annon-speler-wide>
        <app-annon-speler-wide  [speler]="wedstrijd.spelers[1]"
                                [cats]="wedstrijd.config.cats"
                                [wedklaar]="wedstrijd.wedGespeeld"></app-annon-speler-wide>
    </div>
    <div class="flexbox">
        <app-annon-speler-wide  [speler]="wedstrijd.spelers[2]"
                                [cats]="wedstrijd.config.cats"
                                [wedklaar]="wedstrijd.wedGespeeld"></app-annon-speler-wide>
        <app-annon-speler-wide  [speler]="wedstrijd.spelers[3]"
                                [cats]="wedstrijd.config.cats"
                                [wedklaar]="wedstrijd.wedGespeeld"></app-annon-speler-wide>
    </div>
</div>

