<div class="bordls fullheight flexbox flexstretch" [ngClass]="{'active': speler.actief, 'smaller': !speler.actief, 'pent': !speler.grid.isAnnon}">
    <div class="flexgrow1 flexbox flexcolumn">
        <div class="flexbox flexmiddle spelerdata active" style="height: 8em;">
            <div class="flexbox flexbase" style="width: 48em;">
                <div class="flexgrow1" style="padding: 0 1em; white-space: nowrap; overflow: hidden;">
                    <span class="wit" style="font-size: 5em; line-height: 1.25;">{{speler.splBordNaam}}</span>
                </div>
                <div class="arial" style="padding: 0 1em; min-width: 16.5em;">
                    <span style="font-size: 2.5em; color: lightgray;">moy: </span>
                    <span class="wit" style="font-size: 4em;">{{speler.splTsMoy | number:'1.3-3':'nl-NL'}}</span>
                </div>
            </div>
        </div>
        <div class="flexgrow1">
            <div class="annon-score" style="height: 24em; margin-left: 1em;">
                @for (cat of cats; track $index; let idx = $index) {
                    <div class="category flexbox flexmiddle">
                        <div class="catnaam">
                            <span>{{cat.naam}}</span>
                        </div>
                        @if (speler.stand.totaal.cars[idx] == speler.splTsCar && !wedklaar) {
                            <div class="flexgrow1 vol">
                                <span>▪ ▪ ▪ V O L ▪ ▪ ▪</span>
                            </div>
                        }
                        @else {
                            @for (nr of speler.splTsCarArr; track $index) {
                                <div class="cat-bullet-container flexbox flexcenter" [style.width]="speler.grid.balContainerWidth + 'em'">
                                    <div data-kleur="" class="cat-bullet biljartbal" [style.width]="speler.grid.balWidth + 'em'" 
                                        [ngClass]="{'zwart': nr <= speler.stand.totaal.cars[idx], 
                                                    'rood': nr > speler.stand.totaal.cars[idx] && nr <= (speler.stand.totaal.cars[idx] + speler.stand.serie.cars[idx]), 
                                                    'wit': nr > (speler.stand.totaal.cars[idx] + speler.stand.serie.cars[idx])}">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="flexbox flexcolumn" style="width: 11em;">
        <div class="spelerdata active" style="width: 11em; height: 10em; padding: .5em 1em;">
            <div class="fullheight flexbox flexcenter flexmiddle clickable wit" data-kleur=""
                    [ngClass]="{'active biljartbal': speler.actief}">
            </div>
        </div>
        <div class="flexgrow1 arial" style="width: 11em; color: lightgray;">
            <div style="height: 11em; padding-top: 1em;">
                <div style="color: lightgray; text-align: center;">
                    <span style="font-size: 2em;">Beurt</span>
                </div>
                <div class="annon-beurt">
                    <span style="font-size: 6em;">{{speler.stand.aantBrt}}</span>
                </div>
            </div>
            <div style="height: 11em; padding-top: 1em;">
                <div style="color: lightgray; text-align: center;">
                    <span style="font-size: 2em;">Punt</span>
                </div>
                <div class="flexbox flexcenter">
                    <div class="annon-punten">
                        <span style="font-size: 7em;">{{speler.stand.punten}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
