.cars-optie {
    height: 2em;
}
.cars-optie:not(.selected) {
    cursor: pointer;
}
.cars-optie .optietekst {
    color: gray;
}
.cars-optie.selected .optietekst {
    color: black;
}

.spel-optie:not(.selected) {
    cursor: pointer;
}
.spel-optie .optietekst {
    color: gray;
}
.spel-optie.selected .optietekst {
    color: black;
}
