<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Wedstrijd spelen'" [subtitle]="'Oefen wedstrijd'" [spel]="appData.getSpelNaam()"
                        (prevClicked)="escapePressed()" (hdrClicked)="headerClicked($event)"></app-page-header>
        </div>
        <div class="flexbox flexcenter">
            <div style="padding: .5em 0; color: gray;">
                @if (wedstrijd.isVastAantBrt) {
                    <span>Iedere speler speelt <span class="label">{{wedstrijd.tsBeurten}}</span> beurten</span>
                }
                @else if (wedstrijd.isVastAantCar) {
                    <span>Iedere speler speelt <span class="label">{{wedstrijd.tsCaramboles}}</span> caramboles</span>
                    <br>
                    <span>Maximum aantal beurten: </span>
                    <span class="label">{{wedstrijd.maxBeurten == 0 ? 'geen maximum' : wedstrijd.maxBeurten}}</span>
                }
                @else {
                    <span>Aantal caramboles op basis van gemiddelde en <span class="label">{{wedstrijd.tsBeurten}}</span> beurten</span>
                    <br>
                    <span>Maximum aantal beurten: </span>
                    <span class="label">{{wedstrijd.maxBeurten == 0 ? 'geen maximum' : wedstrijd.maxBeurten}}</span>
                }
            </div>
        </div>
        <div style="height: .25em; background-color: green;"></div>
        <div class="flexgrow1 flexbox flexcenter flexmiddle">
            <div>
                <div class="flexbox" style="padding: .125em 0;">
                    <div style="width: 19em;"></div>
                    <div class="w3-green-d1" style="width: 10.5em; text-align: center;">Te spelen</div>
                    <div style="width: 1em;"></div>
                    <div class="w3-green-d1" style="width: 13.5em; text-align: center;">Gespeeld</div>
                </div>
                <div class="flexbox" style="padding: .125em 0;">
                    <div class="label" style="width: 19em;">Naam</div>
                    <div class="label" style="width: 4.5em; text-align: right;">Moy</div>
                    <div class="label" style="width: 3em; text-align: right;">Car</div>
                    <div class="label" style="width: 3em; text-align: right;">Brt</div>
                    <div style="width: 1em;"></div>
                    <div class="label" style="width: 3em; text-align: right;">Car</div>
                    <div class="label" style="width: 3em; text-align: right;">Brt</div>
                    <div class="label" style="width: 4.5em; text-align: right;">Moy</div>
                    <div class="label" style="width: 3em; text-align: right;">Ser</div>
                </div>
                <div class="w3-green-bg-d1" style="width: 44em; height: .125em;"></div>
                @if (wedstrijd.teams.length) {
                    @for (team of wedstrijd.teams; track $index) {
                        @for (spl of team.spelers; track $index) {
                            <app-speler [speler]="spl" (bordNaamChanged)="bordNaamChanged()"></app-speler>
                        }
                        <app-team [team]="team" (teamNaamChanged)="teamNaamChanged()"></app-team>
                        <div class="w3-green-bg-d1" style="width: 44em; height: .125em;"></div>
                    }    
                }
                @else {
                    @for (spl of wedstrijd.spelers; track $index) {
                        <app-speler [speler]="spl" (bordNaamChanged)="bordNaamChanged()"></app-speler>
                    }
                    <div class="w3-green-bg-d1" style="width: 44em; height: .125em;"></div>
                }
            </div>
        </div>
        @if (namesValid) {
            <div style="border-top: .25em solid green">
                <div class="flexbox flexcenter" style="font-size: 1.25em; padding: .125em 0;">
                    <app-button [button]="nieuwButton" (buttonClicked)="andereClicked()"></app-button>
                    @if (wedGestart) {
                        <app-button [button]="opnieuwButton" (buttonClicked)="opnieuwClicked()"></app-button>
                    }
                    <app-button [button]="enterButton" (buttonClicked)="enterClicked()"></app-button>
                </div>
            </div>
        }
    </div>
</div>
