<div style="font-size: .5rem;">
    <div class="flexbox">
        <div>
            <app-score-team [team]="wedstrijd.teams[0]"
                            [maxBrt]="wedstrijd.regels.maxBeurten"
                            [isVijfde]="wedstrijd.regels.idxOptie == 4"
                            [position]="'left'"></app-score-team>
            <app-score-wed-spel2 [wedstrijd]="wedstrijd"
                                 [speler]="wedstrijd.teams[0].spelers[0]"
                                 [tegenstander]="wedstrijd.teams[0].spelers[1]"></app-score-wed-spel2>
        </div>
        <div>
            <app-score-team [team]="wedstrijd.teams[1]"
                            [maxBrt]="wedstrijd.regels.maxBeurten"
                            [isVijfde]="wedstrijd.regels.idxOptie == 4"
                            [position]="'right'"></app-score-team>
            <app-score-wed-spel2 [wedstrijd]="wedstrijd"
                                 [speler]="wedstrijd.teams[1].spelers[0]"
                                 [tegenstander]="wedstrijd.teams[1].spelers[1]"></app-score-wed-spel2>
        </div>
    </div>
</div>
