<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [district]="appData.getDistrict().disNaam"
                        (hdrClicked)="gotoOnderhoud()" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <app-section-header [title]="subtitle2" [cssClasses]="'w3-green-l1'"></app-section-header>
        <div class="flexgrow1 flexbox">
            <div class="fullheight flexbox flexcolumn section" style="border-right: .125em solid #93cf95;">
                <app-section-header [id]="0" [title]="'Competitie'" [cssClasses]="'w3-green-l3'" 
                        [active]="activeSection == 0" (headerClicked)="activeSection = 0"></app-section-header>
                <div class="flexgrow1 flexbox flexcenter" style="padding: 1em 2em;">
                    <div>
                        @if (compDataForm) {
                            <form [formGroup]="compDataForm">
                                <table class="tbl-normal tbl-input">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label for="compKlasse">Klasse</label>
                                            </td>
                                            <td>
                                                <span>{{competitie.klasse}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compVolgnr">Volgnr</label>
                                            </td>
                                            <td>
                                                <span>{{competitie.volgNr}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compPoule">Poule</label>
                                            </td>
                                            <td>
                                                <span>{{competitie.poule}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="knbbId">KNBB ID</label>
                                            </td>
                                            <td>
                                                <input #knbbid type="text" id="knbbId" style="width: 4em;" formControlName="knbbId" autocomplete="off"
                                                        [ngClass]="{'invalid': knbbId?.invalid && (knbbId?.dirty), 'valid': knbbId?.valid && (knbbId?.dirty)}"
                                                        (blur)="knbbId?.setValue(knbbId?.value.trim())" (keyup)="setDataChanged()" (focus)="activeSection = 0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compNaam">Naam<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <input #compnaam type="text" id="compNaam" style="width: 12em;" formControlName="naam" autocomplete="off"
                                                        [ngClass]="{'invalid': naam?.invalid && (naam?.dirty), 'valid': naam?.valid && (naam?.dirty)}"
                                                        (blur)="naam?.setValue(naam?.value.trim())" (keyup)="setDataChanged()" (focus)="activeSection = 0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compBeurten">Max. beurten<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <input #compbeurten type="number" id="compBeurten" style="width: 4em;" formControlName="maxBeurten"
                                                        [ngClass]="{'invalid': maxBeurten?.invalid && (maxBeurten?.dirty), 'valid': maxBeurten?.valid && (maxBeurten?.dirty)}"
                                                        (keyup)="setDataChanged()" (change)="setDataChanged()" (focus)="activeSection = 0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>        
                            </form>
                        }
                    </div>
                </div>
                @if (compDataForm && compDataForm.valid && dataChanged && activeSection == 0) {
                    <app-section-footer-btns [buttons]="compButtons" (clickedButton)="compButtonClicked()"
                                            [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            </div>
            <div class="flexgrow1 flexbox flexcolumn" style="border-left: .125em solid #93cf95;">
                <app-section-header [id]="1" [title]="'Teams'" [cssClasses]="'w3-green-l3'" 
                        [active]="activeSection == 1" (headerClicked)="activeSection = 1"></app-section-header>
                <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
                    <div class="lijst-row">
                        <div class="lijst-col" style="width: 2.5em;"></div>
                        <div class="lijst-col" style="width: 5em;">Klasse</div>
                        <div class="lijst-col" style="width: 14em;">Naam</div>
                        <div class="lijst-col" style="width: 5em;" title="Aantal spelers">Spelers</div>
                    </div>
                </div>
                <div class="flexgrow1 scroll-container">
                    <div class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst">
                                @for (team of teamLijst.filtered; track $index) {
                                    <div class="lijst-row selectable" [ngClass]="{'selected': teamLijst.selectedIdx == $index}" (click)="teamClicked($index)">
                                        <div class="lijst-col indicator" style="width: 2.5em;">
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                        <div class="lijst-col" style="width: 5em;">
                                            <span>{{team.klasse + '-' + team.volgNr}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 14em;">
                                            <span>{{team.naam}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 5em;">
                                            <span>{{team.teamLeden.length}}</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="teamButtons" [btnsDisabled]="[activeSection == 0]" (clickedButton)="teamButtonClicked()"
                                        [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
        </div>
    </div>
</div>
