<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [district]="appData.getDistrict().disNaam"></app-page-header>
        </div>
        <app-section-header [title]="subtitle2" [cssClasses]="'w3-green-l1'"></app-section-header>
        <div class="flexgrow1 flexbox">
            <div class="fullheight flexbox flexcolumn section" style="border-right: .125em solid #93cf95;">
                <app-section-header [title]="'Competitie'" [cssClasses]="'w3-green-l3'" [active]="activeSection == 0"></app-section-header>
                <div class="flexgrow1 flexbox flexcenter" style="padding: 1em 2em;">
                    <div>
                        @if (compDataForm) {
                            <form [formGroup]="compDataForm">
                                <table class="tbl-normal tbl-input">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label for="compKlasse">Klasse</label>
                                            </td>
                                            <td>
                                                <span>{{competitie.klasse}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compVolgnr">Volgnr</label>
                                            </td>
                                            <td>
                                                <span>{{competitie.volgNr}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compPoule">Poule</label>
                                            </td>
                                            <td>
                                                <span>{{competitie.poule}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compNaam">Naam<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <input #compnaam type="text" id="compNaam" style="width: 12em;" formControlName="naam" autocomplete="off"
                                                        [ngClass]="{'invalid': naam?.invalid && (naam?.dirty), 'valid': naam?.valid && (naam?.dirty)}"
                                                        (blur)="naam?.setValue(naam?.value.trim())" (keyup)="setDataChanged()" (focus)="activeSection = 0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="compBeurten">Max. beurten<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <input #compbeurten type="number" id="compBeurten" style="width: 4em;" formControlName="maxBeurten"
                                                        [ngClass]="{'invalid': maxBeurten?.invalid && (maxBeurten?.dirty), 'valid': maxBeurten?.valid && (maxBeurten?.dirty)}"
                                                        (keyup)="setDataChanged()" (change)="setDataChanged()" (focus)="activeSection = 0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>        
                            </form>
                        }
                    </div>
                </div>
                @if (compDataForm && compDataForm.valid && dataChanged && activeSection == 0) {
                    <app-section-footer-btns [buttons]="compButtons" (clickedButton)="compButtonClicked()"
                                            [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            </div>
            <div class="flexgrow1" style="height: 27.5em; border-left: .125em solid #93cf95;">
                <app-section-header [title]="'Teams'" [cssClasses]="'w3-green-l3'" [active]="activeSection == 1"></app-section-header>
                <div class="flexbox flexcenter" style="height: 2em;">
                    <div style="padding-top: .375em;">
                        <table class="tbl-normal tbl-list">
                            <tr>
                                <td style="width: 2em;"></td>
                                <td class="label" style="width: 5em;">Klasse</td>
                                <td class="label" style="width: 14em;">Naam</td>
                                <td class="label" style="width: 4em;" title="Aantal spelers">Spelers</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="list-container" style="height: 20.5em;">
                    <div class="fullheight flexbox flexcenter scrollable">
                        <table class="tbl-normal tbl-list">
                            <tbody>
                                @for (team of teamLijst.filtered; track $index) {
                                    <tr class="selectable" [ngClass]="{'selected': teamLijst.selectedIdx == $index}" (click)="teamClicked($index)">
                                        <td class="indicator" style="width: 2em;">
                                            <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                        </td>
                                        <td style="width: 5em;">
                                            <span>{{team.klasse + '-' + team.volgNr}}</span>
                                        </td>
                                        <td style="width: 14em; overflow: hidden;">
                                            <span>{{team.naam}}</span>
                                        </td>
                                        <td style="width: 4em;">
                                            <span>{{team.spelers.length}}</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="teamButtons" [btnsDisabled]="[activeSection == 0]" (clickedButton)="teamButtonClicked()"
                                        [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
        </div>
    </div>
</div>
