<div style="font-size: .5rem;">
    <div class="flexbox">
        <app-score-speler-wide  [speler]="wedstrijd.spelers[0]"
                                [maxBrt]="wedstrijd.regels.maxBeurten"
                                [isVijfde]="wedstrijd.regels.idxOptie == 4"
                                [position]="'left'"></app-score-speler-wide>
        <app-score-speler-wide  [speler]="wedstrijd.spelers[1]"
                                [maxBrt]="wedstrijd.regels.maxBeurten"
                                [isVijfde]="wedstrijd.regels.idxOptie == 4"
                                [position]="'right'"></app-score-speler-wide>
    </div>
    <div class="flexbox">
        <app-score-speler-wide  [speler]="wedstrijd.spelers[2]"
                                [maxBrt]="wedstrijd.regels.maxBeurten"
                                [isVijfde]="wedstrijd.regels.idxOptie == 4"
                                [position]="'left'"></app-score-speler-wide>
        <app-score-speler-wide  [speler]="wedstrijd.spelers[3]"
                                [maxBrt]="wedstrijd.regels.maxBeurten"
                                [isVijfde]="wedstrijd.regels.idxOptie == 4"
                                [position]="'right'"></app-score-speler-wide>
    </div>
</div>
