<div [ngClass]="{'smaller': !speler.active}" [style.background-color]="speler.active ? 'black' : '#606060'">
    <!-- speler gegevens -->
    <div class="flexbox spelerdata" [ngClass]="{'active': speler.active}" style="height: 9em;">
        <div class="fullheight speler" style="width: 20em; overflow: hidden;">
            <div class="nowrap" style="height: 6em; padding: .5em; line-height: 5em;">
                <span [ngClass]="{'wit': speler.metWit, 'geel': !speler.metWit}"
                        style="font-size: 4em;" [title]="speler.bordNaam">{{speler.bordNaam}}</span>
            </div>
            <div style="height: 3em; padding: 0 .5em 0 .5em; line-height: 2.5em; position: relative;">
                <div style="position: relative; top: -.5em;">
                    <span style="font-size: 2em; color: lightgray;">moy: </span>
                    <span style="font-size: 2.5em;"
                            [ngClass]="{'wit': speler.metWit, 'geel': !speler.metWit}"
                            >{{speler.tsMoy | number:'1.3-3':'nl-NL'}}</span>    
                </div>
            </div>
        </div>
        <div class="fullheight" style="width: 9em; padding: .5em;">
            @if (speler.active) {
                <div data-kleur="" class="biljartbal fullheight flexbox flexcenter flexmiddle clickable" (click)="balClicked()"
                        [ngClass]="speler.metWit ? 'wit' : 'geel'">
                    <div>
                        <span style="line-height: 1;" style="color: black;" 
                                [style.font-size]="speler.tsCar > 99 ? '3.5em' : '4.5em'">{{speler.tsCar > 0 ? speler.tsCar : ''}}</span>
                    </div>
                </div>
            }
            @else {
                <div class="bal fullheight flexbox flexcenter flexmiddle clickable" (click)="balClicked()">
                    <div>
                        <span style="line-height: 1;" [style.color]="speler.metWit ? 'white' : 'gold'" 
                                [style.font-size]="speler.tsCar > 99 ? '3.5em' : '4.5em'">{{speler.tsCar > 0 ? speler.tsCar : ''}}</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- score -->
    <div class="scoredata flexbox arial active" [ngClass]="{'geel': !speler.metWit}" style="height: 13em;">
        <div style="width: 17em; position: relative;">
            <div class="aantcar" style="width: 17em; position: relative; left: -.5em; text-align: center;">
                <span>{{speler.stand.aantCar}}</span>
            </div>
        </div>
        <div style="width: 12em;">
            <div style="height: 1em;"></div>
            <div class="flexbox flexmiddle" style="height: 6em;">
                <div style="font-size: 2em; padding-left: .5em;" [ngClass]="{'changes scale': speler.stand.serie > 0}"
                        >{{speler.stand.serie > 0 ? '+' : 'in'}}</div>
                <div class="flexgrow1 flexbox flexright" style="height: 5em; padding-right: .5em;">
                    <div class="aantbrt" [ngClass]="{'serie': speler.stand.serie > 0}">
                        @if (speler.stand.serie > 0) {
                            <span>{{speler.stand.serie}}</span>
                        }
                        @else {
                            <span>{{speler.stand.aantBrt}}</span>
                        }
                    </div>
                </div>
            </div>
            <div style="height: 6em;">
                <div style="padding-right: 1em; text-align: right;"
                        [ngClass]="{'changes': speler.stand.serie > 0}">
                    <span style="font-size: 4em; line-height: 1;">{{speler.stand.gemiddelde | number:'1.3-3':'nl-NL'}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- laatste 5 beurten -->
    <div class="flexbox flexmiddle laatste5 arial active" [ngClass]="{'geel': !speler.metWit}"
            style="height: 4em; padding: 0 .5em; color: white;">
        <div class="flexgrow1" style="padding-left: .25em;">
            <div class="laatste5data" style="font-size: 3em;">
                @for (cars of speler.stand.laatste5brt; track $index) {
                    <span style="padding-right: .375em;" 
                            [style.opacity]="1 - ((speler.stand.laatste5brt.length - $index - 1) * .15)">{{cars == 0 ? '­•' : cars}}</span>
                }
            </div>
        </div>
        <div style="padding-right: .5em; color: lightgray;">
            <span style="font-size: 1.5em;">◄</span>
        </div>
        <div style="letter-spacing: -.06em; padding-right: .5em; color: lightgray;">
            <span style="font-size: 2em;">laatste 5</span>
        </div>
    </div>
    <!-- percentage en hoogste serie -->
    @if (showPunten || matchOver) {
        <div class="flexbox extradata arial active" [ngClass]="{'geel': !speler.metWit}" style="height: 7em; padding: 0 .5em;">
            <div class="flexgrow1" style="height: 7em; padding: .25em 1.5em 0 0;">
                <div class="flexbox flexbetween">
                    <div>
                        <span class="label" style="font-size: 2.5em; line-height: 1.25;">Perc.</span>
                    </div>
                    <div style="font-size: 3em; line-height: 1;">
                        @if (speler.stand.serie > 0) {
                            <span class="changes">{{(100 * speler.stand.gemiddelde / speler.tsMoy) | number:'1.2-2':'nl-NL'}}</span>
                        }
                        @else {
                            <span [ngClass]="{'clr-red': speler.stand.aantCar > 0 && (speler.stand.gemiddelde / speler.tsMoy) <= 1}"
                                >{{(100 * speler.stand.gemiddelde / speler.tsMoy) | number:'1.2-2':'nl-NL'}}</span>
                        }
                    </div>
                </div>
                <div class="flexbox flexbetween">
                    <div>
                        <span class="label" style="font-size: 2.5em; line-height: 1.25;">Hoog. ser.</span>
                    </div>
                    <div [ngClass]="{'changes': speler.stand.serie > speler.stand.hoogSer}" style="font-size: 3em; line-height: 1;">
                        <span>{{speler.stand.serie > speler.stand.hoogSer ? speler.stand.serie : speler.stand.hoogSer}}</span>
                    </div>
                </div>
            </div>
            <div class="aantpunten flexbox flexmiddle" [ngClass]="{'active': speler.active, 'geel': !speler.metWit}" style="height: 7em;">
                <div style="padding: 0 .5em;">
                    <span class="label" style="font-size: 2.25em;">Pnt</span>
                </div>
                <div class="aantpunten-container flexbox flexcenter flexmiddle" 
                        [ngClass]="{'changes': speler.stand.punten != oldPunten && !matchOver, 'klaar': matchOver}">
                    <div style="font-size: 5em; line-height: 1;">{{speler.stand.punten}}</div>
                </div>
            </div>
        </div>    
    }
    @else {
        <div class="extradata active" [ngClass]="{'geel': !speler.metWit}" style="padding: 0 1em;">
            <div class="flexbox flexmiddle" style="height: 3.25em;">
                <div class="label" style="font-size: 2.25em;">Percentage</div>
                <div class="flexgrow1" style="font-size: 2.25em; text-align: right;">
                    @if (speler.stand.serie > 0) {
                        <span class="changes">{{(100 * speler.stand.gemiddelde / speler.tsMoy) | number:'1.2-2':'nl-NL'}}</span>
                    }
                    @else if (speler.stand.aantCar > 0 && speler.stand.gemiddelde < speler.tsMoy) {
                        <span class="clr-red">{{(100 * speler.stand.gemiddelde / speler.tsMoy) | number:'1.2-2':'nl-NL'}}</span>
                    }
                    @else {
                        <span>{{(100 * speler.stand.gemiddelde / speler.tsMoy) | number:'1.2-2':'nl-NL'}}</span>
                    }
                </div>
            </div>
            <div class="flexbox flexmiddle" style="height: 3.25em;">
                <div class="label" style="font-size: 2.25em;">Hoogste serie</div>
                <div class="flexgrow1" style="font-size: 2.25em; text-align: right;" [ngClass]="{'changes': speler.stand.serie > speler.stand.hoogSer}">
                    <span>{{speler.stand.serie > speler.stand.hoogSer ? speler.stand.serie : speler.stand.hoogSer}}</span>
                </div>
            </div>
            <div style="height: .25em;"></div>
        </div>    
    }
</div>
