.smaller {
    transform: scale(.9) translateY(.5em);
}

.bal { border-radius: 50%; }
.bal.geel { background-color: gold; }
.bal.wit { background-color: white; }

.spelerdata { color: white; position: relative; overflow: hidden; }
.spelerdata .blink {
    position: absolute;
    top: -18%;
    left: 38%;
    font-size: 7.6em;
    color: gray;
    opacity: .15;
    z-index: 20;
    animation: blinker 5s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: .8;
    }
}
/*
.spelerdata:not(.active)::after {
    content: ''; 
    height: .5em;
    width: 141.421%;
    background-color: #b0b0b0;
    position: absolute;
    left: -1px;
    top: 0px; 
    transform: rotate(16.1deg);
    transform-origin: 1px 1px;
}
*/
.spelerdata .wit { color: white; }
.spelerdata .geel { color: gold; }

.arial { font-family: Arial, Helvetica, sans-serif; }

.aantcar {
    line-height: 13em;
}
.aantcar span {
    font-size: 11em;
}

.aantbrt {
    padding: 0 .75em 0 .4em; 
    line-height: 5em; 
    border-radius: .5em;
}
.aantbrt.serie {
    min-width: 8.5em;
    text-align: center;
    background-color: blue;
    color: white;
}
.aantbrt span {
    font-size: 5em; 
}

.scoredata { background-color: gray; }
.scoredata.active { background-color: white; }
.scoredata.active.geel { background-color: gold; }
.scoredata.active .changes { color: blue; }
.scoredata.active .scale { scale: 1.5; }

.laatste5 .laatste5data { color: gray; }
.laatste5.active .laatste5data { color: white; }
.laatste5.active.geel .laatste5data { color: gold; }

.extradata { background-color: gray; }
.extradata .clr-red { color: #dd0000; }
.extradata.active { background-color: white; }
.extradata.active .changes { color: blue; }
.extradata.active.geel { background-color: gold; }

.extradata .label { color: #444444; }

.aantpunten .label { color: #444444; }
.aantpunten-container {
    width: 7em;
    background-color: #606060;
    color: white;
    border: .25em solid #606060;
    border-radius: .5em;
    padding: 0 .5em 0 .25em;
}
.aantpunten.active .aantpunten-container {
    background-color: black;
    border-color: black;
}
.aantpunten.geel .aantpunten-container {
    color: gold;
}
.aantpunten.active .aantpunten-container.changes {
    background-color: white;
    color: blue;
}
.aantpunten.active.geel .aantpunten-container.changes {
    background-color: gold;
    color: blue;
}
