.arial { font-family: Arial, Helvetica, sans-serif; }

.smaller {
    /* transform: scale(.9) translateY(.5em); */
    transform: scale(.9);
}

.blink {
    opacity: .15;
    animation: blinker 5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 1;
    }
}


.bal { border-radius: 50%; }
.bal.geel { background-color: gold; }
.bal.wit { background-color: white; }

.bord .speler-data { height: 9em; background-color: #606060; color: white; }
.bord.active .speler-data { background-color: black; }
.bord.geel .speler-data { color: gold; }
.speler-naam { height: 6em; padding: .5em; line-height: 5em; overflow: hidden; white-space: nowrap; }
.speler-naam span { font-size: 4em; }
.speler-tsmoy { height: 3em; padding: 0 .5em; line-height: 2.5em; }
.speler-bal { width: 9em; padding: .5em; }

.bord .score-data { height: 13em; background-color: white; }
.bord.geel .score-data { background-color: gold; }
.score-left { width: 17em; text-align: center; line-height: 13em; }
.score-left .score-cars { position: relative;  left: -.5em; }
.score-left .score-cars span { font-size: 11em; opacity: 1; transition: opacity .75s; }
.score-left .score-cars span.carsHidden { opacity: 0; }
.score-right { width: 12em; }
.score-right .score-txt { padding-left: 1em; }
.score-right .score-txt.changes { color: blue; scale: 1.5; }
.score-right .score-txt span { font-size: 2em; }
.score-right .score-brt.score-ser { min-width: 8.5em; text-align: center; background-color: blue; color: white; }
.score-right .score-brt.score-ser span { font-size: 5em; opacity: 1; transition: opacity .75s; }
.score-right .score-brt.score-ser span.serHidden { opacity: 0; }
.score-right .score-brt { padding: 0 .75em 0 .4em; line-height: 5em; border-radius: .5em; }
.score-right .score-brt span { font-size: 5em; opacity: 1; transition: opacity .75s; }
.score-right .score-brt span.brtnHidden { opacity: 0; }
.score-right .score-moy { padding-right: 1em; text-align: right; }
.score-right .score-moy span { font-size: 4em; line-height: 1; }
.score-right .score-moy.changes { color: blue; }

.bord .laatste-vijf { height: 4em; padding: 0 .5em; background-color: #606060; color: white; }
.bord.active .laatste-vijf { background-color: black; }
.bord.geel .laatste-vijf { color: gold; }

.bord .extra-data { height: 6.75em; background-color: white; }
.bord.geel .extra-data { background-color: gold; }
.score-perc .changes, .score-hser .changes { color: blue; }

.score-pnt-container {
    width: 7em;
    background-color: #606060;
    color: white;
    border: .25em solid #606060;
    border-radius: .5em;
    padding: 0 .5em 0 .25em;
}
.bord.active .score-pnt-container { background-color: black; border-color: black; }
.bord.geel .score-pnt-container { color: gold; }
.bord.active .score-pnt-container.changes { background-color: white; color: blue; }
.bord.active.geel .score-pnt-container.changes { background-color: gold; }
.bord .score-pnt-container.klaar { background-color: red; color: white; }
.bord.geel .score-pnt-container.klaar { color: gold }

.clr-red { color: red; }
