<div class="header-container">
    <div class="header-title w3-green-d5 w3-display-container">
        <div class="fullheight flexbox flexmiddle" style="padding-left: 4.125rem;">
            <div class="header-esc" (click)="previousClicked()">
                <span class="fas fa-arrow-left" style="font-size: .75rem; position: relative; top: -.85rem;"></span>
            </div>
            @for (item of escapes; track $index) {
                <div class="header-esc" (click)="escapeClicked()">
                    <span class="fas fa-undo-alt" style="font-size: .75rem; position: relative; top: -.85rem;"></span>
                </div>
            }
        </div>    
        <div class="w3-display-middle">
            <span class="clickable" (click)="headerClicked()">{{title}}</span>
        </div>
        <div class="header-game w3-display-right">
            <span>{{spel}}</span>
        </div>
    </div>
    <div class="header-subtitle w3-green-d3 w3-display-container">
        <div class="w3-display-middle ellips">{{subtitle}}</div>
        <div class="header-game w3-display-right">
            <span>{{district}}</span>
        </div>
    </div>
    <div class="header-logo" (click)="gotoHome()">
        <img src="ballen2.jpg" height="112px" alt="">
    </div>
</div>
