<div class="bss-scorebord">
    @if (wedstrijd.config.aantSpelers == 1) {
        <div class="bss-score-2 fullheight" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="fullheight speler-container active">
                <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[0]"
                                                [cats]="wedstrijd.config.cats"></app-annon-score-speler-landscape>
            </div>
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 2) {
        <div class="bss-score-2 fullheight flexbox flexstretch" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flex50perc speler-container wit shadow-right" [ngClass]="{'active': idxSpeler == 0}">
                <app-annon-score-speler [speler]="wedstrijd.spelers[0]"
                                        [cats]="wedstrijd.config.cats"></app-annon-score-speler>
            </div>
            <div class="flex50perc speler-container wit shadow-left" [ngClass]="{'active': idxSpeler == 1}">
                <app-annon-score-speler [speler]="wedstrijd.spelers[1]"
                                        [cats]="wedstrijd.config.cats"></app-annon-score-speler>
             </div>
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 3) {
        <div class="fullheight scale-for3">
            <div class="bss-score-3 fullheight flexbox flexstretch" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
                <div class="speler-container wit" style="width: 30em;" [ngClass]="{'active shadow-right': idxSpeler == 0}">
                    <app-annon-score-speler [speler]="wedstrijd.spelers[0]"
                                            [cats]="wedstrijd.config.cats"></app-annon-score-speler>
                </div>
                <div class="speler-container wit" style="width: 30em;" [ngClass]="{'active shadow-left-right': idxSpeler == 1}">
                    <app-annon-score-speler [speler]="wedstrijd.spelers[1]"
                                            [cats]="wedstrijd.config.cats"></app-annon-score-speler>
                </div>
                <div class="speler-container wit" style="width: 30em;" [ngClass]="{'active shadow-left': idxSpeler == 2}">
                    <app-annon-score-speler [speler]="wedstrijd.spelers[2]"
                                            [cats]="wedstrijd.config.cats"></app-annon-score-speler>
                </div>
            </div>    
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 4) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flexbox" style="font-size: .5rem;">
                <div class="flex50perc speler-container-sub" [ngClass]="{'active': idxSpeler == 0 || idxSpeler == 2}">
                    <div class="bss-landscape speler-container wit" [ngClass]="{'active shadow-bottom-right': idxSpeler == 0}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[0]"
                                                        [cats]="wedstrijd.config.cats"></app-annon-score-speler-landscape>
                    </div>
                    <div class="bss-landscape speler-container wit" [ngClass]="{'active shadow-top-right': idxSpeler == 2}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[2]"
                                                        [cats]="wedstrijd.config.cats"></app-annon-score-speler-landscape>
                    </div>
                </div>
                <div class="flex50perc speler-container-sub" [ngClass]="{'active': idxSpeler == 1 || idxSpeler == 3}">
                    <div class="bss-landscape speler-container wit" [ngClass]="{'active shadow-bottom-left': idxSpeler == 1}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[1]"
                                                        [cats]="wedstrijd.config.cats"></app-annon-score-speler-landscape>
                    </div>
                    <div class="bss-landscape speler-container wit" [ngClass]="{'active shadow-top-left': idxSpeler == 3}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[3]"
                                                        [cats]="wedstrijd.config.cats"></app-annon-score-speler-landscape>
                    </div>
                </div>
            </div>    
        </div>
    }
    @if (modalVisible && modals.length) {
        <div class="modal" (click)="hideModal()">
            <div class="modal-container">
                <div class="modal-content-score" [ngClass]="modals[0].type">
                    <div style="letter-spacing: -.05em; padding: .5em 1.5em;">
                        @if (modals[0].type === 'serie') {
                            <div>
                                <span style="opacity: .75;">{{modals[0].texts[0]}} : </span>
                                <span> {{modals[0].texts[1]}}</span>
                            </div>    
                        }
                        @else if (modals[0].type === 'carambole') {
                            <div>
                                <span>{{modals[0].texts[0]}}</span>
                            </div>
                        }
                        @else {
                            <div style="line-height: 1.2;">
                                @for (txt of modals[0].texts; track $index) {
                                    <div>{{txt}}</div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>    
    }
    @if (isDialogOpen) {
        <app-spelers-namen [dialog]="namenDialog" (reply)="namenDialogReplied($event)"></app-spelers-namen>
    }
</div>
<app-help>
    <div style="font-size: 1.5em; letter-spacing: -.04em;">Uitleg keypad-toetsen scorebord</div>
    <hr>
    <div class="flexbox flexcenter">
        <div>
            <img src="images/hlp-annon-keypad.png" alt="">
        </div>
    </div>
</app-help>
@if (keysLocked) {
    <div class="keylock" title="Enter toets geblokkeerd">
        <i class="fas fa-lock"></i>
    </div>
}
@if (testModeToggled) {
    <div class="keylock" title="In test mode">
        <i class="fas" [ngClass]="testMode ? 'fa-unlock' : 'fa-lock'"></i>
    </div>
}
@if (speechToggled) {
    <div class="keylock">
        <i class="fas" [ngClass]="spraak.speechOn ? 'fa-volume-up' : 'fa-volume-mute'"></i>
    </div>
}
