<div class="bss-scorebord">
    @if (wedstrijd.config.aantSpelers == 1) {
        <div class="bss-score-2 fullheight" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="fullheight active">
                <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[0]"
                                                [cats]="wedstrijd.config.cats"
                                                [wedklaar]="wedstrijd.wedGespeeld"
                                                [border]="'bss-border'"></app-annon-score-speler-landscape>
            </div>
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 2) {
        <div class="bss-score-2 fullheight flexbox flexstretch" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flex50perc" [ngClass]="{'active': idxSpeler == 0}">
                <app-annon-score-speler [speler]="wedstrijd.spelers[0]"
                                        [cats]="wedstrijd.config.cats"
                                        [wedklaar]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-left'"></app-annon-score-speler>
            </div>
            <div class="flex50perc" [ngClass]="{'active': idxSpeler == 1}">
                <app-annon-score-speler [speler]="wedstrijd.spelers[1]"
                                        [cats]="wedstrijd.config.cats"
                                        [wedklaar]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-right'"></app-annon-score-speler>
             </div>
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 3) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}" style="background-color: #dbefdc;">
            <div style="height: 16.875em;">
                <div class="flexbox flexstretch" style="font-size: .5rem;">
                    <div class="flex50perc">
                        <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 0}">
                            <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[0]"
                                                    [cats]="wedstrijd.config.cats"
                                                    [wedklaar]="wedstrijd.wedGespeeld"
                                                    [border]="'bss-border for-top-left'"></app-annon-score-speler-landscape>
                        </div>
                    </div>
                    <div class="flex50perc">
                        <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 1}">
                            <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[1]"
                                                    [cats]="wedstrijd.config.cats"
                                                    [wedklaar]="wedstrijd.wedGespeeld"
                                                    [border]="'bss-border for-top-right'"></app-annon-score-speler-landscape>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 16.875em;">
                <div class="flexbox flexstretch flexcenter" style="font-size: .5rem;">
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 2}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[2]"
                                                [cats]="wedstrijd.config.cats"
                                                [wedklaar]="wedstrijd.wedGespeeld"
                                                [border]="'bss-border for-bottom'"></app-annon-score-speler-landscape>
                    </div>
                </div>
            </div>
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 4) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flexbox" style="font-size: .5rem;">
                <div class="flex50perc" [ngClass]="{'active': idxSpeler == 0 || idxSpeler == 2}">
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 0}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[0]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-top-left'"></app-annon-score-speler-landscape>
                    </div>
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 2}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[2]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-bottom-left'"></app-annon-score-speler-landscape>
                    </div>
                </div>
                <div class="flex50perc" [ngClass]="{'active': idxSpeler == 1 || idxSpeler == 3}">
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 1}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[1]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-top-right'"></app-annon-score-speler-landscape>
                    </div>
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 3}">
                        <app-annon-score-speler-landscape [speler]="wedstrijd.spelers[3]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-bottom-right'"></app-annon-score-speler-landscape>
                    </div>
                </div>
            </div>    
        </div>
    }
    @else if (wedstrijd.config.aantSpelers == 5) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flexbox" style="font-size: .5rem;">
                <div class="flex50perc">
                    <div class="bss-landscape" [ngClass]="{'active': idxTeam == 0}">
                        <app-annon-score-team [team]="wedstrijd.teams[0]"
                                                [cats]="wedstrijd.config.cats"
                                                [wedklaar]="wedstrijd.wedGespeeld"
                                                [border]="'bss-border for-top-left'"></app-annon-score-team>
                    </div>
                    <div class="flexbox">
                        <div class="flex50perc">
                            <div [ngClass]="{'active': idxTeam == 0 && idxSpeler == 0}">
                                <app-annon-score-speler [speler]="wedstrijd.teams[0].spelers[0]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [isTeamWed]="true"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-bottom-left'"></app-annon-score-speler>
                            </div>
                        </div>
                        <div class="flex50perc">
                            <div [ngClass]="{'active': idxTeam == 0 && idxSpeler == 1}">
                                <app-annon-score-speler [speler]="wedstrijd.teams[0].spelers[1]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [isTeamWed]="true"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-bottom'"></app-annon-score-speler>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex50perc">
                    <div class="bss-landscape" [ngClass]="{'active': idxTeam == 1}">
                        <app-annon-score-team [team]="wedstrijd.teams[1]"
                                                [cats]="wedstrijd.config.cats"
                                                [wedklaar]="wedstrijd.wedGespeeld"
                                                [border]="'bss-border for-top-right'"></app-annon-score-team>
                    </div>
                    <div class="flexbox">
                        <div class="flex50perc">
                            <div [ngClass]="{'active': idxTeam == 1 && idxSpeler == 0}">
                                <app-annon-score-speler [speler]="wedstrijd.teams[1].spelers[0]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [isTeamWed]="true"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-bottom'"></app-annon-score-speler>
                            </div>
                        </div>
                        <div class="flex50perc">
                            <div [ngClass]="{'active': idxTeam == 1 && idxSpeler == 1}">
                                <app-annon-score-speler [speler]="wedstrijd.teams[1].spelers[1]"
                                                        [cats]="wedstrijd.config.cats"
                                                        [isTeamWed]="true"
                                                        [wedklaar]="wedstrijd.wedGespeeld"
                                                        [border]="'bss-border for-bottom-right'"></app-annon-score-speler>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    }
    @if (wedstrijd.wedGespeeld) {
        <div class="notification notification-full">
            <div class="notification-full-content arial" [ngClass]="{ 'visible': modalVisible }">
                @if (modals.length && modals[0].texts.length) {
                    <app-notification [type]="'full'" [modal]="modals[0]"></app-notification>
                }
            </div>
        </div>
    }
    @else if ((wedstrijd.config.aantSpelers == 2 && idxSpeler == 1) || (wedstrijd.config.aantSpelers == 5 && idxTeam == 1) ||
                (wedstrijd.config.aantSpelers == 4 && (idxSpeler == 1 || idxSpeler == 3))) {
        <div class="notification notification-left">
            <div class="notification-left-content arial" [ngClass]="{ 'visible': modalVisible }">
                @if (modals.length && modals[0].texts.length) {
                    <app-notification [spel]="'annon'" [type]="'vertical'" [modal]="modals[0]"></app-notification>
                }
            </div>
        </div>
    }
    @else if ((wedstrijd.config.aantSpelers == 2 && idxSpeler == 0) || (wedstrijd.config.aantSpelers == 5 && idxTeam == 0) ||
                (wedstrijd.config.aantSpelers == 4 && (idxSpeler == 0 || idxSpeler == 2))) {
         <div class="notification notification-right">
            <div class="notification-right-content arial" [ngClass]="{ 'visible': modalVisible }">
                @if (modals.length && modals[0].texts.length) {
                    <app-notification [spel]="'annon'" [type]="'vertical'" [modal]="modals[0]"></app-notification>
                }
            </div>
        </div>
    }
    @else if (idxSpeler >= 2) {
        <div class="notification notification-top" [ngClass]="{'smaller': wedstrijd.config.aantSpelers == 1}">
            <div class="notification-top-content arial" [ngClass]="{ 'visible': modalVisible, 'geel': !wedstrijd.spelers[idxSpeler].metWit }">
                <app-notification [spel]="'annon'" [type]="'horizontal'" [modal]="modals[0]"></app-notification>
            </div>
        </div>
    }
    @else {
        <div class="notification notification-bottom">
            <div class="notification-bottom-content arial" [ngClass]="{ 'visible': modalVisible, 'geel': !wedstrijd.spelers[idxSpeler].metWit }">
                <app-notification [spel]="'annon'" [type]="'horizontal'" [modal]="modals[0]"></app-notification>
            </div>
        </div>
    }
    @if (isDialogOpen) {
        <app-spelers-namen [dialog]="namenDialog" (reply)="namenDialogReplied($event)"></app-spelers-namen>
    }
</div>
<app-help>
    <div style="font-size: 1.5em; letter-spacing: -.04em;">Uitleg keypad-toetsen scorebord</div>
    <hr>
    <div class="flexbox flexcenter">
        <div>
            @if (wedstrijd.config.isAnnonceer) {
                <img src="images/hlp-annon-keypad.png" alt="">
            }
            @else {
                <img src="images/hlp-penta-keypad.png" alt="">
            }
        </div>
    </div>
</app-help>
@if (keysLocked) {
    <div class="keylock" title="Enter toets geblokkeerd">
        <i class="fas fa-lock"></i>
    </div>
}
@if (testModeToggled) {
    <div class="keylock" title="In test mode">
        <i class="fas" [ngClass]="testMode ? 'fa-unlock' : 'fa-lock'"></i>
    </div>
}
@if (speechToggled) {
    <div class="keylock">
        <i class="fas" [ngClass]="spraak.speechOn ? 'fa-volume-up' : 'fa-volume-mute'"></i>
    </div>
}
