<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" 
                    [district]="appData.getDistrict().disNaam" 
                    [escCount]="escapeCount" (escClicked)="escapePressed()"></app-page-header>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row">
                <div class="lijst-col" style="width: 2.5em;"></div>
                <div class="lijst-col" style="width: 5em;">Klasse</div>
                <div class="lijst-col" style="width: 5em;">Volgnr</div>
                <div class="lijst-col" style="width: 5em;">Poule</div>
                <div class="lijst-col" style="width: 16em;">Naam</div>
                <div class="lijst-col" style="width: 5em;" title="Aantal teams">Teams</div>
                <div class="lijst-col" style="width: 3em;"></div>
            </div>
        </div>
        <div class="flexgrow1 scroll-container">
            <div class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @if (compLijst.isEmpty()) {
                            <div style="padding: 2em 0; color: gray;">
                                <span>Geen competities</span>
                            </div>
                        }
                        @else {
                            @for (comp of compLijst.filtered; track $index) {
                                <div class="lijst-row selectable" (click)="competitieClicked($index)"
                                        [ngClass]="{'selected': compLijst.selectedIdx == $index, 'hovered': compLijst.hoveredIdx == $index}">
                                    <div class="lijst-col indicator" style="width: 2.5em;">
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="lijst-col" style="width: 5em;">
                                        <span>{{comp.klasse}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 5em;">
                                        <span>{{comp.volgNr}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 5em;">
                                        <span>{{comp.poule}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 16em;">
                                        <span>{{comp.naam}}</span>
                                    </div>
                                    <div class="lijst-col" style="width: 5em;">
                                        <span>{{comp.teams.length}}</span>
                                    </div>
                                    <div class="lijst-col num" style="width: 3em;">
                                        <i class="fas fa-trash-alt iconbtn" title="Verwijder" (click)="verwijderenClicked($index, $event)"></i>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <app-section-footer-btns [buttons]="buttons" [btnsHide]="[compLijst.selectedIdx < 0, false, compLijst.selectedIdx < 0]" 
                (clickedButton)="buttonClicked($event)" [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
    </div>
</div>
@if (isDialogOpen) {
    <app-confirm [dialog]="confirmDialog" (reply)="confirmReplied($event)"></app-confirm>
}
