<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [spel]="appData.getSpelNaam()"
                        (hdrClicked)="headerClicked($event)" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexcenter">
            <div class="section-body">
                @if (verenigingForm) {
                    <form [formGroup]="verenigingForm">
                        <div class="inputform">
                            <div class="labels">
                                <div class="errmsg"></div>
                                <div class="inp-row">
                                    <label for="verId">ID<span class="req"> *</span></label>
                                </div>
                                <div class="inp-row">
                                    <label for="naam">Naam<span class="req"> *</span></label>
                                </div>
                                <div class="inp-row">
                                    <label for="korteNaam">Korte naam<span class="req"> *</span></label>
                                </div>
                                <div class="inp-row">
                                    <label for="locatie">Locatie</label>
                                </div>
                                <div style="height: 1em;"></div>
                                <div></div>
                            </div>
                            <div class="fields">
                                <div class="errmsg">
                                    @if (verId?.hasError('noDuplicates')) {
                                        <span>ID wordt al gebruikt</span>
                                    }    
                                </div>
                                <div class="inp-row">
                                    <input #verenigingid type="text" id="verId" style="width: 4em;" formControlName="verId" autocomplete="off"
                                    [ngClass]="{'invalid': verId?.invalid && (verId?.dirty), 'valid': verId?.valid && (verId?.dirty)}"
                                    (blur)="verId?.setValue(verId?.value.trim())">
                                </div>
                                <div class="inp-row">
                                    <input type="text" id="naam" style="width: 12em;" formControlName="naam" autocomplete="off"
                                    [ngClass]="{'invalid': naam?.invalid && (naam?.dirty), 'valid': naam?.valid && (naam?.dirty)}"
                                    (blur)="naam?.setValue(naam?.value.trim())">
                                </div>
                                <div class="inp-row">
                                    <input type="text" id="korteNaam" style="width: 5em;" formControlName="korteNaam" autocomplete="off"
                                    [ngClass]="{'invalid': korteNaam?.invalid && (korteNaam?.dirty), 'valid': korteNaam?.valid && (korteNaam?.dirty)}"
                                    (blur)="korteNaam?.setValue(korteNaam?.value.trim())">
                                </div>
                                <div class="inp-row">
                                    <select id="locatie" formControlName="locatie">
                                        <option value=""></option>
                                        @for (lok of lokaliteiten; track $index) {
                                            <option [ngValue]="lok.lokId">{{lok.naam}}</option>
                                        }
                                    </select>                                
                                </div>
                                <div style="height: 1em;"></div>
                                <div>
                                    <span class="label" (click)="voorkeurClicked()">
                                        <i class="far" [ngClass]="voorkeur?.value ? 'fa-check-square' : 'fa-square'" 
                                                style="color: black;"></i>
                                        <span style="padding-left: .5em;">Zet deze als voorkeur vereniging</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
        @if (verenigingForm && verenigingForm.valid) {
            <app-section-footer-btns [buttons]="buttons" (clickedButton)="enterClicked()"
                                [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
        }
    </div>
</div>
