<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="escapePressed()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexstretch">
            <div class="flex50perc flexbox flexcolumn" style="border-right: .25em solid green;">
                <app-section-header [title]="'Speler volgorde'" [cssClasses]="'w3-green-l2'" 
                            [active]="idxActiveSection == 0" (headerClicked)="activateSection(0)"></app-section-header>
                <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
                    <div class="lijst-row" style="cursor: default;">
                        <div class="lijst-col center" style="width: 4em;" title="Aanwezig">Aanw</div>
                        <div class="lijst-col" style="width: 8em;">Speler</div>
                        <div class="lijst-col num" style="width: 3em;" title="Gespeelde wedstrijden">GW</div>
                        <div class="lijst-col num" style="width: 8em;" title="Laatst gespeelde wedstrijd">Laatste gw</div>
                    </div>
                </div>
                <div class="flexgrow1 scroll-container" style="border-bottom: .25em solid green;">
                    <div #volgordelijst class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst">
                                @for (spl of planning.spelers; track $index) {
                                    <div class="lijst-row selectable" [ngClass]="{'hovered': $index == spelerIdx}" (click)="spelerClicked($index)">
                                        <div class="lijst-col center" style="width: 4em;">
                                            <i [ngClass]="spl.aanwezig ? 'fas fa-check-square' : 'far fa-square'"></i>
                                        </div>
                                        <div class="lijst-col" style="width: 8em;">
                                            <span>{{spl.naam}}</span>
                                        </div>
                                        <div class="lijst-col num" style="width: 3em;">
                                            <span>{{spl.aantWed}}</span>
                                        </div>
                                        <div class="lijst-col num" style="width: 8em;">
                                            <span>{{spl.laatsteDat}}</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <app-section-header [title]="'Aantal wedstrijden te plannen'" [cssClasses]="'w3-green-l2'" (headerClicked)="activateSection(0)"></app-section-header>
                <div class="flexbox flexcenter flexmiddle" style="height: 6em;">
                    <div class="flexbox" style="font-size: 1.25em;">
                        @for (btn of wedButtons; track $index) {
                            <app-button [button]="btn" (buttonClicked)="aantWedClicked($index + 1)"></app-button>
                        }
                    </div>
                </div>
            </div>
            <div class="flexgrow1 flexbox flexcolumn">
                <app-section-header [title]="'Geplande wedstrijden'" [cssClasses]="'w3-green-l2'" 
                        [active]="idxActiveSection == 1" (headerClicked)="activateSection(1)"></app-section-header>
                <div class="flexgrow1">
                    <div style="padding: 1em 0; text-align: center;">{{planning.datum}}</div>
                    <div class="flexbox flexcenter">
                        @if (plannenWasClicked && planning.wedstrijden.length == 0) {
                            <div style="padding-top: 2em; color: green;">Geen in te plannen wedstrijden</div>
                        }
                        @if (planning.wedstrijden.length > 0) {
                            <div class="planning w3-green-bg-l4">
                                <div class="lijst">
                                    @for (wed of planning.wedstrijden; track $index) {
                                        <div class="lijst-row selectable" [ngClass]="{'hovered': $index == idxWed}" (click)="wedstrijdClicked($index)">
                                            <div class="lijst-col" style="width: 2em; color: green;">
                                                @if (wed.gespeeld) {
                                                    <i class="fas fa-check"></i>
                                                }
                                            </div>
                                            <div class="lijst-col" style="width: 5em; color: green;">
                                                <span>ronde {{wed.ronde}}</span>
                                            </div>
                                            <div class="lijst-col num" style="width: 6em;">
                                                <span>{{wed.splNaam}}</span>
                                            </div>
                                            <div class="lijst-col num" style="width: 1.5em;">
                                                <span>-</span>
                                            </div>
                                            <div class="lijst-col" style="width: 6em;">
                                                <span>{{wed.tegNaam}}</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>    
                        }
                    </div>
                </div>
                <app-section-footer-btns [buttons]="planButtons" [btnsHide]="[idxWed >= 0, idxWed < 0]" (clickedButton)="buttonClicked($event)"
                                [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
        </div>
    </div>
</div>
