<div class="fullviewheight">
    @if (dataReady) {
        <div class="fullheight flexbox flexcolumn">
            <div>
                <app-page-header [title]="'Biljartpoint'" 
                            [subtitle]="'Competitie ' + bpComp.knbbId + '&nbsp; - &nbsp;Team ' + bpTeam.knbbId + ' : ' + bpTeam.naam" 
                            [spel]="appData.getSpelNaam()" [escCount]="escapeCount" (escClicked)="escapePressed()" 
                            (hdrClicked)="headerClicked($event)" (prevClicked)="previousPressed()"></app-page-header>
            </div>
            <app-section-header [title]="'Vereniging in BSS'" [cssClasses]="'w3-green-d1'"></app-section-header>
            <div class="flexbox flexcenter flexmiddle" style="height: 2.5em; border-bottom: .25em solid green;">
                <div>
                    <span class="label">Lokaliteit in BSS : </span>
                    <span>{{lokaliteit.knbbId}} - {{lokaliteit.naam}}</span>
                </div>
            </div>
            <div class="flexgrow1">
                <app-section-header [title]="sectTitleVer" [cssClasses]="'w3-green-l3'"></app-section-header>
                @if (verenigingForm) {
                    <div class="flexbox flexcenter">
                        <div style="padding-top: 1em;">
                            <form [formGroup]="verenigingForm">
                                <table class="tbl-normal tbl-input">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label for="verId">ID<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                @if (modeVer == 'view') {
                                                    <span>{{verId?.value}}</span>
                                                }
                                                @else {
                                                    <input type="text" id="verId" style="width: 4em;" formControlName="verId" autocomplete="off"
                                                            [ngClass]="{'invalid': (verId?.invalid) && verId?.dirty, 
                                                                        'valid': (verId?.valid) && verId?.dirty}">
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="verNaam">Naam<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                @if (modeVer == 'view') {
                                                    <span>{{verNaam?.value}}</span>
                                                }
                                                @else {
                                                    <input type="text" id="verNaam" style="width: 12em;" formControlName="verNaam" autocomplete="off"
                                                            [ngClass]="{'invalid': (verNaam?.invalid) && verNaam?.dirty, 
                                                                        'valid': (verNaam?.valid) && verNaam?.dirty}">
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="lokId">Lokaliteit<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <span>{{lokId?.value}} - {{lokaliteit.naam}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="korteNaam">Korte naam<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                @if (modeVer == 'view') {
                                                    <span>{{korteNaam?.value}}</span>
                                                }
                                                @else {
                                                    <input type="text" id="korteNaam" style="width: 5em;" formControlName="korteNaam" autocomplete="off"
                                                            [ngClass]="{'invalid': (korteNaam?.invalid) && korteNaam?.dirty, 
                                                                        'valid': (korteNaam?.valid) && korteNaam?.dirty}">
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                }
                @else {
                    <!-- selecteer vereniging of maak een nieuwe -->
                    <div class="flexbox flexcenter flexmiddle" style="height: 3em;">
                        <div class="label">
                            <span>Selecteer een vereniging of maak een nieuwe indien de goede er niet bij staat.</span>
                        </div>
                    </div>
                    <div class="flexbox flexcenter">
                        <div>
                            <table class="tbl-normal tbl-input">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="selVer">Vereniging</label>
                                        </td>
                                        <td>
                                            <select id="selVer" [(ngModel)]="vereniging" (change)="verenigingChanged()" style="width: 12em;">
                                                @for (ver of verenigingen; track $index) {
                                                    <option [ngValue]="ver">{{ver.naam}}</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <app-button [button]="verButton" (buttonClicked)="nieuweVerenigingClicked()"></app-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            @if (!verenigingForm) {
                <app-section-footer-btns [buttons]="pageButtons" (clickedButton)="naarTeamClicked()"
                        [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
            }
            @else {
                @if (verenigingForm.valid) {
                    <app-section-footer-btns [buttons]="saveButtons" (clickedButton)="opslaanClicked()"
                            [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            }
        </div>
    }
</div>
