<div style="font-size: .5rem;">
    <div class="flexbox">
        <div>
            <app-annon-team [team]="wedstrijd.teams[0]"
                            [cats]="wedstrijd.config.cats"
                            [wedklaar]="wedstrijd.wedGespeeld"></app-annon-team>
            <app-annon-wed-spel2 [wedstrijd]="wedstrijd"
                                 [speler]="wedstrijd.teams[0].spelers[0]"
                                 [tegenstander]="wedstrijd.teams[0].spelers[1]"></app-annon-wed-spel2>
        </div>
        <div>
            <app-annon-team [team]="wedstrijd.teams[1]"
                            [cats]="wedstrijd.config.cats"
                            [wedklaar]="wedstrijd.wedGespeeld"></app-annon-team>
            <app-annon-wed-spel2 [wedstrijd]="wedstrijd"
                                 [speler]="wedstrijd.teams[1].spelers[0]"
                                 [tegenstander]="wedstrijd.teams[1].spelers[1]"></app-annon-wed-spel2>
        </div>
    </div>
</div>
