<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="escapePressed()"></app-page-header>
        </div>
        <div class="flexgrow1 scroll-container">
            <div #complijst class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @for (item of compLijst.filtered; track $index) {
                            <div class="lijst-row selectable" (click)="compClicked($index)"
                                    [ngClass]="{'hovered': compLijst.hoveredIdx == $index}">
                                <div class="lijst-col">
                                    <span>{{item}}</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (compLijst.hoveredIdx < 0) {
            <div class="flexbox flexcenter flexmiddle" style="height: 2em; min-height: 2em; border-top: .25em solid green;">
                <div class="label" style="font-size: .75em;">
                    <span>Selecteer een competitie.</span>
                </div>
            </div>    
        }
        @else {
            <app-section-footer-btns [buttons]="buttons" (clickedButton)="buttonClicked(0)"
                [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
        }
    </div>
</div>
