<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="escapePressed()"></app-page-header>
        </div>
        <div class="flexgrow1 scroll-container">
            <div #complijst class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @for (item of compLijst.filtered; track $index) {
                            <div class="lijst-row selectable" (click)="compClicked($index)"
                                    [ngClass]="{'selected': compLijst.selectedIdx == $index, 'hovered': compLijst.hoveredIdx == $index}">
                                <div class="lijst-col indicator" style="width: 2em;">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <div class="lijst-col" style="padding-right: 2em;">
                                    <span>{{item}}</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="flexbox flexcenter flexmiddle" style="height: 2em; min-height: 2em; border-top: .25em solid green;">
            <div class="label" style="font-size: .75em;">
                <span>Selecteer een competitie.</span>
            </div>
        </div>
    </div>
</div>
