<div class="fullheight">
    <!-- speler gegevens -->
    <div class="fullheight flexbox flexcolumn">
        <div class="flexbox flexmiddle spelerdata" [ngClass]="{'active': team.active}" style="height: 8em;">
            <div class="flexgrow1" style="padding: 0 1em;">
                <span [ngClass]="{'wit': team.active && team.metWit, 'geel': team.active && !team.metWit}"
                        style="font-size: 5em; line-height: 1.25;">{{team.teamNaam}}</span>
            </div>
            <div class="arial" style="padding-left: 1em;">
                <span style="font-size: 2.5em; color: gray;">moy: </span>
                <span style="font-size: 5em;"
                        [ngClass]="{'wit': team.active && team.metWit, 'geel': team.active && !team.metWit}"
                        >{{team.teamTsGem | number:'1.3-3':'nl-NL'}}</span>
            </div>
            <div style="width: 3em;"></div>
            <div class="fullheight" style="width: 8em; padding: .5em;">
                <div class="bal fullheight flexbox flexcenter flexmiddle clickable" (click)="balClicked()"
                        [ngClass]="{'wit': team.active && team.metWit, 'geel': team.active && !team.metWit}">
                    <div class="arial" [ngClass]="{'digit3': team.teamTsCar > 99}">
                        <span style="line-height: 1; letter-spacing: -.03em;"
                                [style.color]="team.active ? 'black' : 'gray'">{{team.teamTsCar > 0 ? team.teamTsCar : ''}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexgrow1 flexbox">
            <div class="fullheight" style="width: 1em;" [style.background-color]="team.active ? 'black' : 'grey'"></div>
            <div class="fullheight flexgrow1 flexbox flexcolumn">
                <div class="flexbox flexmiddle arial scoredata" [ngClass]="{'active': team.active}"
                        style="height: 14em; line-height: 1;">
                    <div class="flex50perc" style="text-align: center;">
                        <span style="font-size: 14em;">{{team.stand.aantCar}}</span>
                    </div>
                    <div style="width: 6em; text-align: center;" [ngClass]="{'changes': team.stand.serie > 0}">
                        <span style="font-size: 5em;">{{team.stand.serie > 0 ? '+' : 'in'}}</span>
                    </div>
                    <div class="flexgrow1 flexbox flexcenter">
                        <div class="aantbrt" [ngClass]="{'serie': team.stand.serie > 0}">
                            @if (team.stand.serie > 0) {
                                <span style="font-size: 9em;">{{team.stand.serie}}</span>
                            }
                            @else {
                                <span style="font-size: 9em;">{{team.stand.aantBrt}}</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="flexgrow1 flexbox flexmiddle arial extradata" [ngClass]="{'active': team.active}" 
                        style="background-color: black; color: white;">
                    <div style="width: 19em; line-height: 1; text-align: right;">
                        <span style="font-size: 7em;" [ngClass]="{'changes': team.stand.serie > 0}"
                                >{{team.stand.gemiddelde | number:'1.3-3':'nl-NL'}}</span>
                    </div>
                    <div style="width: 6em;"></div>
                    <div class="flexgrow1 flexbox" style="padding-right: 1em;">
                        <div style="line-height: 1;">
                            <span style="font-size: 3em; color: gray;">Perc : </span>
                            <span style="font-size: 4em;" [ngClass]="{'changes': team.stand.serie > 0, 'clr-red': team.stand.gemiddelde / team.teamTsGem <= 1}"
                                    >{{(100 * team.stand.gemiddelde / team.teamTsGem) | number:'1.2-2':'nl-NL'}}</span>
                            <br>
                            <span style="font-size: 3em; color: gray;">Hoog ser : </span>
                            <span style="font-size: 4em;" [ngClass]="{'changes': team.stand.serie > team.stand.hoogSer}"
                                    >{{team.stand.serie > team.stand.hoogSer ? team.stand.serie : team.stand.hoogSer}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullheight arial laatste5" [ngClass]="{'active': team.active}"
                    style="width: 11em; background-color: black; color: gray;">
                <div class="lbl">
                    <span>laatste 5</span>
                </div>
                <div class="laatste5data" style="color: white; position: relative; top: -.5em;">
                    @for (cars of team.stand.laatste5brt; track $index) {
                        <div style="text-align: center;" [style.opacity]="1 - ((team.stand.laatste5brt.length - $index - 1) * .2)">
                            <span style="font-size: 4em; letter-spacing: -.075em; line-height: 1;">{{cars == 0 ? '­•' : cars}}</span>
                        </div>    
                    }
                </div>
            </div>
        </div>
    </div>
</div>
