<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                        (escClicked)="escapePressed()" (hdrClicked)="gotoOnderhoud()" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexstretch">
            <div class="flex50perc flexbox flexcolumn" style="border-right: .25em solid green;">
                <app-section-header [title]="'Districten'" [cssClasses]="'w3-green-l2'"></app-section-header>
                <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
                    <div class="lijst-row">
                        <div class="lijst-col" style="width: 1.75em;"></div>
                        <div class="lijst-col" style="width: 5em;">ID</div>
                        <div class="lijst-col" style="width: 15em;">Naam</div>
                        <div class="lijst-col" style="width: 2.5em;"></div>
                    </div>
                </div>
                <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
                    <div class="lijst-row filter-row">
                        <div class="lijst-col" style="width: 1.75em;"></div>
                        <div class="lijst-col" style="width: 5em;"></div>
                        <div class="lijst-col" style="width: 15em;">
                            <input class="filter" type="text" style="width: 10em;" [(ngModel)]="naamFilter" autocomplete="off"
                                                (keyup)="naamFilterChanged()">
                        </div>
                        <div class="lijst-col" style="width: 2.5em;"></div>
                    </div>
                </div>
                <div class="flexgrow1 scroll-container">
                    <div #districtlijst class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst">
                                @for (district of districtLijst.filtered; track $index) {
                                    <div class="lijst-row selectable" (click)="districtClicked($index)"
                                                    [ngClass]="{'selected': districtLijst.selectedIdx == $index}">
                                        <div class="lijst-col indicator" style="width: 1.75em;">
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                        <div class="lijst-col" style="width: 5em;">
                                            <span>{{district.disId}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 15em;">
                                            <span>{{district.disNaam}}</span>
                                        </div>
                                        <div class="lijst-col num" style="width: 2.5em;">
                                            <i class="fas fa-trash-alt iconbtn" title="Verwijder" (click)="verwijderenClicked($index, $event)"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="toevoegButtons" (clickedButton)="toevoegenClicked()"
                                [cssFooter]="'w3-green-bdr-l2'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
            <div class="flex50perc flexbox flexcolumn">
                <app-section-header [title]="sectionTitle" [cssClasses]="'w3-green-l2'"></app-section-header>
                <div class="section-body flexgrow1">
                    @if (districtForm && (mode == 'add' || districtLijst.selectedIdx >= 0)) {
                        <div class="flexbox flexcenter">
                            <div style="padding-top: 2em;">
                                <form [formGroup]="districtForm">
                                    <table class="tbl-normal tbl-input">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label for="disId">ID<span class="req"> *</span></label>
                                                </td>
                                                <td>
                                                    <input #districtid type="text" id="disId" style="width: 5em;" formControlName="disId" autocomplete="off"
                                                        [ngClass]="{'invalid': disId?.invalid && (disId?.dirty), 'valid': disId?.valid && (disId?.dirty)}"
                                                        (blur)="disId?.setValue(disId?.value.trim())">
                                                </td>
                                            </tr>
                                            @if (disId?.hasError('noDuplicates')) {
                                                <tr class="input-msg error">
                                                    <td></td>
                                                    <td><span>ID wordt al gebruikt</span></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>
                                                    <label for="disNaam">Naam<span class="req"> *</span></label>
                                                </td>
                                                <td>
                                                    <input #districtnaam type="text" id="disNaam" style="width: 12em;" formControlName="disNaam" autocomplete="off"
                                                        [ngClass]="{'invalid': disNaam?.invalid && (disNaam?.dirty), 'valid': disNaam?.valid && (disNaam?.dirty)}"
                                                        (blur)="disNaam?.setValue(disNaam?.value.trim())" (keydown)="onKeydownNaam($event)">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                                @if (districtForm && districtForm.valid) {
                                    <div class="flexbox flexcenter" style="margin-top: 1em;">
                                        <div style="font-size: 1.25em;">
                                            <app-button [button]="enterButtons[0]" (buttonClicked)="enterClicked()"></app-button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (districtLijst.selectedIdx >= 0) {
                    <app-section-footer-btns [buttons]="verwijderButtons" (clickedButton)="verwijderenClicked(districtLijst.selectedIdx)"
                                [cssFooter]="'w3-green-bdr-l2'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            </div>
        </div>
    </div>
</div>
@if (isDialogOpen) {
    <app-confirm [dialog]="confirmDialog" (reply)="confirmReplied($event)"></app-confirm>
}
