<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [spel]="appData.getSpelNaam()"
                        (hdrClicked)="headerClicked($event)" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexstretch">
            <!-- Vereniging section -->
            <div class="flexbox flexcolumn" style="border-right: .25rem solid green;">
                <app-section-header [title]="sections[0]" [cssClasses]="'w3-green-l2'"></app-section-header>
                <div class="flexgrow1" style="padding: .5em 1em;">
                    <div class="flexbox flexcenter" style="padding-left: .5em;">
                        <div>
                            <table class="tbl-normal tbl-input">
                                <tbody>
                                    <tr>
                                        <td><label>ID</label></td>
                                        <td class="view" style="width: 10em;">{{vereniging.verId}}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Naam</label></td>
                                        <td class="view">{{vereniging.naam}}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Korte naam</label></td>
                                        <td class="view">{{vereniging.korteNaam}}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Locatie</label></td>
                                        <td class="view ellips" style="max-width: 10em;" [title]="verLokaliteit.naam">{{verLokaliteit.naam}}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Plaats</label></td>
                                        <td class="view">{{verLokaliteit.plaats}}</td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="wijzigButtons" (clickedButton)="verenigingWijzigenClicked()"
                                        [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
            <!-- Teams section -->
            <div class="flexbox flexcolumn" style="width: 22em; border-right: .25rem solid green;">
                <app-section-header [title]="'Teams'" [cssClasses]="'w3-green-l2'" [active]="true"></app-section-header>
                <div class="flexgrow1 scroll-container">
                    <div class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst" style="padding: 0 .5em;">
                                @for (team of teamLijst.filtered; track $index) {
                                    <div class="lijst-row selectable" (click)="teamClicked($index)"
                                            [ngClass]="{'hovered': teamLijst.hoveredIdx == $index}">
                                        <div class="lijst-col" style="width: 4em;">
                                            <span>{{team.klasse}} - {{team.volgNr}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 11em;">
                                            <span>{{team.naam}}</span>
                                        </div>
                                        <div class="lijst-col num" style="width: 2.5em;">
                                            <i class="fas fa-trash-alt iconbtn" title="Verwijder" (click)="teamVerwijderenClicked($event, $index)"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="teamButtons" [btnsHide]="[false, teamLijst.hoveredIdx < 0]" 
                                (clickedButton)="teamButtonClicked($event)"
                                [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
            <!-- Leden section -->
            <div class="flexgrow1 flexbox flexcolumn">
                <app-section-header [title]="'Leden'" [cssClasses]="'w3-green-l2'"></app-section-header>
                <div class="flexgrow1 scroll-container">
                    <div class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst" style="color: gray;">
                                @for (spl of ledenLijst.filtered; track $index) {
                                    <div class="lijst-row">
                                        <div class="lijst-col">
                                            <span>{{spl.getNaam()}}</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="ledenButtons" (clickedButton)="ledenWijzigenClicked()"
                                        [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
        </div>
    </div>
</div>
@if (isDialogOpen) {
    <app-confirm [dialog]="confirmDialog" (reply)="confirmReplied($event)"></app-confirm>
}