<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [spel]="appData.getSpelNaam()"
                        [escCount]="escapeCount" (escClicked)="escapePressed()" (hdrClicked)="gotoOnderhoud()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexstretch">
            <div class="flex50perc flexbox flexcolumn" style="border-right: .25em solid green;">
                <app-section-header [title]="'Spelsoorten'" [cssClasses]="'w3-green-l2'"></app-section-header>
                <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
                    <div class="lijst-row">
                        <div class="lijst-col" style="width: 1.75em;"></div>
                        <div class="lijst-col" style="width: 5em;">ID</div>
                        <div class="lijst-col" style="width: 12em;">Naam</div>
                        <div class="lijst-col" style="width: 2.5em;"></div>
                    </div>
                </div>
                <div class="flexgrow1 scroll-container">
                    <div #spelsoortlijst class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst">
                                @for (spelsoort of spelsoorten; track $index) {
                                    <div class="lijst-row">
                                        <div class="lijst-col" style="width: 1.75em;"></div>
                                        <div class="lijst-col" style="width: 5em;">
                                            <span>{{spelsoort.spelsoortId}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 12em;">
                                            <span>{{spelsoort.spelsoortNaam}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 2.5em;"></div>
                                    </div>
                                }
                                @for (spelsoort of spelsoortLijst.filtered; track $index) {
                                    <div class="lijst-row selectable" (click)="spelsoortClicked($index)"
                                                    [ngClass]="{'selected': spelsoortLijst.selectedIdx == $index}">
                                        <div class="lijst-col indicator" style="width: 1.75em;">
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                        <div class="lijst-col" style="width: 5em;">
                                            <span>{{spelsoort.spelsoortId}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 12em;">
                                            <span>{{spelsoort.spelsoortNaam}}</span>
                                        </div>
                                        <div class="lijst-col num" style="width: 2.5em;">
                                            <i class="fas fa-trash-alt iconbtn" title="Verwijder" (click)="verwijderenClicked($index, $event)"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <app-section-footer-btns [buttons]="toevoegButtons" (clickedButton)="toevoegenClicked()"
                                [cssFooter]="'w3-green-bdr-l2'" [cssButtons]="'font125'"></app-section-footer-btns>
            </div>
            <div class="flex50perc flexbox flexcolumn">
                <app-section-header [title]="sectionTitle" [cssClasses]="'w3-green-l2'"></app-section-header>
                <div class="section-body flexgrow1">
                    @if (spelsoortForm && (mode == 'add' || spelsoortLijst.selectedIdx >= 0)) {
                        <div class="flexbox flexcenter">
                            <div style="padding-top: 2em;">
                                <form [formGroup]="spelsoortForm">
                                    <table class="tbl-normal tbl-input">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label for="spelsoortId">ID<span class="req"> *</span></label>
                                                </td>
                                                <td>
                                                    <input #spelsoortid type="text" id="spelsoortId" style="width: 5em;" formControlName="spelsoortId" autocomplete="off"
                                                        [ngClass]="{'invalid': spelsoortId?.invalid && (spelsoortId?.dirty), 
                                                                    'valid': spelsoortId?.valid && (spelsoortId?.dirty)}"
                                                        (blur)="spelsoortId?.setValue(spelsoortId?.value.trim())">
                                                </td>
                                            </tr>
                                            @if (spelsoortId?.hasError('noDuplicates')) {
                                                <tr class="input-msg error">
                                                    <td></td>
                                                    <td><span>ID wordt al gebruikt</span></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>
                                                    <label for="spelsoortNaam">Naam<span class="req"> *</span></label>
                                                </td>
                                                <td>
                                                    <input #spelsoortnaam type="text" id="spelsoortNaam" style="width: 12em;" formControlName="spelsoortNaam" autocomplete="off"
                                                        [ngClass]="{'invalid': spelsoortNaam?.invalid && (spelsoortNaam?.dirty), 
                                                                    'valid': spelsoortNaam?.valid && (spelsoortNaam?.dirty)}"
                                                        (blur)="spelsoortNaam?.setValue(spelsoortNaam?.value.trim())" (keydown)="onKeydownNaam($event)">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                                @if (spelsoortForm && spelsoortForm.valid) {
                                    <div class="flexbox flexcenter" style="margin-top: 2em;">
                                        <div style="font-size: 1.25em;">
                                            <app-button [button]="enterButtons[0]" (buttonClicked)="enterClicked()"></app-button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (spelsoortLijst.selectedIdx >= 0) {
                    <app-section-footer-btns [buttons]="verwijderButtons" (clickedButton)="verwijderenClicked(spelsoortLijst.selectedIdx)"
                                [cssFooter]="'w3-green-bdr-l2'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            </div>
        </div>
    </div>
</div>
@if (isDialogOpen) {
    <app-confirm [dialog]="confirmDialog" (reply)="confirmReplied($event)"></app-confirm>
}
