<div class="fullviewheight">
    @if (dataReady) {
        <div class="fullheight flexbox flexcolumn">
            <div>
                <app-page-header [title]="'Biljartpoint'" 
                            [subtitle]="'Competitie ' + bpComp.knbbId + '&nbsp; - &nbsp;Team ' + bpTeam.knbbId + ' : ' + bpTeam.naam" 
                            [spel]="appData.getSpelNaam()" [escCount]="escapeCount" (escClicked)="escapePressed()" 
                            (hdrClicked)="gotoBiljartpoint()" (prevClicked)="previousPressed()"></app-page-header>
            </div>
            <app-section-header [title]="'Lokaliteit'" [cssClasses]="'w3-green-d1'"></app-section-header>
            <div class="flexgrow1 flexbox flexstretch">
                <div class="flex50perc flexbox flexcolumn" style="border-right: .125em solid #459c48;">
                    <app-section-header [title]="'in Biljartpoint'" [cssClasses]="'w3-green-l3'"></app-section-header>
                    <div class="flexgrow1 flexbox flexcenter" style="padding: 1em 1em;">
                        <div>
                            <table class="tbl-normal tbl-input">
                                <tbody>
                                    <tr>
                                        <td><label for="">KNBB ID</label></td>
                                        <td>{{bpLokaliteit.knbbId}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Naam</label></td>
                                        <td>{{bpLokaliteit.naam}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Straat + nr.</label></td>
                                        <td>{{bpLokaliteit.adres}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Postcode</label></td>
                                        <td>{{bpLokaliteit.postcode}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Plaats</label></td>
                                        <td>{{bpLokaliteit.plaats}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Telefoon</label></td>
                                        <td>{{bpLokaliteit.telefoon}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">E-mail</label></td>
                                        <td>{{bpLokaliteit.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="flex50perc flexbox flexcolumn" style="border-left: .125em solid #459c48;">
                    <app-section-header [title]="sectTitle" [cssClasses]="'w3-green-l3'"></app-section-header>
                    <div class="flexgrow1 flexbox flexcenter">
                        <div>
                            @if (mode == 'view' && bssLokaliteit.lokId == '') {
                                <div class="label" style="padding-top: 5em;">Lokaliteit niet aanwezig in BSS</div>
                            }
                            @else {
                                <div style="padding-top: 1em;">
                                    @if (lokForm) {
                                        <form [formGroup]="lokForm">
                                            <table class="tbl-normal tbl-input">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label for="lokId">BSS ID<span class="req"> *</span></label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'add') {
                                                                <input type="text" id="lokId" style="width: 4em;" formControlName="lokId" autocomplete="off"
                                                                    [ngClass]="{'invalid': lokId?.invalid, 'valid': lokId?.valid}"
                                                                    (blur)="lokId?.setValue(lokId?.value.trim())">
                                                            }
                                                            @else {
                                                                <span>{{lokId?.value}}</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="knbbId">KNBB ID<span class="req"> *</span></label>
                                                        </td>
                                                        <td>
                                                            <span>{{knbbId?.value}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="naam">Naam<span class="req"> *</span></label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'view') {
                                                                <span>{{naam?.value}}</span>
                                                            }
                                                            @else {
                                                                <input type="text" id="naam" style="width: 12em;" formControlName="naam" autocomplete="off"
                                                                    [ngClass]="{'invalid': naam?.invalid && (naam?.dirty), 'valid': naam?.valid && (naam?.dirty)}"
                                                                    (blur)="naam?.setValue(naam?.value.trim())">
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="adres">Straat + nr.</label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'view') {
                                                                <span>{{adres?.value}}</span>
                                                            }
                                                            @else {
                                                                <input type="text" id="adres" style="width: 12em;" formControlName="adres" autocomplete="off"
                                                                    [ngClass]="{'invalid': adres?.invalid && (adres?.dirty), 'valid': adres?.valid && (adres?.dirty)}"
                                                                    (blur)="adres?.setValue(adres?.value.trim())">
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="postcode">Postcode</label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'view') {
                                                                <span>{{postcode?.value}}</span>
                                                            }
                                                            @else {
                                                                <input type="text" id="postcode" style="width: 6em;" formControlName="postcode" autocomplete="off"
                                                                    [ngClass]="{'invalid': postcode?.invalid && (postcode?.dirty), 'valid': postcode?.valid && (postcode?.dirty)}"
                                                                    (blur)="postcode?.setValue(postcode?.value.trim())">
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="plaats">Plaats</label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'view') {
                                                                <span>{{plaats?.value}}</span>
                                                            }
                                                            @else {
                                                                <input type="text" id="plaats" style="width: 12em;" formControlName="plaats" autocomplete="off"
                                                                    [ngClass]="{'invalid': plaats?.invalid && (plaats?.dirty), 'valid': plaats?.valid && (plaats?.dirty)}"
                                                                    (blur)="plaats?.setValue(plaats?.value.trim())">
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="telefoon">Telefoon</label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'view') {
                                                                <span>{{telefoon?.value}}</span>
                                                            }
                                                            @else {
                                                                <input type="text" id="telefoon" style="width: 9em;" formControlName="telefoon" autocomplete="off"
                                                                    [ngClass]="{'invalid': telefoon?.invalid && (telefoon?.dirty), 'valid': telefoon?.valid && (telefoon?.dirty)}"
                                                                    (blur)="telefoon?.setValue(telefoon?.value.trim())">
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label for="email">E-mail</label>
                                                        </td>
                                                        <td>
                                                            @if (mode == 'view') {
                                                                <span>{{email?.value}}</span>
                                                            }
                                                            @else {
                                                                <input type="text" id="email" style="width: 12em;" formControlName="email" autocomplete="off"
                                                                    [ngClass]="{'invalid': email?.invalid && (email?.dirty), 'valid': email?.valid && (email?.dirty)}"
                                                                    (blur)="email?.setValue(email?.value.trim())">
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>    
                                        </form>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    @if (mode != 'view' && lokForm && lokForm.valid) {
                        <app-section-footer-btns [buttons]="saveButtons" (clickedButton)="opslaanClicked()" 
                                    [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
                    }
                </div>
            </div>
            @if (mode == 'view') {
                @if (bssLokaliteit.lokId != '') {
                    <app-section-footer-btns [buttons]="pageButtons" [btnsHide]="[false, false]"
                                (clickedButton)="pageButtonClicked($event)" [cssFooter]="'w3-green-bdr-d3'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
                @else {
                    <app-section-footer-btns [buttons]="addButtons" (clickedButton)="toevoegenClicked()" 
                                [cssFooter]="'w3-green-bdr-d3'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            }
        </div>
    }
</div>
