.speler-header {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}
@page {
    size: A4 portrait;
    margin: 2cm;
}