<div class="fullviewheight flexbox flexaround" style="background-color: lightgray;">
    @if (dataReady) {
        @for (lijst of spelerLijsten; track $index) {
            <div class="flexbox flexcolumn">
                <div class="speler-header">
                    <span>{{lijst.naam}}</span>
                    @if (lijst.tsCar > 0) {
                        <span style="font-size: 1rem; padding-left: 1em; color: #666666;">({{lijst.tsCar}})</span>
                    }
                </div>
                <div class="flexgrow1 speler-lijst">
                    <app-eigen-competitie-lijst-speler [speler]="lijst"></app-eigen-competitie-lijst-speler>
                </div>
            </div>
        }
    }
</div>
