<div class="annon-extra arial flexbox flexmiddle">
    <div style="width: 5.75em;">
        <span style="font-size: 2em;">Beurt</span>
    </div>
    <div class="beurten" style="width: 7em; padding-right: .5em; line-height: 1;">
        <app-getal-var style="font-size: 4em;" [naam]="'brt'" [getal]="'' + beurten" [format]="'009'"></app-getal-var>
    </div>
    <div class="flexgrow1"></div>
    <div style="width: 5em; padding-right: 1em;">
        <span style="font-size: 2em;">Punt</span>
    </div>
    <div class="annon-punten flexbox flexcenter flexmiddle">
        <div style="padding-right: .2em; line-height: 1;">
            <app-getal-var style="font-size: 4em;" [naam]="'pnt'" [getal]="'' + punten" [format]="'9'"></app-getal-var>
        </div>
    </div>
    <div style="width: .5em; min-width: .5em;"></div>
</div>
