<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()"></app-page-header>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row">
                <div class="lijst-col" style="width: 2em;"></div>
                <div class="lijst-col" style="width: 6em;">ID</div>
                <div class="lijst-col" style="width: 14em;">Naam</div>
                <div class="lijst-col" style="width: 10em;">Vereniging</div>
                <div class="lijst-col" style="width: 7em;">Moyenne</div>
                <div class="lijst-col" style="width: 2.5em;"></div>
            </div>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row filter-row">
                <div class="lijst-col" style="width: 2em;"></div>
                <div class="lijst-col" style="width: 6em;"></div>
                <div class="lijst-col" style="width: 14em;">
                    <input id="naamfilter" class="filter" type="text" style="width: 10em;" [(ngModel)]="naamFilter" autocomplete="off"
                                        (keyup)="naamFilterChanged($event)" [disabled]="moyenneMode">
                </div>
                <div class="lijst-col" style="width: 10em;">
                    <select #verfilter class="filter" style="width: 7em; font-weight: normal;" [(ngModel)]="verenigingFilter" 
                            (change)="verenigingFilterChanged()" [disabled]="moyenneMode">
                        <option value="">Allen</option>
                        <option value="0">Geen</option>
                        @for (ver of verenigingen; track $index) {
                            <option [value]="ver.verId">{{ver.naam}}</option>
                        }
                    </select>
                </div>
                <div class="lijst-col" style="width: 7em;"></div>
                <div class="lijst-col" style="width: 2.5em;"></div>
            </div>
        </div>
        <div class="flexgrow1 scroll-container">
            <div #spelerlijst class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @for (item of spelerList.filtered; track $index) {
                            <div class="lijst-row selectable" (click)="spelerClicked($index)"
                                    [ngClass]="{'selected': spelerList.selectedIdx == $index, 'hovered': spelerList.hoveredIdx == $index}">
                                <div class="lijst-col indicator" style="width: 2em;">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <div class="lijst-col" style="width: 6em;">
                                    <span>{{item.speler.id}}</span>
                                </div>
                                <div class="lijst-col" style="width: 14em;">
                                    <span>{{item.getNaam()}}</span>
                                </div>
                                <div class="lijst-col" style="width: 10em;">
                                    @for (id of item.speler.verenigingIds; track $index) {
                                        <span style="font-weight: normal; padding-right: .5em;">{{getKorteVerenigingNaam(id)}}</span>
                                    }
                                </div>
                                @if (moyenneMode && spelerList.selectedIdx == $index) {
                                    <div class="lijst-col" style="width: 7em; position: relative; left: -.25em;">
                                        <input #moyenne type="number" style="width: 5em;" [(ngModel)]="moyenneEdit"
                                            (keyup)="keyupMoyenne($event)" (keydown)="keydownMoyenne($event)" (click)="$event.stopPropagation()">
                                    </div>
                                }
                                @else {
                                    <div class="lijst-col" style="width: 7em;">
                                        <span>{{item.getGemiddeldeVanSpel() | number:'1.3-3':'nl-NL'}}</span>
                                    </div>
                                }
                                <div class="lijst-col num" style="width: 2.5em;">
                                    @if (!moyenneMode && !spelerZitInTeam(item.speler)) {
                                        <i class="fas fa-trash-alt iconbtn" title="Verwijder" (click)="spelerVerwijderenClicked($event, item.speler)"></i>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <app-section-footer-btns [buttons]="buttons" (clickedButton)="buttonClicked($event)"
                                            [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
    </div>
</div>
