<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [previousUrl]="previousUrl"></app-page-header>
        </div>
        <div class="flexbox flexcenter" style="margin-top: .5rem;">
            <div>
                <table class="tbl-normal tbl-list">
                    <thead>
                        <tr>
                            <td style="width: 2em;"></td>
                            <td class="label" style="width: 6em; overflow: hidden;">ID</td>
                            <td class="label" style="width: 15em; overflow: hidden;">Naam</td>
                            <td class="label" style="width: 10em;">Vereniging</td>
                        </tr>
                        <tr class="filterrow">
                            <td style="width: 2em;"></td>
                            <td style="width: 6em;"></td>
                            <td style="width: 15em;">
                                <div>
                                    <input class="filter" type="text" style="width: 10em;" [(ngModel)]="naamFilter" autocomplete="off"
                                        (keyup)="naamFilterChanged($event)">
                                </div>
                            </td>
                            <td style="width: 10em;">
                                <div>
                                    <select class="filter" style="width: 7em; font-weight: normal;" [(ngModel)]="verenigingFilter" (change)="verenigingFilterChanged()">
                                        <option value="">Allen</option>
                                        <option value="0">Geen</option>
                                        @for (ver of verenigingen; track $index) {
                                            <option [value]="ver.id">{{ver.naam}}</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="flexgrow1 flexbox flexcenter scrollable">
            <div style="position: relative; left: .25em;">
                @if (spelerList.isFilled()) {
                    <table class="tbl-normal tbl-list">
                        <thead>
                            @for (item of spelerList.filtered; track $index) {
                                <tr class="selectable" [ngClass]="{'selected': spelerList.selectedIdx == $index}" (click)="spelerClicked($index)">
                                    <td class="indicator" style="width: 2em;">
                                        <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                    </td>
                                    <td style="width: 6em; overflow: hidden;">{{item.speler.id}}</td>
                                    <td style="width: 15em; overflow: hidden;">{{item.getNaam()}}</td>
                                    <td style="width: 10em; overflow: hidden;">
                                        @for (id of item.speler.verenigingIds; track $index) {
                                            <span style="font-weight: normal; padding-right: .5em;">{{getKorteVerenigingNaam(id)}}</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </thead>
                    </table>
                }
            </div>
        </div>
        <div class="actions flexbox flexcenter">
            <div style="font-size: 1.25em;">
                <app-button [button]="addButton" (buttonClicked)="spelerToevoegenClicked()"></app-button>
            </div>
        </div>
    </div>
</div>
