<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" 
            [escCount]="escapeCount" (escClicked)="escapePressed()" (hdrClicked)="gotoOnderhoud()" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row">
                <div class="lijst-col" style="width: 2em;"></div>
                <div class="lijst-col" style="width: 5em;">ID</div>
                <div class="lijst-col" style="width: 6em;">KNBB ID</div>
                <div class="lijst-col" style="width: 14em;">Naam</div>
                <div class="lijst-col" style="width: 8em;">Vereniging</div>
                <div class="lijst-col" style="width: 7em;">Moyenne</div>
                @if (showKnbbMoys) {
                    <div class="lijst-col" style="width: 7em;">KNBB moy</div>
                }
                <div class="lijst-col" style="width: 2.5em;"></div>
            </div>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row filter-row">
                <div class="lijst-col" style="width: 2em;"></div>
                <div class="lijst-col" style="width: 5em;"></div>
                <div class="lijst-col" style="width: 6em;"></div>
                <div class="lijst-col" style="width: 14em;">
                    <input id="naamfilter" class="filter" type="text" style="width: 10em;" [(ngModel)]="naamFilter" autocomplete="off"
                                        (keyup)="naamFilterChanged($event)" [disabled]="moyenneMode">
                </div>
                <div class="lijst-col" style="width: 8em;">
                    <select #verfilter class="filter" style="width: 6em; font-weight: normal;" [(ngModel)]="verenigingFilter" 
                            (change)="verenigingFilterChanged()" [disabled]="moyenneMode || fromVereniging">
                        <option value="">Allen</option>
                        <option value="0">Geen</option>
                        @for (ver of verenigingen; track $index) {
                            <option [value]="ver.verId">{{ver.naam}}</option>
                        }
                    </select>
                </div>
                <div class="lijst-col" style="width: 7em;">
                    <select #teamfilter class="filter" style="width: 5em; font-weight: normal;" [(ngModel)]="teamFilter" 
                            (change)="teamFilterChanged()" [disabled]="moyenneMode || fromVereniging">
                        <option value=""></option>
                        @for (team of vereniging.teams; track $index) {
                            <option [value]="team.teamId">{{team.klasse}} - {{team.volgNr}}</option>
                        }
                    </select>
                </div>
                @if (showKnbbMoys) {
                    <div class="lijst-col" style="width: 7em;">
                        @if ((aantMoyVerschillen > 1)) {
                            <i class="fas fa-caret-square-left iconbtn nopad" style="padding-left: .125em;" (click)="wijzigAllSpelerMoyennes()"></i>
                            <span> allen</span>
                        }
                    </div>
                }
                <div class="lijst-col" style="width: 2.5em;"></div>
            </div>
        </div>
        <div class="flexgrow1 scroll-container">
            <div #spelerlijst class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @for (item of spelerList.filtered; track $index) {
                            <div class="lijst-row selectable" (click)="spelerClicked($index)"
                                    [ngClass]="{'selected': spelerList.selectedIdx == $index, 'hovered': spelerList.hoveredIdx == $index}">
                                <div class="lijst-col indicator" style="width: 2em;">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <div class="lijst-col" style="width: 5em;">
                                    <span>{{item.speler.id}}</span>
                                </div>
                                <div class="lijst-col" style="width: 6em;">
                                    <span>{{item.speler.knbbId}}</span>
                                </div>
                                <div class="lijst-col" style="width: 14em;">
                                    <span>{{item.getNaam()}}</span>
                                </div>
                                <div class="lijst-col" style="width: 8em;">
                                    @for (id of item.speler.verenigingIds; track $index) {
                                        <span style="font-weight: normal; padding-right: .5em;">{{getKorteVerenigingNaam(id)}}</span>
                                    }
                                </div>
                                @if (moyenneMode && spelerList.selectedIdx == $index) {
                                    <div class="lijst-col" style="width: 7em; position: relative; left: -.25em;">
                                        <input #moyenne type="number" style="width: 5em;" [(ngModel)]="moyenneEdit"
                                            (keyup)="keyupMoyenne($event)" (keydown)="keydownMoyenne($event)" (click)="$event.stopPropagation()">
                                    </div>
                                }
                                @else {
                                    <div class="lijst-col" style="width: 7em;">
                                        <span>{{item.getGemiddeldeVanSpel() | number:'1.3-3':'nl-NL'}}</span>
                                    </div>
                                }
                                @if (showKnbbMoys) {
                                    <div class="lijst-col" style="width: 7em;">
                                        <span style="padding-right: .5em;">
                                            @if (item.getGemiddeldeVanSpel() == +item.knbbMoy) {
                                                <i class="fas fa-check" style="color: green;"></i>
                                            }
                                            @else {
                                                <i class="fas fa-caret-square-left iconbtn nopad" (click)="wijzigSpelerMoyenne(item)"></i>
                                            }
                                        </span>
                                        <span [style.color]="item.getGemiddeldeVanSpel() == +item.knbbMoy ? 'black' : 'red'">{{item.knbbMoy | number:'1.3-3':'nl-NL'}}</span>
                                    </div>
                                }
                                <div class="lijst-col num" style="width: 2.5em;">
                                    @if (!moyenneMode && !spelerZitInTeam(item.speler)) {
                                        <i class="fas fa-trash-alt iconbtn" title="Verwijder" (click)="spelerVerwijderenClicked($event, item.speler)"></i>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>        
        <div class="flexbox flexcenter flexmiddle" style="height: 3em; min-height: 3em; border-top: .25em solid #459c48;">
            @if (!moyenneMode) {
                <div style="font-size: 1.25em;">
                    <app-button [button]="buttons[0]" (buttonClicked)="buttonClicked(0)"></app-button>
                </div>
            }
            @if (spelerList.filtered.length > 0) {
                <div style="font-size: 1.25em;">
                    <app-button [button]="buttons[1]" (buttonClicked)="buttonClicked(1)"></app-button>
                </div>    
            }
            @if (biljartPointLink != '' && !moyenneMode) {
                <div style="margin-left: 1em; border-radius: .5em; overflow: hidden;">
                    <a [href]="biljartPointLink" target="_blank">
                        <img src="images/biljartpoint.png" alt="" style="height: 2em;">
                    </a>
                </div>
            }
        </div>
    </div>
</div>
