<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [district]="appData.getDistrict().disNaam"
                        (hdrClicked)="gotoOnderhoud()" (prevClicked)="previousPressed()"></app-page-header>
        </div>
        <app-section-header [title]="subtitle2" [cssClasses]="'w3-green-l1'"></app-section-header>
        <div class="flexgrow1 flexbox">
            <div class="fullheight flex50perc flexbox flexcolumn" style="border-right: .125em solid #93cf95;">
                <app-section-header [title]="'Teams in competitie'" [cssClasses]="'w3-green-l3'"></app-section-header>
                <div class="flexgrow1 scroll-container">
                    <div class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst">
                                @for (compTeam of compTeams; track $index) {
                                    <div class="lijst-row">
                                        <div class="lijst-col" style="width: 4em;">
                                            <span>{{compTeam.data.klasse + '-' + compTeam.data.volgNr}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 10em;">
                                            <span>{{compTeam.data.naam}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 6.5em;">
                                            <span>{{compTeam.data.teamLeden.length}} spelers</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @if (teamsChanged) {
                        <app-section-footer-btns [buttons]="opslaanButtons" (clickedButton)="opslaanClicked()"
                                                [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
                    }            
                </div>
            </div>
            <div class="fullheight flex50perc flexbox flexcolumn" style="border-left: .125em solid #93cf95;">
                <app-section-header [title]="'Mogelijke teams'" [cssClasses]="'w3-green-l3'" [active]="true"></app-section-header>
                <div class="flexgrow1 scroll-container">
                    <div class="scroll-content">
                        <div class="flexbox flexcenter">
                            <div class="lijst">
                                @for (team of teamLijst.filtered; track $index) {
                                    <div class="lijst-row selectable" [ngClass]="{'hovered': teamLijst.hoveredIdx == $index}"
                                                (click)="teamClicked($index)">
                                        <div class="lijst-col label" style="width: 2.5em;">
                                            <i class="fas" [ngClass]="team.selected ? 'fa-check' : ''"></i>
                                        </div>
                                        <div class="lijst-col" style="width: 4em;">
                                            <span>{{team.team.klasse + '-' + team.team.volgNr}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 10em;">
                                            <span>{{team.team.naam}}</span>
                                        </div>
                                        <div class="lijst-col" style="width: 6.5em;">
                                            <span>{{team.team.teamLeden.length + ' spelers'}}</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @if (teamLijst.hoveredIdx >= 0) {
                        <app-section-footer-btns [buttons]="enterButtons" [btnsHide]="[teamAlToegevoegd, !teamAlToegevoegd]" 
                                                (clickedButton)="teamClicked(teamLijst.hoveredIdx)"
                                                [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
                    }            
                </div>
            </div>
        </div>
    </div>
</div>

