<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Onderhoud gegevens'" [subtitle]="subtitle" [district]="appData.getDistrict().disNaam"></app-page-header>
        </div>
        <app-section-header [title]="subtitle2" [cssClasses]="'w3-green-l1'"></app-section-header>
        <div class="flexgrow1 flexbox flexstretch">
            <div class="flex50perc" style="border-right: .125em solid #93cf95;">
                <app-section-header [title]="'Teams in competitie'" [cssClasses]="'w3-green-l3'"></app-section-header>
                <div class="list-container" style="height: 22.5em;">
                    <div class="fullheight flexbox flexcenter scrollable">
                        <div>
                            <table class="tbl-normal tbl-list">
                                <tbody>
                                    @for (compTeam of compTeams; track $index) {
                                        <tr>
                                            <td style="padding-right: 2em;">
                                                <span>{{compTeam.klasse + '-' + compTeam.volgNr}}</span>
                                            </td>
                                            <td style="padding-right: 2em;">
                                                <span>{{compTeam.naam}}</span>
                                            </td>
                                            <td>
                                                <span>{{compTeam.spelers.length}} spelers</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @if (teamsChanged) {
                    <app-section-footer-btns [buttons]="opslaanButtons" (clickedButton)="opslaanClicked()"
                                            [cssFooter]="'w3-green-bdr-l3'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            </div>
            <div class="flex50perc" style="border-left: .125em solid #93cf95;">
                <app-section-header [title]="'Mogelijke teams'" [cssClasses]="'w3-green-l3'" [active]="true"></app-section-header>
                <div class="list-container" style="height: 22.5em;">
                    <div class="fullheight flexbox flexcenter scrollable">
                        <div>
                            <table class="tbl-normal tbl-list">
                                <tbody>
                                    @for (team of teamLijst.filtered; track $index) {
                                        <tr class="selectable" [ngClass]="{'selected': teamLijst.selectedIdx == $index}" (click)="teamClicked($index)">
                                            <td class="indicator" style="width: 2em;">
                                                <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                            </td>
                                            <td style="padding-right: 2em;">
                                                <span>{{team.klasse + '-' + team.volgNr}}</span>
                                            </td>
                                            <td style="padding-right: 2em;">
                                                <span>{{team.naam}}</span>
                                            </td>
                                            <td>
                                                <span>{{team.teamLeden.length + ' spelers'}}</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @if (teamLijst.selectedIdx >= 0) {
                    <div style="border-top: .25em solid #b7dfb8">
                        <div class="flexbox flexcenter" style="padding: .125em 0;">
                            <app-button [button]="enterButton" (buttonClicked)="teamClicked(teamLijst.selectedIdx)"></app-button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

