<div>
    <div class="team-container">
        <span style="font-size: 2em;">{{team.teamNaam}}</span>
    </div>
    <div class="speler-container">
        <app-knbb-team-match-speler [spl]="team.spelers[0]" [teg]="teg.spelers[0]" [status]="status[0]"></app-knbb-team-match-speler>
    </div>
    <div class="speler-container">
        <app-knbb-team-match-speler [spl]="team.spelers[1]" [teg]="teg.spelers[1]" [status]="status[1]"></app-knbb-team-match-speler>
    </div>
    <div class="speler-container">
        <app-knbb-team-match-speler [spl]="team.spelers[2]" [teg]="teg.spelers[2]" [status]="status[2]"></app-knbb-team-match-speler>
    </div>
    <div class="speler-container">
        <div class="tot-container flexbox" style="color: white;">
            <div class="flexgrow1">
                <span style="font-size: 1.5em;">TEAM</span>
            </div>
            <div style="padding-left: 1.5em;">
                <span style="font-size: 1.25em;">{{totalen.tsCar}}</span>
            </div>
        </div>
        <div class="flexbox flexstretch arial">
            <div class="flexgrow1">
                <div class="flexbox">
                    <div class="flex65perc">
                        <div class="data-line flexbox">
                            <div class="data-label data-pad-l"><span>car.</span></div>
                            <div class="data-num" style="width: 2.25em;"><span>{{totalen.aantCar}}</span></div>
                            <div class="data-label data-pad-l"><span>(</span></div>
                            <div class="data-num comment" style="width: 3.25em;">
                                <span>{{totalen.percentage | number:'1.2-2':'nl-NL'}}</span>
                            </div>
                            <div class="data-label"><span>%)&nbsp;&nbsp;in</span></div>
                            <div class="data-num" style="width: 2.25em;"><span>{{totalen.aantBrt}}</span></div>
                            <div class="data-label data-pad-l"><span>brt.</span></div>
                        </div>
                        <div class="data-line flexbox">
                            <div class="data-label data-pad-l"><span>moy.</span></div>
                            <div class="data-num" style="width: 3.75em;"><span>{{totalen.gemiddelde | number:'1.3-3':'nl-NL'}}</span></div>
                        </div>
                    </div>
                    <div class="flexgrow1">
                        <div class="data-line flexbox">
                            <div class="data-label" style="width: 4em; text-align: right;"><span>serie</span></div>
                            <div class="data-num" style="width: 1.5em;"><span>{{totalen.hoogSer}}</span></div>
                        </div>
                        <div class="data-line flexbox">
                            <div class="data-label" style="width: 4em; text-align: right;"><span>punten</span></div>
                            <div class="data-num" style="width: 1.5em;"><span>{{totalen.teamPunten}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 5em; padding-right: .5em;">
                <div class="flexbox flexright">
                    <div style="width: 4em; height: 3em; padding: .125em;">
                        <div class="flexbox flexcenter flexmiddle" style="border: .125em solid green; border-radius: .5em; background-color: white;">
                            <div style="font-size: 2em; line-height: 1.25em; color: black;">
                                <span [ngClass]="{'clr-red': status[3] == 2 && totalen.punten >= tegPunten}">
                                    {{totalen.punten}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
