.getal-container {
    padding-bottom: .25em;
    overflow: hidden;
    transition: width 1s ease;
}

.komma {
    width: .15em;
    height: .8125em;
    line-height: .8125em; 
    letter-spacing: -.025em;
}
.komma span {
    position: relative;
    left: -.05em;
}