.smaller {
    transform: scale(.9) translateY(.5em);
}

.bal { border-radius: 50%; }
.bal.geel { background-color: gold; }
.bal.wit { background-color: white; }

.spelerdata { color: white; }
.spelerdata .wit { color: white; }
.spelerdata .geel { color: gold; }
.spelerdata:not(.active) .grijs { color: lightgray;}

.arial { font-family: Arial, Helvetica, sans-serif; }

.aantcar {
    line-height: 13em;
}
.aantcar span {
    font-size: 11em;
}

.aantbrt {
    padding: 0 .75em 0 .4em; 
    line-height: 5em; 
    border-radius: .5em;
}
.aantbrt.serie {
    min-width: 8.5em;
    text-align: center;
    background-color: blue;
    color: white;
}
.aantbrt span {
    font-size: 5em; 
}

.scoredata:not(.active).grijs { background-color: #c0c0c0; }
.scoredata { background-color: white; }
.scoredata.geel { background-color: gold; }
.scoredata.active .changes { color: blue; }
.scoredata.active .scale { scale: 1.5; }

.laatste5:not(.active).grijs .laatste5data { color: lightgray; }
.laatste5 .laatste5data { color: white; }
.laatste5.geel .laatste5data { color: gold; }

.extradata { text-align: right; }
.extradata:not(.active).grijs { background-color: #c0c0c0; }
.extradata .clr-red { color: #dd0000; }
.extradata { background-color: white; }
.extradata.active .changes { color: blue; }
.extradata.geel { background-color: gold; }

.extradata .label { color: #444444; }