<div class="bss-scorebord" style="position: relative;" (click)="closeHelpPopup()">
    <div class="help-popup flexbox flexaround" [ngClass]="{'visible': helpPopupVisible}" 
            (click)="closeHelpPopup()" (mouseleave)="closeHelpPopup()">
        <div class="help-key-icon" style="text-align: center;" (click)="keyPressed.emit('Escape')">
            <div><i class="fas fa-arrow-left"></i></div>
            <div>[<b>Esc</b>] Match ovz.</div>
        </div>
        <div class="help-key-icon" style="text-align: center;" (click)="gotoConfig()">
            <div><i class="fas fa-cog"></i></div>
            <div>[<b>I</b>]nstelling</div>
        </div>
        <div class="help-key-icon" style="text-align: center;" (click)="keyPressed.emit('Lijst')">
            <div><i class="fas fa-list-ol"></i></div>
            <div>Score [<b>L</b>]ijst</div>
        </div>
        <div class="help-key-icon" style="text-align: center;" (click)="toggleSpeech()">
            <div><i class="fas fa-volume-up"></i></div>
            <div>[<b>S</b>]praak aan/uit</div>
        </div>
        <div class="help-key-icon" style="text-align: center;" (click)="wijzigNamenPressed()">
            <div><i class="fas fa-user-edit"></i></div>
            <div>[<b>N</b>]amen</div>
        </div>
        <div class="help-key-icon" style="text-align: center;" (click)="alert.showHelp()">
            <div><i class="fas fa-info-circle"></i></div>
            <div>[<b>T</b>]oets info</div>
        </div>
    </div>
    @if (keysLocked) {
        <div class="wed-message flexbox flexcenter flexmiddle">
            <div style="font-size: 1.75em; line-height: 1; translate: 0 -.125em;">
                <i class="fas fa-lock"></i>
            </div>
        </div>
    }
    @if (wedstrijd.aantSpelers == 1) {
        <div class="bss-score-2 fullheight" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="fullheight active" [ngClass]="{'wit': wedstrijd.spelers[0].metWit, 'geel': !wedstrijd.spelers[0].metWit}">
                <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[0]"
                                  [maxBrt]="wedstrijd.regels.maxBeurten"
                                  [showPunten]="wedstrijd.telling.idxOptie == 0"
                                  [oldPunten]="oldPunten[0]"
                                  [wedOver]="wedstrijd.wedGespeeld"></app-scorebord-speler-landscape>
            </div>
        </div>
    }
    @else if (wedstrijd.aantSpelers == 2) {
        <div class="bss-score-2 fullheight flexbox flexstretch" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flex50perc" [ngClass]="{'active': idxSpeler == 0}">
                <app-scorebord-speler-left [speler]="wedstrijd.spelers[0]"
                                  [maxBrt]="wedstrijd.regels.maxBeurten"
                                  [showPunten]="wedstrijd.telling.idxOptie == 0"
                                  [oldPunten]="oldPunten[0]"
                                  [wedOver]="wedstrijd.wedGespeeld"
                                  [border]="'bss-border for-left'"></app-scorebord-speler-left>
            </div>
            <div class="flex50perc" [ngClass]="{'active': idxSpeler == 1}">
                <app-scorebord-speler-right [speler]="wedstrijd.spelers[1]"
                                  [maxBrt]="wedstrijd.regels.maxBeurten"
                                  [showPunten]="wedstrijd.telling.idxOptie == 0"
                                  [oldPunten]="oldPunten[1]"
                                  [wedOver]="wedstrijd.wedGespeeld"
                                  [border]="'bss-border for-right'"></app-scorebord-speler-right>
             </div>
        </div>
    }
    @else if (wedstrijd.aantSpelers == 3) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}" style="background-color: #dbefdc;">
            <div style="height: 16.875em;">
                <div class="flexbox flexstretch" style="font-size: .5rem;">
                    <div class="flex50perc">
                        <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 0}">
                            <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[0]"
                                            [maxBrt]="wedstrijd.regels.maxBeurten"
                                            [showPunten]="wedstrijd.telling.idxOptie == 0"
                                            [oldPunten]="oldPunten[0]"
                                            [wedOver]="wedstrijd.wedGespeeld"
                                            [balWissel]="true"
                                            [border]="'bss-border for-top-left'"></app-scorebord-speler-landscape>
                        </div>
                    </div>
                    <div class="flex50perc">
                        <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 1}">
                            <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[1]"
                                            [maxBrt]="wedstrijd.regels.maxBeurten"
                                            [showPunten]="wedstrijd.telling.idxOptie == 0"
                                            [oldPunten]="oldPunten[1]"
                                            [wedOver]="wedstrijd.wedGespeeld"
                                            [balWissel]="true"
                                            [border]="'bss-border for-top-right'"></app-scorebord-speler-landscape>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 16.875em;">
                <div class="flexbox flexstretch flexcenter" style="font-size: .5rem;">
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 2}">
                        <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[2]"
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[2]"
                                        [balWissel]="true"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-bottom'"></app-scorebord-speler-landscape>
                    </div>
                </div>
            </div>
        </div>
    }
    @else if (wedstrijd.aantSpelers == 4) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flexbox" style="font-size: .5rem;">
                <div class="flex50perc">
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 0}">
                        <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[0]"
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[0]"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-top-left'"></app-scorebord-speler-landscape>
                    </div>
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 2}">
                        <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[2]"
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[2]"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-bottom-left'"></app-scorebord-speler-landscape>
                    </div>
                </div>
                <div class="flex50perc">
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 1}">
                        <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[1]"
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[1]"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-top-right'"></app-scorebord-speler-landscape>
                    </div>
                    <div class="bss-landscape" [ngClass]="{'active': idxSpeler == 3}">
                        <app-scorebord-speler-landscape [speler]="wedstrijd.spelers[3]"
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[3]"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-bottom-right'"></app-scorebord-speler-landscape>
                    </div>
                </div>
            </div>    
        </div>
    }
    @else if (wedstrijd.aantSpelers == 5) {
        <div class="bss-score-1" [ngClass]="{'gameover': wedstrijd.wedGespeeld}">
            <div class="flexbox" style="font-size: .5rem;">
                <div class="flex50perc">
                    <div class="bss-landscape" [ngClass]="{'active': idxTeam == 0}">
                        <app-scorebord-team [team]="wedstrijd.teams[0]" 
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[0]"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-top-left'"></app-scorebord-team>
                    </div>
                    <div class="flexbox">
                        <div class="flex50perc">
                            <div class="bss-portrait" [ngClass]="{'active': idxTeam == 0 && idxSpeler == 0}">
                                <app-scorebord-speler-left [speler]="wedstrijd.teams[0].spelers[0]"
                                                    [maxBrt]="wedstrijd.regels.maxBeurten"
                                                    [teamCar]="wedstrijd.teams[0].teamTsCar"
                                                    [wedOver]="wedstrijd.wedGespeeld"
                                                    [border]="'bss-border for-bottom-left'"></app-scorebord-speler-left>
                            </div>
                        </div>        
                        <div class="flex50perc">
                            <div class="bss-portrait" [ngClass]="{'active': idxTeam == 0 && idxSpeler == 1}">
                                <app-scorebord-speler-left [speler]="wedstrijd.teams[0].spelers[1]"
                                                    [maxBrt]="wedstrijd.regels.maxBeurten"
                                                    [teamCar]="wedstrijd.teams[0].teamTsCar"
                                                    [wedOver]="wedstrijd.wedGespeeld"
                                                    [border]="'bss-border for-bottom'"></app-scorebord-speler-left>
                            </div>
                        </div>        
                    </div>
                </div>
                <div class="flex50perc">
                    <div class="bss-landscape" [ngClass]="{'active': idxTeam == 1}">
                        <app-scorebord-team [team]="wedstrijd.teams[1]" 
                                        [maxBrt]="wedstrijd.regels.maxBeurten"
                                        [showPunten]="wedstrijd.telling.idxOptie == 0"
                                        [oldPunten]="oldPunten[1]"
                                        [wedOver]="wedstrijd.wedGespeeld"
                                        [border]="'bss-border for-top-right'"></app-scorebord-team>
                    </div>
                    <div class="flexbox">
                        <div class="flex50perc">
                            <div class="bss-portrait" [ngClass]="{'active': idxTeam == 1 && idxSpeler == 0}">
                                <app-scorebord-speler-right [speler]="wedstrijd.teams[1].spelers[0]"
                                                    [maxBrt]="wedstrijd.regels.maxBeurten"
                                                    [teamCar]="wedstrijd.teams[1].teamTsCar"
                                                    [wedOver]="wedstrijd.wedGespeeld"
                                                    [border]="'bss-border for-bottom'"></app-scorebord-speler-right>
                            </div>
                        </div>        
                        <div class="flex50perc">
                            <div class="bss-portrait" [ngClass]="{'active': idxTeam == 1 && idxSpeler == 1}">
                                <app-scorebord-speler-right [speler]="wedstrijd.teams[1].spelers[1]"
                                                    [maxBrt]="wedstrijd.regels.maxBeurten"
                                                    [teamCar]="wedstrijd.teams[1].teamTsCar"
                                                    [wedOver]="wedstrijd.wedGespeeld"
                                                    [border]="'bss-border for-bottom-right'"></app-scorebord-speler-right>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>    
        </div>
    }
</div>
@if (wedstrijd.wedGespeeld) {
    <div class="notification notification-full">
        <div class="notification-full-content arial" [ngClass]="{ 'visible': modalVisible }">
            @if (modals.length && modals[0].texts.length) {
                <app-notification [type]="'full'" [modal]="modals[0]"></app-notification>
            }
        </div>
    </div>
}
@else if ((wedstrijd.aantSpelers == 2 && idxSpeler == 1) || (wedstrijd.aantSpelers == 5 && idxTeam == 1) ||
            (wedstrijd.aantSpelers == 4 && (idxSpeler == 1 || idxSpeler == 3))) {
    <div class="notification notification-left">
        <div class="notification-left-content arial" [ngClass]="{ 'visible': modalVisible }">
            @if (modals.length && modals[0].texts.length) {
                <app-notification [type]="'vertical'" [modal]="modals[0]"></app-notification>
            }
        </div>
    </div>
}
@else if ((wedstrijd.aantSpelers == 2 && idxSpeler == 0) || (wedstrijd.aantSpelers == 5 && idxTeam == 0) ||
            (wedstrijd.aantSpelers == 4 && (idxSpeler == 0 || idxSpeler == 2))) {
    <div class="notification notification-right">
        <div class="notification-right-content arial" [ngClass]="{ 'visible': modalVisible }">
            @if (modals.length && modals[0].texts.length) {
                <app-notification [type]="'vertical'" [modal]="modals[0]"></app-notification>
            }
        </div>
    </div>
}
@else if (idxSpeler >= 2) {
    <div class="notification notification-top" [ngClass]="{'smaller': wedstrijd.aantSpelers == 1}">
        <div class="notification-top-content arial" [ngClass]="{ 'visible': modalVisible, 'geel': !wedstrijd.spelers[idxSpeler].metWit }">
            <app-notification [type]="'horizontal'" [modal]="modals[0]"></app-notification>
        </div>
    </div>
}
@else {
    <div class="notification notification-bottom">
        <div class="notification-bottom-content arial" [ngClass]="{ 'visible': modalVisible, 'geel': !wedstrijd.spelers[idxSpeler].metWit }">
            <app-notification [type]="'horizontal'" [modal]="modals[0]"></app-notification>
        </div>
    </div>
}
@if (isDialogOpen) {
    <app-spelers-namen style="font-size: 1.25em;" [dialog]="namenDialog" (reply)="namenDialogReplied($event)"></app-spelers-namen>
}
@if (isUndoDialogOpen) {
    <app-confirm style="font-size: 1.5em;" [dialog]="confirmUndoDialog" (reply)="confirmUndoLaatsteBeurtReplied($event)"></app-confirm>
}
<app-help-score></app-help-score>
