<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Wedstrijd spelen'" [subtitle]="'Oefen wedstrijd - spelers'" [spel]="appData.getSpelNaam()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox">
            <div class="fullheight flexbox flexcolumn section" style="border-right: .25em solid green;">
                <div class="section-header clickable" (click)="maakSectionActief(0)">
                    <div class="w3-green-l2" style="padding: 0 1em;">
                        <span>Aantal spelers</span>
                    </div>
                </div>
                <div class="section-status" [ngClass]="{'active': activeSection == 0}"></div>
                <div class="flexgrow1 flexbox flexcenter" style="padding: 0 1em;">
                    <div style="margin-top: .5em;">
                        <table class="tbl-normal tbl-list">
                            <tbody>
                                @for (aantSpl of aantalLijst.filtered; track $index) {
                                    <tr class="selectable" [ngClass]="{'selected': aantalLijst.selectedIdx == $index, 'hovered': aantalLijst.hoveredIdx == $index}" 
                                            (click)="aantalClicked($index)">
                                        <td class="indicator" style="width: 1.25em;">
                                            <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                        </td>
                                        <td>{{aantSpl}}</td>
                                    </tr>
                                }    
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (activeSection == 0 && aantalLijst.hoveredIdx >= 0) {
                    <div class="section-footer" style="border-top: .25em solid #93cf95">
                        <div class="flexbox flexcenter" style="padding: .125em 0;">
                            <app-button [button]="enterSelectButton" (buttonClicked)="enterSelectClicked()"></app-button>
                        </div>
                    </div>
                }
            </div>
            <div class="fullheight flexbox flexcolumn section" style="border-right: .25em solid green;">
                <div class="section-header clickable" (click)="maakSectionActief(1)">
                    <div class="w3-green-l2" style="padding: 0 1em;">
                        <span>Kies vereniging</span>
                    </div>
                </div>
                <div class="section-status" [ngClass]="{'active': activeSection == 1}"></div>
                <div class="flexgrow1 flexbox flexcenter scrollable" style="padding: 0 1em;">
                    <div style="margin-top: .5em;">
                        <table class="tbl-normal tbl-list">
                            <tbody>
                                @for (ver of verenigingLijst.filtered; track $index) {
                                    <tr class="selectable" [ngClass]="{'selected': verenigingLijst.selectedIdx == $index, 'hovered': verenigingLijst.hoveredIdx == $index}" 
                                            (click)="verenigingClicked($index)">
                                        <td class="indicator" style="width: 1.25em;">
                                            <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                        </td>
                                        <td>{{ver.naam}}</td>
                                    </tr>
                                }    
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (activeSection == 1 && verenigingLijst.hoveredIdx >= 0) {
                    <div class="section-footer" style="border-top: .25em solid #93cf95">
                        <div class="flexbox flexcenter" style="padding: .125em 0;">
                            <app-button [button]="enterSelectButton" (buttonClicked)="enterSelectClicked()"></app-button>
                        </div>
                    </div>
                }
            </div>
            <div class="fullheight flexbox flexcolumn section" style="border-right: .25em solid green;">
                <div class="section-header clickable" (click)="maakSectionActief(2)">
                    <div class="w3-green-l2" style="padding: 0 1em;">
                        <span>Kies speler</span>
                    </div>
                </div>
                <div class="section-status" [ngClass]="{'active': activeSection == 2}"></div>
                <div class="flexgrow1 flexbox flexcenter scrollable" style="padding: 0 1em;">
                    <div style="margin-top: .5em;">
                        <table class="tbl-normal tbl-list">
                            <tbody>
                                @for (spl of spelerLijst.filtered; track $index) {
                                    <tr class="selectable" [ngClass]="{'selected': spelerLijst.selectedIdx == $index, 'hovered': spelerLijst.hoveredIdx == $index}"
                                             (click)="spelerClicked($index)">
                                        <td class="indicator" style="width: 1.25em;">
                                            <i class="fas fa-angle-right" style="font-size: 1.25em; position: relative; top: 4px;"></i>
                                        </td>
                                        <td>{{spl.getNaam()}}</td>
                                    </tr>
                                }    
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (activeSection == 2 && spelerLijst.hoveredIdx >= 0) {
                    <div class="section-footer" style="border-top: .25em solid #93cf95">
                        <div class="flexbox flexcenter" style="padding: .125em 0;">
                            <app-button [button]="enterSelectButton" (buttonClicked)="enterSelectClicked()"></app-button>
                        </div>
                    </div>
                }
            </div>
            <div class="fullheight flexgrow1 flexbox flexcolumn section">
                <div class="section-header clickable" (click)="maakSectionActief(3)">
                    <div class="w3-green-l2" style="padding: 0 1em;">
                        <span>Spelers</span>
                    </div>
                </div>
                <div class="section-status" [ngClass]="{'active': activeSection == 3}"></div>
                @if (wedstrijd.aantSpelers > 0) {
                    <div class="flexbox flexcenter">
                        <div>
                            @if (wedstrijd.aantSpelers == 5) {
                                @for (team of wedstrijd.teams; track team; let iTeam = $index) {
                                    <div class="wedteam">
                                        <div class="label">{{team.teamNaam}}</div>
                                        @for (spl of team.spelers; track spl; let iSpl = $index) {
                                            <div class="wedspeler" [ngClass]="{'active': idxActiveSpeler == iSpl && idxActiveTeam == iTeam}" 
                                                    (click)="maakSpelerActief(iSpl, iTeam)">
                                                <div class="label">Speler {{$index + 1}}</div>
                                                <div class="naam">
                                                    <span>{{spl.splNaam}}</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            @else {
                                <div style="margin-top: .5em;">
                                    @for (spl of wedstrijd.spelers; track $index) {
                                        <div class="wedspeler" [ngClass]="{'active': idxActiveSpeler == $index}" (click)="maakSpelerActief($index)"
                                                style="margin-bottom: .5em;">
                                            <div class="label">Speler {{$index + 1}}</div>
                                            <div class="naam">
                                                <span>{{spl.splNaam}}</span>
                                            </div>
                                        </div>
                                    }    
                                </div>
                            }    
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (wedstrijdChanged || spelersFilled) {
            <div style="border-top: .25em solid green">
                <div class="flexbox flexcenter" style="font-size: 1.25em; padding: .125em 0;">
                    @if (wedstrijdChanged) {
                        <app-button [button]="resetButton" (buttonClicked)="resetClicked()"></app-button>
                    }
                    @if (spelersFilled) {
                        <app-button [button]="enterButton" (buttonClicked)="gaVerderClicked()"></app-button>
                    }
                </div>
            </div>    
        }
    </div>
</div>
