.annon-score {
    height: 18em;
    padding: 1em 0;
    background-color: #102511;
}
.annon-score .category {
    height: 4em;
    padding: 0 .5em;
}

.pent .annon-score {
    padding: .25em 0;
}
.pent .annon-score .category {
    height: 3.5em;
    padding: 0 .5em;
}

.annon-score .category .catnaam {
    width: 9em;
    color: #6ec071;
}
.active .annon-score .category .catnaam {
    width: 9em;
    color: #dbefdc;
}
.annon-score .category .catnaam > span {
    font-size: 1.5em;
}

.annon-score .category .vol {
    text-align: center; 
    color: #6ec071;
}
.active .annon-score .category .vol {
    color: #dbefdc;
}
.annon-score .category .vol > span {
    font-size: 2.5em;
}
.annon-score .category .cat-bullet-container .cat-bullet.hide {
    visibility: hidden;
}
.annon-score .category .cat-bullet-container .cat-bullet.green {
    background-color: green;
}
.active .annon-extra .beurten {
    color: #dbefdc;
}

.annon-extra {
    height: 5.75em;
    padding: 0 .5em;
}
.annon-punten {
    height: 4.75em;
    width: 6em;
    background-color: #163317;
    color: #6ec071;
    border-radius: .5em;
}
.active .annon-punten {
    background-color: #dbefdc;
    color: #163317;
}
