<div class="bord" [class]="border" [ngClass]="{'active': speler.actief, 'pent': !speler.grid.isAnnon}">
    <div class="speler-data flexbox flexstretch">
        <!-- naam en te spelen moyenne -->
        <div style="width: 20em;">
            <div class="speler-naam">
                <span>{{speler.splBordNaam}}</span>
            </div>
            <div class="speler-tsmoy">
                <div style="position: relative; top: -.5em; line-height: 2.5em;">
                    <span style="font-size: 2.5em; padding-right: .5em;">{{speler.splTsMoy | number:'1.3-3':'nl-NL'}}</span>
                </div>
            </div>
        </div>
        <!-- biljartbal -->
        <div class="speler-bal">
            @if (speler.actief) {
                <div data-kleur="" class="biljartbal fullheight flexbox flexcenter flexmiddle wit">
                </div>
            }
        </div>
    </div>
    <div class="annon-score">
        @for (cat of cats; track $index; let idx = $index) {
            <div class="category flexbox flexmiddle">
                <div class="catnaam">
                    <span>{{cat.naam}}</span>
                </div>
                @if (speler.stand.totaal.cars[idx] == speler.splTsCar && !wedklaar) {
                    <div class="flexgrow1 vol">
                        <span>▪ ▪ ▪ V O L ▪ ▪ ▪</span>
                    </div>
                }
                @else {
                    @for (nr of speler.splTsCarArr; track $index) {
                        <div class="cat-bullet-container flexbox flexcenter" [style.width]="speler.grid.balContainerWidth + 'em'">
                            <div data-kleur="" class="cat-bullet biljartbal" style="height: 3em;" [style.width]="speler.grid.balWidth + 'em'" 
                                [ngClass]="{'lichtgroen': !speler.actief && nr <= speler.stand.totaal.cars[idx], 
                                            'wit': speler.actief && nr <= speler.stand.totaal.cars[idx],
                                            'rood': nr > speler.stand.totaal.cars[idx] && nr <= (speler.stand.totaal.cars[idx] + speler.stand.serie.cars[idx]),
                                            'donkergroen': nr > (speler.stand.totaal.cars[idx] + speler.stand.serie.cars[idx]),
                                            'hide': isTeamWed && nr > (speler.stand.totaal.cars[idx] + speler.stand.serie.cars[idx])}">
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
    <div class="annon-extra speler-data arial flexbox flexmiddle">
        <div style="width: 5.75em;">
            <span style="font-size: 2em;">Beurt</span>
        </div>
        <div class="beurten" style="width: 7em; padding-right: .5em; line-height: 1;">
            <span style="font-size: 4em;">{{speler.stand.aantBrt}}</span>
        </div>
        <div class="flexgrow1"></div>
        <div style="width: 5em; padding-right: 1em;">
            <span style="font-size: 2em;">Punt</span>
        </div>
        <div class="annon-punten flexbox flexcenter flexmiddle">
            <div style="padding-right: .2em; line-height: 1;">
                <span style="font-size: 4em;">{{speler.stand.punten}}</span>
            </div>
        </div>
        <div style="width: .5em; min-width: .5em;"></div>
    </div>
</div>
