<div class="fullviewheight">
    @if (dataReady) {
        <div class="fullheight flexbox flexcolumn">
            <div>
                <app-page-header [title]="'Biljartpoint'" 
                            [subtitle]="'Competitie ' + bpComp.knbbId + '&nbsp; - &nbsp;Team ' + bpTeam.knbbId + ' : ' + bpTeam.naam" 
                            [spel]="appData.getSpelNaam()" [escCount]="escapeCount" (escClicked)="escapePressed()" 
                            (hdrClicked)="headerClicked($event)" (prevClicked)="previousPressed()"></app-page-header>
            </div>
            <app-section-header [title]="'Team in BSS'" [cssClasses]="'w3-green-d1'"></app-section-header>
            <div class="flexbox flexcenter flexmiddle" style="height: 2.5em; border-bottom: .25em solid green;">
                <div>
                    <span class="label">Vereniging in BSS : </span>
                    <span>{{vereniging.naam}}</span>
                </div>
            </div>
            <div class="flexgrow1">
                <app-section-header [title]="sectTitleTeam" [cssClasses]="'w3-green-l3'"></app-section-header>
                @if (teamForm) {
                    <div class="flexbox flexcenter">
                        <div style="padding-top: 1em;">
                            <form [formGroup]="teamForm">
                                <table class="tbl-normal tbl-input">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label for="teamId">ID<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <span>{{teamId?.value}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="knbbId">KNBB ID<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <span>{{knbbId?.value}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="klasse">Klasse<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                <span>{{klasse?.value}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="volgNr">Volgnr<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                @if (modeTeam == 'view') {
                                                    <span>{{volgNr?.value}}</span>
                                                }
                                                @else {
                                                    <input type="number" id="volgNr" style="width: 3em;" formControlName="volgNr" autocomplete="off"
                                                            [ngClass]="{'invalid': (volgNr?.invalid && volgNr?.dirty) || !teamIdOk, 
                                                                        'valid': volgNr?.valid && teamIdOk && volgNr?.dirty}">
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="teamNaam">Naam<span class="req"> *</span></label>
                                            </td>
                                            <td>
                                                @if (modeTeam == 'view') {
                                                    <span>{{teamNaam?.value}}</span>
                                                }
                                                @else {
                                                    <input type="text" id="teamNaam" style="width: 12em;" formControlName="teamNaam" autocomplete="off"
                                                        [ngClass]="{'invalid': teamNaam?.invalid && (teamNaam?.dirty), 'valid': teamNaam?.valid && (teamNaam?.dirty)}"
                                                        (blur)="teamNaam?.setValue(teamNaam?.value.trim())">
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            @if (modeTeam == 'view') {
                                <div style="margin-top: 1em;">
                                    <table class="tbl-normal tbl-input">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <span>Aantal spelers :</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">Biljartpoint</label>
                                                </td>
                                                <td>
                                                    <span>{{bpSpelers.length}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="">BSS</label>
                                                </td>
                                                <td>
                                                    <span>{{bssTeam.teamLeden.length}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
                @else {
                    <!-- selecteer vereniging of maak een nieuwe -->
                    <div class="flexbox flexcenter flexmiddle" style="height: 3em;">
                        <div class="label">
                            <span>Selecteer een team of maak een nieuw team aan indien de goede er niet bij staat.</span>
                        </div>
                    </div>
                    <div class="flexbox flexcenter">
                        <div>
                            <table class="tbl-normal tbl-input">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="selVer">Team</label>
                                        </td>
                                        <td>
                                            <select id="selTeam" [(ngModel)]="bssTeam" (change)="selectedTeamChanged()" style="width: 12em;">
                                                @for (team of bssTeams; track $index) {
                                                    <option [ngValue]="team">{{team.teamId.substring(4)}} : {{team.naam}}</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <app-button [button]="teamButton" (buttonClicked)="nieuwTeamClicked()"></app-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            @if (!teamForm || modeTeam == 'view') {
                @if (teamInComp) {
                    <app-section-footer-btns [buttons]="pageButtons" (clickedButton)="naarSpelersClicked()"
                            [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
                @else {
                    <div class="flexbox flexcenter flexmiddle" style="height: 2.5em;">
                        <div class="label">
                            <span>Het team is nog niet toegevoegd aan de competitie. Druk op [Opslaan] om dit te doen.</span>
                        </div>
                    </div>
                    <app-section-footer-btns [buttons]="saveButtons" (clickedButton)="opslaanClicked()"
                            [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            }
            @else {
                @if (teamForm.valid) {
                    <app-section-footer-btns [buttons]="saveButtons" (clickedButton)="opslaanClicked()"
                            [cssFooter]="'w3-green-bdr-l1'" [cssButtons]="'font125'"></app-section-footer-btns>
                }
            }
        </div>
    }
</div>
