.cmp-menu-item {
    color: #357a38;
    cursor: pointer;
}
.cmp-menu-item:hover {
    color: #163317;
}
.cmp-menu-item:hover .cmp-item-key {
    background-color: #163317;
    color: #dbefdc;
}
.cmp-menu-item.selected .cmp-item-txt {
    color: #163317;
}

.cmp-item-key {
    width: 1.25em;
    height: 1.25em;
    line-height: 1em;
    text-align: center;
    border: .125rem solid #265728;
    border-radius: .25em;
    background-color: #dbefdc;
}
.cmp-item-key span {
    font-size: .8em;
}

.cmp-item-enter {
    height: 1.25em;
    padding: 0 .25em;
    line-height: 1em;
    text-align: center;
    border: .125rem solid #265728;
    border-radius: .25em;
    background-color: #163317;
    color: #dbefdc;
}
.cmp-item-enter span {
    font-size: .8em;
}
