<div class="fullPageHeight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'KNBB team match'" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" 
                        [escCount]="escapeCount" [help]="true" (prevClicked)="escapePressed()" (hdrClicked)="headerClicked($event)"
                        (hlpClicked)="helpClicked()"></app-page-header>
        </div>
        @if (compLijst.isEmpty()) {
            <div class="label" style="padding-top: 5em; text-align: center;">
                <span>Er zijn nog geen KNBB competities in BSS aanwezig.</span>
            </div>
        }
        <div class="flexgrow1 scroll-container">
            <div #complijst class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @for (comp of compLijst.filtered; track $index) {
                            <div class="lijst-row selectable" (click)="competitieClicked($index)"
                                    [ngClass]="{'hovered': compLijst.hoveredIdx == $index, 'selected': compLijst.selectedIdx == $index}">
                                <div class="lijst-col" style="width: 5em;">
                                    <span>{{comp.klasse}} - {{comp.volgNr}}</span>
                                </div>
                                <div class="lijst-col" style="width: 14em;">
                                    <span>{{comp.naam}}</span>
                                </div>
                            </div>
                        }
                    </div>    
                </div>
            </div>
        </div>
        @if (compLijst.hoveredIdx >= 0) {
            <app-section-footer-btns [buttons]="buttons" (clickedButton)="buttonClicked($event)" 
                        [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
        }
        @else if (!compLijst.isEmpty()) {
            <div class="flexbox flexcenter flexmiddle" style="min-height: 3em; border-top: .25em solid green;">
                <div>
                    <span class="label">Selecteer een competitie.</span>
                </div>
            </div>
        }
    </div>
</div>
<app-help [title]="'Team match - selectie competitie'">
    <div>
        Het scherm toont een lijst van alle KNBB competities die in het systeem aanwezig zijn.
    </div>
    <div class="help-card-alinea">
        Klik op een competitie om die te selecteren en door te gaan naar het volgende scherm. <br>
        Je kan ook de omhoog-omlaag pijltjes-toetsen gebruiken om de competitie te selecteren en daarna 'Enter' te toetsen.
    </div>
</app-help>
