.bordls { background-color: #265728; color: #93cf95; }
.bordls.active { color: white; }

.spelerdata .biljartbal { font-size: 6em; color: black; }
.spelerdata .bal { border-radius: 50%; font-size: 6em; }
.spelerdata .bal.wit { color: white; border: .0625em solid white; }
.spelerdata .bal.wit.active { background-color: white; color: black; }

.annon-score {background-color: #102511; padding: .5em 0; }
.pent .annon-score { padding: .75em 0; }
/* .bordls.active .annon-score {background-color: white; } */

.annon-score .category {
    height: 5.75em;
    padding: 0 1em;
}
.pent .annon-score .category {
    height: 4.5em;
    padding: 0 1em;
}
.annon-score .category .catnaam {
    width: 16em;
    color: #93cf95;
}
.active .annon-score .category .catnaam {
    color: white;
}
.annon-score .category .catnaam > span {
    font-size: 2.5em;
}

.annon-score .category .vol {
    text-align: center; 
    color: #6ec071;
}
.active .annon-score .category .vol {
    color: #dbefdc;
}
.annon-score .category .vol > span {
    font-size: 3em;
}
.annon-score .cat-bullet.biljartbal {
    height: 5em;
}
.pent .annon-score .cat-bullet.biljartbal {
    height: 4.25em;
}
.annon-score .category .cat-bullet-container .cat-bullet.red {
    background-color: red;
}
.annon-score .category .cat-bullet-container .cat-bullet.green {
    background-color: green;
}

.annon-beurt {
    color: #6ec071; text-align: center; line-height: 1;
}
.active .annon-beurt {
    color: #dbefdc;
}

.annon-punten {
    width: 8em;
    line-height: 1;
    text-align: center;
    background-color: #163317;
    color: #6ec071;
    border-radius: .5em;
}
.active .annon-punten {
    background-color: #dbefdc;
    color: #163317;
}
