<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="subtitle" [spel]="appData.getSpelNaam()"
                    [escCount]="escapeCount" (escClicked)="escapePressed()" (hdrClicked)="gotoOnderhoud()"></app-page-header>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row">
                <div class="lijst-col" style="width: 2em;"></div>
                <div class="lijst-col" style="width: 13em;">Naam</div>
                <div class="lijst-col" style="width: 11em;">Locatie</div>
                <div class="lijst-col" style="width: 11em;">Plaats</div>
                <div class="lijst-col" style="width: 5em;" title="Aantal leden">Leden</div>
                <div class="lijst-col" style="width: 5em;" title="Aantal teams">Teams</div>
            </div>
        </div>
        <div class="flexbox flexcenter flexmiddle lijst-header" style="min-height: 2em;">
            <div class="lijst-row filter-row">
                <div class="lijst-col" style="width: 2em;"></div>
                <div class="lijst-col" style="width: 13em;">
                    <input class="filter" type="text" style="width: 10em;" [(ngModel)]="naamFilter" autocomplete="off"
                                        (keyup)="naamFilterChanged($event)">
                </div>
                <div class="lijst-col" style="width: 11em;"></div>
                <div class="lijst-col" style="width: 11em;"></div>
                <div class="lijst-col" style="width: 5em;"></div>
                <div class="lijst-col" style="width: 5em;"></div>
            </div>
        </div>
        <div class="flexgrow1 scroll-container">
            <div #vereniginglijst class="scroll-content">
                <div class="flexbox flexcenter">
                    <div class="lijst">
                        @for (item of verenigingLijst.filtered; track $index) {
                            <div class="lijst-row selectable" (click)="verenigingClicked($index)"
                                    [ngClass]="{'selected': verenigingLijst.selectedIdx == $index, 'hovered': verenigingLijst.hoveredIdx == $index}">
                                <div class="lijst-col indicator" style="width: 2em;">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <div class="lijst-col" style="width: 13em;">
                                    <span>{{item.vereniging.naam}}</span>
                                </div>
                                <div class="lijst-col" style="width: 11em;">
                                    <span>{{item.vereniging.locatie}}</span>
                                </div>
                                <div class="lijst-col" style="width: 11em;">
                                    <span>{{item.vereniging.plaats}}</span>
                                </div>
                                <div class="lijst-col" style="width: 5em;">
                                    <span>{{item.leden.length}}</span>
                                </div>
                                <div class="lijst-col" style="width: 5em;">
                                    <span>{{item.vereniging.teams.length}}</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <app-section-footer-btns [buttons]="buttons" (clickedButton)="verenigingToevoegenClicked()"
                                [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
    </div>
</div>
