.bss-scorebord { height: 33.75em; }
.bss-scorebord .bss-score-1 { width: 60em; }
.bss-scorebord .bss-score-2 { width: 60em; }
.bss-scorebord .bss-landscape { width: 60em; height: 33.75em; }
.bss-scorebord .bss-portrait { width: 30em; height: 33.75em; }

.keylock {
    position: fixed;
    top: 0;
    left: 29em;
    color: black;
    opacity: .5;
    z-index: 50;
}
.keylock i {
    font-size: 2em;
}

.bord .bal { border-radius: 50%; }
.bord.active.geel .bal { color: gold; }
.bord.active.wit .bal { color: white; }
.bord.grijs:not(.active) .bal { color: lightgray }

.bord .speler-data { height: 9em; background-color: #265728; color: #93cf95; }
.bord.active .speler-data { color: white; }
/* .bord.grijs:not(.active) .speler-data { color: lightgray; } */
.bord.geel .speler-data { color: gold; }
.bord .speler-naam { height: 5.5em; padding: .25em .5em; line-height: 5em; overflow: hidden; white-space: nowrap; }
.bord .speler-naam span { font-size: 4em; }
.bord .speler-tsmoy { height: 3.5em; padding: .25em .5em; line-height: 2.5em; overflow: visible; }
.bord .speler-bal { width: 9em; padding: .5em; }

.bord .score-data { height: 13em; background-color: white; }
.bord.grijs:not(.active) .score-data { background-color: #c0c0c0; }
.bord.geel .score-data { background-color: gold; }

.bss-border {
    border: .5em solid #dbefdc;
}
.bss-border.for-left {
    border-width: .5em .25em .5em .5em;
}
.bss-border.for-right {
    border-width: .5em .5em .5em .25em;
}
.bss-border.for-bottom {
    border-width: .25em .25em .5em .25em;
}
.bss-border.for-middle {
    border-width: .5em .25em .5em .25em;
}
.bss-border.for-top-left {
    border-width: .5em .25em .25em .5em;
}
.bss-border.for-bottom-left {
    border-width: .25em .25em .5em .5em;
}
.bss-border.for-top-right {
    border-width: .5em .5em .25em .25em;
}
.bss-border.for-bottom-right {
    border-width: .25em .5em .5em .25em;
}
