.help-card-header {
    font-size: 1rem;
    line-height: 2;
    font-weight: bold;
    color: #2e6830;
}
.help-card-alinea {
    padding-top: .375rem;
}
.help-card-bold {
    font-weight: bold;
}

.helptext {
    height: 1em;
    line-height: .75em;
    opacity: .6;
}
.helptext span {
    font-size: .75em;
    letter-spacing: -.06em;
}
.help-btn-key {
    width: 1em;
    height: 1em;
    line-height: .5em;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: .2em;
    text-align: center;
    cursor: default;
}
.help-btn-key.help-btn-key-wide {
    width: 2em;
}
.help-btn-key span {
    font-size: .5em;
}
.help-btn-equ {
    width: 1em;
    height: 1em;
    line-height: .5em;
    text-align: center;
}
.help-btn-equ span {
    font-size: .5em;
}
