* { 
    box-sizing: border-box;
    letter-spacing: -.075em;
}

.fullviewheight { height: 100vh; }
.fullheight { height: 100%; }

.scrollable { overflow-y: scroll; }
.clickable { cursor: pointer; }

.page-footer {
    border-top: .25em solid green;
}

.label {
    color: green;
}
.label.num {
    padding: 0;
    text-align: right;
}
.view {
    color: gray;
}

.nowrap {
    white-space: nowrap;
}

.ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* INPUT */

.inputform {
    display: flex;
}
.inputform .labels {
    padding-right: .5em;
}
.inputform .labels .inp-row {
    color: green;
    line-height: 1.5;
    padding: .125em 0;
}
.inputform .labels .inp-row label {
    padding-right: 0;
}
.inputform .labels .inp-row span.req {
    color: red;
    font-size: .75em;
}
.inputform .fields .inp-row {
    padding: .0625em 0;
}
.inputform .labels .errmsg {
    height: 1.25em;
}
.inputform .fields .errmsg {
    color: red;
    height: 1.25em;
    line-height: 1.25;
}
.inputform .fields .errmsg span {
    font-size: .75em;
}

label {
    color: green;
    padding-right: 1em;
}
.label span.req, label span.req {
    color: red;
    font-size: .75em;
}


input[type="text"], input[type="number"], input[type="password"], select {
    padding: 0 .25em;
    border-radius: .25em;
    border-color: lightgray;
}
input[type="text"]:not(:disabled).valid, input[type="number"]:not(:disabled).valid {
    background-color: #beffbe;
}
input[type="text"]:not(:disabled).invalid, input[type="number"]:not(:disabled).invalid {
    background-color: #ffacac;
}
input[type="text"]:not(:disabled):hover, input[type="text"]:not(:disabled):focus,
input[type="number"]:not(:disabled):hover, input[type="number"]:not(:disabled):focus,
select:not(:disabled):hover, select:not(:disabled):focus {
    border-color: grey;
}
input[type="text"]:not(:disabled):not(.filter):not(.valid):not(.invalid):focus,
input[type="number"]:not(:disabled):not(.filter):not(.valid):not(.invalid):focus {
    background-color: #e0e0e0;
}
input[type="text"]:disabled, input[type="number"]:disabled, select:disabled {
    cursor: not-allowed;
    color: gray;
}
input[type="text"].filter {
    line-height: 1.25em;
    background-color: lightblue;
}
select {
    padding-top: .125em;
    padding-bottom: .125em;
    border-width: 2px;
}
select.filter {
    padding-top: 0;
    padding-bottom: 0;
    background-color: lightblue;
}
select>option {
    font-weight: normal;
    font-size: .75em;
}
select:disabled, select.disabled {
    color: #606060;
}

.input-msg {
    font-size: .75em;
}
.input-msg.error {
    color: red;
}

/* SECTONS */

.section-header {
    height: 2em;
    min-height: 2em;
    text-align: center;
    white-space: nowrap;
}
.section-header span {
    font-size: 1.25em;
}
.section-body {
    padding: .25rem .5rem;
}
.button-footer {
    height: 3em;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .25;
    z-index: 20;
}
.section-status {
    height: .125em;
    background-color: white;
}
.section-status.active {
    background-color: red;
}
.panel-border-right {
    border-right: .125em solid #93cf95;
}

/* LIJSTEN */

.lijst {
    color: black;
}

.lijst-header {
    color: green;
    position: relative;
    left: -.25em;
}
.lijst-header .lijst-row {
    border: 0;
}

.filter-row {
    position: relative;
    left: -.125em;
}

.lijst-row {
    display: flex;
    min-height: 1.5em;
    line-height: 1.3;
    border: .0625em solid white;
    border-radius: .5em;
}
.lijst-row.selectable {
    cursor: pointer;
}
.lijst-row.selectable .lijst-col {
    opacity: .65;
}
.lijst-row.selectable.selected .lijst-col {
    opacity: 1;
}
.lijst-row.selectable.hovered {
    border-color: green;
}
.lijst-row.selectable:hover {
    background-color: lightgray;
}
.lijst-row .lijst-col { 
    padding: 0 .5em; 
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.lijst-row .lijst-col.ellipsed:hover { 
    color: black;
    opacity: 1;
    overflow-x: visible;
}
.lijst-row .lijst-col.num { text-align: right; }
.lijst-row .lijst-col.center { text-align: center; }
.lijst-row .lijst-col.label { color: green; }
.lijst-row .lijst-col.nowidth { padding-right: 2em; }

.lijst-col { min-height: .25em; }
.lijst-row.selectable .lijst-col.indicator, .lijst-row.selectable .lijst-col span.indicator {
    color: green;
    opacity: 0;
}
.lijst-row.selectable.selected .lijst-col.indicator, .lijst-row.selectable.selected .lijst-col span.indicator {
    opacity: 1;
}

/* DYNAMIC SCROLL AREA */

.scroll-container {
    position: relative;
    height: 100%;
}
.scroll-container .scroll-content {
    position: absolute;
    width: 100%;
    top: .25em;
    bottom: .25em;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* LISTS */

.list-container {
    padding: .25em 0;
}
.list-container .list-content {
    overflow-y: scroll;
}

/* ICON BUTTONS */

.iconbtn { color: gray; cursor: pointer; padding: 0 .25em;}
.iconbtn.nopad { padding: 0 .125em 0 0;}
.iconbtn:hover, .iconbtn.selected { 
    color: green; 
    scale: 1.25;
}
.iconbtn:disabled, .iconbtn.disabled { color: lightgrey; cursor: not-allowed;}

/* MOYENNE TABELLEN */

.moyenne-kolom {
    padding-right: .75em;
}

input[type="text"].moy-input {
    padding: 0 .25em;
    border-radius: .25em;
    letter-spacing: -.075em;
}
input[type="text"].moy-input.empty, input[type="number"].moy-input.empty { background-color: lightgray; }
input[type="text"].moy-input:not(.empty).invalid, input[type="number"].moy-input:not(.empty).invalid { background-color: #ffacac; }
input[type="text"].moy-input.valid, input[type="number"].moy-input.valid { background-color: #beffbe; }

input[type="text"].moy-edit {
    width: 3em; 
    text-align: right;
    position: relative; 
    left: 9px;
    border-width: 0 !important;
}
input[type="text"].moy-edit:focus {
    border-width: 0 !important;
}

/* background images - base64 url's of pixels */

.filler-yellow { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjePCA4T8AByQCwFZPlbcAAAAASUVORK5CYII=); }
.filler-orange { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+L+U4T8ABu8CpCYJ1DQAAAAASUVORK5CYII=); }
.filler-red { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+M/A8B8ABQAB/6Zcm10AAAAASUVORK5CYII=); }
.filler-lred { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Gdi8h8ABgACZjacnbwAAAAASUVORK5CYII=); }
.filler-black { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjYGBg+A8AAQQBAHAgZQsAAAAASUVORK5CYII=); }
.filler-blue { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjYGD4/x8AAwIB/8myre4AAAAASUVORK5CYII=); }
.filler-green { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjYGhg+A8AAoQBgNXA8F0AAAAASUVORK5CYII=); }
.filler-dgreen { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjYEhh+A8AAjABZP6rAs0AAAAASUVORK5CYII=); }
.filler-lgreen { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj8P3v+x8ABc8CmYISUS4AAAAASUVORK5CYII=); }
.filler-gray { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdjaGho+A8ABYQCgKMIwGYAAAAASUVORK5CYII=); }
