.digit-container {
    width: .53125em;
    height: .8125em;
    overflow: hidden;
    border: 1px solid red;
}

.digit {
    line-height: .8; 
    letter-spacing: -.025em;
    translate: 0 0;
    transition: translate .75s;
}
.digit:hover {
    translate: 0 -.8125em;
}
