<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'Proberen'" [subtitle]="''" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="escapePressed()"></app-page-header>
        </div>
        <div class="flexgrow1">
            <div class="arial" style="margin-top: 100px; margin-left: 100px;">
                <div class="flexbox">
                    <div style="font-size: 8em;">
                        <app-hgetal [getal]="getal" [maxCijfers]="2" [komma]="false" [border]="true"></app-hgetal>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 1em;">
            <button (click)="increase()">Increase</button>
        </div>
    </div>
</div>
