<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="title" [subtitle]="'Wedstrijden per datum'" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="escapePressed()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexcolumn">
            <div class="flexbox flexcenter flexmiddle lijst-header" style="height: 2em; min-height: 2em;">
                <div class="lijst-row filter-row">
                    <div class="lijst-col" style="width: 10em;">
                        <select #datfilter class="filter" style="width: 7em; font-weight: normal;" [(ngModel)]="datFilter" 
                                (change)="filtersChanged()">
                            <option value=""></option>
                            @for (datum of datOpts; track $index) {
                                <option [value]="datum">{{datum}}</option>
                            }
                        </select>
                    </div>
                    <div class="lijst-col center" style="width: 6em;">
                        <select #rndfilter class="filter" style="width: 5em; font-weight: normal;" [(ngModel)]="rndFilter" 
                                (change)="filtersChanged()">
                            <option value=""></option>
                            @for (ronde of rndOpts; track $index) {
                                <option [value]="ronde">ronde {{ronde}}</option>
                            }
                        </select>
                    </div>
                    <div class="lijst-col center" style="width: 18em;">
                        <select #rndfilter class="filter" style="width: 6.5em; font-weight: normal;" [(ngModel)]="splFilter" 
                                (change)="filtersChanged()">
                            <option value=""></option>
                            @for (spl of splOpts; track $index) {
                                <option [value]="spl">{{spl}}</option>
                            }
                        </select>
                    </div>
                    <div class="lijst-col center" style="width: 8.5em;"></div>
                </div>
            </div>
            <div class="flexgrow1 scroll-container">
                <div #wedlijst class="scroll-content">
                    <div class="flexbox flexcenter">
                        <div class="lijst">
                            @for (wed of wedLijst.filtered; track $index) {
                                <div class="lijst-row selectable" (click)="wedstrijdClicked($index)"
                                            [ngClass]="{'hovered': wedLijst.hoveredIdx == $index}">
                                    <div class="lijst-col label" style="width: 10em;">
                                        <span>{{wed.wedDatum}}</span>
                                    </div>
                                    <div class="lijst-col center" style="width: 6em;">
                                        <span class="label">ronde </span>
                                        <span> {{wed.ronde}}</span>
                                    </div>
                                    <div class="lijst-col num" style="width: 8em;">
                                        <span [style.color]="wed.splWed.splNaam == splFilter ? 'darkred' : 'black'">{{wed.splWed.splNaam}}</span>
                                    </div>
                                    <div class="lijst-col center label" style="width: 2em;">
                                        <span>-</span>
                                    </div>
                                    <div class="lijst-col" style="width: 8em;">
                                        <span [style.color]="wed.tegWed.splNaam == splFilter ? 'darkred' : 'black'">{{wed.tegWed.splNaam}}</span>
                                    </div>
                                    <div class="lijst-col num" style="width: 4em;">
                                        <span [style.color]="wed.splWed.splNaam == splFilter ? 'darkred' : 'black'">{{wed.splWed.uitslag.aantPnt}}</span>
                                    </div>
                                    <div class="lijst-col center label" style="width: 1.5em;">
                                        <span>-</span>
                                    </div>
                                    <div class="lijst-col" style="width: 3em;">
                                        <span [style.color]="wed.tegWed.splNaam == splFilter ? 'darkred' : 'black'">{{wed.tegWed.uitslag.aantPnt}}</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (wedLijst.hoveredIdx >= 0) {
                <app-section-footer-btns [buttons]="wedButtons" (clickedButton)="buttonClicked(0)"
                        [cssFooter]="'w3-green-bdr-d1'" [cssButtons]="'font125'"></app-section-footer-btns>
            }
        </div>
    </div>
</div>
