.getal-container {
    height: 1em;
    position: relative;
    overflow: hidden;
}
.getal-container.met-border {
    border: 1px solid red;
}
.getallen {
    position: absolute;
    top: 0;
    right: .1em;
    transition: top .75s;
}
.getal {
    line-height: 1em; 
    letter-spacing: -.025em;
    translate: 0 -.025em;
}
.getallen.move-up {
    top: -1em;
}
.getallen.notrans {
    transition: none;
}
