<div class="fullviewheight">
    <div class="fullheight flexbox flexcolumn">
        <div>
            <app-page-header [title]="'B.S.S.'" [subtitle]="'Hoofdmenu'" [spel]="appData.getSpelNaam()" [escCount]="escapeCount" 
                    (escClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (prevClicked)="escapePressed()"
                    (logoffClicked)="confirmLogoff()"></app-page-header>
        </div>
        <div class="flexgrow1 flexbox flexcenter flexmiddle">
            <div style="font-size: 1.25em;">
                <app-menu [menu]="menu" (menuItemClicked)="menuItemClicked($event)"></app-menu>
            </div>   
        </div>
    </div>
</div>
@if (isDialogOpen) {
    <app-confirm [dialog]="logoffDialog" (reply)="confirmLogoffReplied($event)"></app-confirm>
}
