<div class="bord-speler" [class]="border" [ngClass]="{'actief': speler.actief, 'geel': !speler.metWit}">
    <!-- SPELER -->
    <div>
        <div class="flexbox flexstretch" style="height: 8em;">
            <div style="width: 8em; padding: .5em;">
                @if (speler.actief) {
                    <div data-kleur="" class="biljartbal fullheight flexbox flexcenter flexmiddle"
                            [ngClass]="speler.metWit ? 'wit' : 'geel'">
                        <div style="padding-right: .125em;">
                            <span style="line-height: 1;" style="color: #1e461f;" 
                                    [style.font-size]="speler.splTsCar > 99 ? '3.5em' : '4.5em'">{{speler.splTsCar > 0 ? speler.splTsCar : ''}}</span>
                        </div>
                    </div>
                }
                @else {
                    <div class="bal fullheight flexbox flexcenter flexmiddle">
                        <div style="padding-right: .125em;">
                            <span style="line-height: 1;"
                                    [style.font-size]="speler.splTsCar > 99 ? '3.5em' : '4.5em'">{{speler.splTsCar > 0 ? speler.splTsCar : ''}}</span>
                        </div>
                    </div>
                }
            </div>
            <div class="flexgrow1" style="padding: 0 .5em; overflow: hidden;">
                <div class="flexbox flexright">
                    <div style="height: 5em; overflow: hidden; line-height: 5em; white-space: nowrap; padding-right: .125em;">
                        <span style="font-size: 4em; position: relative; top: -.125em;">{{speler.splBordNaam}}</span>
                    </div>
                </div>
                <div class="flexbox flexright">
                    <div style="height: 3em; line-height: 2.5em; padding-right: .125em;">
                        <span style="font-size: 2.5em; position: relative; top: -.125em;">{{speler.splTsMoy | number:'1.3-3':'nl-NL'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCORE -->
    <div class="flexbox flexstretch arial" style="height: 11em; background-color: #1e461f;">
        <div class="flexbox flexcenter flexmiddle car-container">
            <div [style.font-size]="formatCar.length < 3 ? '11em' : '10.5em'">
                <app-getal-var [naam]="'car'" [getal]="'' + speler.stand.aantCar" [format]="formatCar"></app-getal-var>
            </div>
            @if (speler.actief && speler.stand.enNog > 0 && speler.stand.enNog < 4) {
                <div class="ennog-container blink" [style.color]="speler.metWit ? 'white' : 'yellow'">
                    <span style="font-size: 5em;">nog </span>
                    <span style="font-size: 6em;">{{speler.stand.enNog}}</span>
                </div>
            }
        </div>
        <div class="flexgrow1">
            <div class="brt-ser-container flexbox flexcenter" style="height: 5.5em;">
                <div class="brt-ser">
                    <div class="flexbox flexright flexend" style="height: 5.5em;">
                        <div style="padding-right: 1em; color: #93cf95;">
                            <span style="font-size: 3em;">in</span>
                        </div>
                        <div [style.font-size]="formatBrt.length < 3 ? '5.5em' : '5em'">
                            <app-getal [naam]="'brt'" [getal]="'' + speler.stand.aantBrt" [format]="formatBrt"></app-getal>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexbox flexcenter flexstart" style="height: 5.5em;">
                <div style="padding-top: .75em;">
                    <!-- <app-getal style="font-size: 4em;" [naam]="'moy'" [getal]="speler.stand.moyView" [format]="'09,999'"></app-getal> -->
                    <app-getal-var style="font-size: 4em;" [naam]="'moy'" [getal]="speler.stand.moyView" [format]="'09,999'"></app-getal-var>
                </div>
            </div>
        </div>
    </div>
    <!-- LAATSTE 5 / SERIE -->
    <div style="height: 5em;">
        <div class="flexbox flexmiddle arial" style="height: 5em;">
            @if (speler.actief) {
                <div style="letter-spacing: -.06em; padding-left: 1em; color: #93cf95;">
                    <span style="font-size: 2em;">laatste 5</span>
                </div>
                <div style="padding-left: .5em; color: #93cf95;">
                    <span style="font-size: 1.5em;">►</span>
                </div>
                <div class="flexgrow1" style="padding-left: 1em;">
                    <div class="flexbox flexmiddle" style="height: 5em;">
                        <div style="padding-top: .5em; padding-right: .5em;">
                            <app-getal-var style="font-size: 5em; color: #00ccff;" 
                                        [naam]="'ser'" [getal]="speler.stand.serView" [format]="formatSer"></app-getal-var>
                        </div>
                        @for (cars of speler.stand.laatste5brt.reverse(); track $index) {
                            @if ($index < 4) {
                                <div style="padding-left: 1em;" 
                                        [style.opacity]="1 - ($index * .15)">
                                    @if (cars == 0) {
                                        <span style="font-size: 3.5em;">­•</span>
                                    }
                                    @else {
                                        <span style="font-size: 3.5em;">{{cars}}</span>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            @else {
                <div style="letter-spacing: -.06em; padding-left: 1em; color: #93cf95;">
                    <span style="font-size: 2em;">laatste 5</span>
                </div>
                <div style="padding-left: .5em; color: #93cf95;">
                    <span style="font-size: 1.5em;">►</span>
                </div>
                <div class="flexgrow1" style="padding-right: .5em;">
                    <div class="flexbox flexmiddle" style="height: 4em;">
                        @for (cars of speler.stand.laatste5brt.reverse(); track $index) {
                            <div style="padding-left: 1em;" 
                                    [style.opacity]="1 - ($index * .15)">
                                @if (cars == 0) {
                                    <span style="font-size: 3.5em;">­•</span>
                                }
                                @else {
                                    <span style="font-size: 3.5em;">{{cars}}</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- EXTRA -->
    <div class="arial" style="background-color: #1e461f;">
        <div class="flexbox flexbetween" style="height: 6.25em; padding-top: .5em;">
            <div style="padding: 0 .5em; width: 8em; min-width: 8em;">
                <div class="flexbox flexcenter flexmiddle pnt-container">
                    <div class="flexbox flexmiddle" [ngClass]="{'gewijzigd2': showPunten && speler.stand.punten != oldPunten}"
                                style="padding-bottom: 1em;">
                        <app-getal-var style="font-size: 5em;" [naam]="'pnt'" [getal]="'' + speler.stand.punten" [format]="'09'"></app-getal-var>
                    </div>
                </div>
            </div>
            <div style="padding: 0 .5em;">
                <div style="height: 2em; color: #93cf95; overflow: hidden; text-align: right; padding-right: .125em;">
                    <span style="font-size: 2em; line-height: 1;">SER</span>
                </div>
                <div class="flexbox flexcenter" style="height: 4em; padding-top: .25em;">
                    <app-getal-var style="font-size: 3.5em;" [style.color]="speler.stand.serie > speler.stand.hoogSer ? '#00ccff' : ''" 
                        [getal]="(speler.stand.serie > speler.stand.hoogSer) ? '' + speler.stand.serie : '' + speler.stand.hoogSer"
                        [naam]="'hoogser'" [format]="'09'"></app-getal-var>
                </div>
            </div>
            <div style="padding: 0 .5em;">
                <div style="height: 2em; color: #93cf95; overflow: hidden; text-align: center;">
                    <span style="font-size: 2em; line-height: 1;">PERC</span>
                </div>
                <div class="flexbox flexcenter flexstretch" style="height: 4em; padding-top: .25em;">
                    <app-getal-var style="font-size: 3.5em;" [naam]="'prc'" [getal]="speler.stand.percView" [format]="'0009,99'"></app-getal-var>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 2.5em; padding: .5em; position: relative">
        @if (speler.teamTsCar == 0) {
            <div class="fullheight" style="background-color: #6ec071; border-radius: .75em; overflow: hidden;">
                <div class="fullheight voortgang" [ngClass]="{'actief': speler.actief, 'geel': !speler.metWit}"
                            [style.width]="speler.stand.voortgang + '%'"></div>
            </div>
            <div class="voortgang-perc">
                <span style="font-size: 1.5em;">{{speler.stand.voortgang}}</span>
                <span style="position: relative; top: -.125em;"> %</span>
            </div>
        }
        @else {
            <div class="fullheight flexbox flexstretch">
                <div style="line-height: 1.5em; padding-right: .5em; color: #93cf95;">
                    <span style="font-size: 1.5em;">TEAM</span>
                </div>
                <div class="flexgrow1" style="position: relative;">
                    <div class="fullheight" style="position: relative; background-color: #6ec071; border-radius: .75em; overflow: hidden;">
                        <div class="fullheight voortgang" [ngClass]="{'actief': speler.actief, 'geel': !speler.metWit}"
                                [style.width]="(100 * (speler.teamAantCar + speler.stand.aantCar + speler.stand.serie) / speler.teamTsCar) + '%'"></div>
                        <div class="voortgang-max" [ngClass]="{'actief': speler.actief}"
                                [style.width]="(100 * (speler.teamTsCar - speler.teamMaxCar) / speler.teamTsCar) + '%'"></div>
                    </div>
                    <div class="voortgang-perc" style="top: 0;">
                        <span style="font-size: 1.5em;">{{(100 * (speler.teamAantCar + speler.stand.aantCar + speler.stand.serie) / speler.teamTsCar) | number:'1.1-1':''}}</span>
                        <span style="position: relative; top: -.125em;"> %</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
