<div class="fullviewheight">
    @if (matchRead) {
        <div class="fullheight flexbox flexcolumn" style="background-color: #b7dfb8;">
            <div>
                <app-page-header [title]="'KNBB team match'" [subtitle]="subtitle" [spel]="appData.getSpelNaam()" [help]="true"
                    (prevClicked)="escapePressed()" (hdrClicked)="headerClicked($event)" (hlpClicked)="helpClicked()"></app-page-header>
            </div>
            <div style="height: 25.5em;">
                <div class="flexbox flexstart">
                    <div style="flex: 0 0 29em; border-right: .25em solid green; height: 25.5em;">
                        <app-knbb-team-match-team [match]="match" [idx]="0" [status]="wedStatus" style="color: white;"></app-knbb-team-match-team>
                    </div>
                    <div style="flex: 0 0 2em; height: 25.5em;">
                        <div style="height: 3.5em; background-color: #b7dfb8;"></div>
                        <div style="height: 5.5em; padding: .25em .5em;">
                            @switch (wedStatus[0]) {
                                @case (0) {
                                    <div class="thermo-start clickable" (click)="wedstrijdClicked(0)"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen clickable" (click)="wedstrijdClicked(0)" 
                                            [style.background-size]="'100% ' + voortgang[0]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end clickable" (click)="wedstrijdClicked(0)"></div>
                                }
                            }
                        </div>
                        <div style="height: 5.5em; padding: .25em .5em;">
                            @switch (wedStatus[1]) {
                                @case (0) {
                                    <div class="thermo-start clickable" (click)="wedstrijdClicked(1)"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen clickable" (click)="wedstrijdClicked(1)" 
                                            [style.background-size]="'100% ' + voortgang[1]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end clickable" (click)="wedstrijdClicked(1)"></div>
                                }
                            }
                        </div>
                        <div style="height: 5.5em; padding: .25em .5em;">
                            @switch (wedStatus[2]) {
                                @case (0) {
                                    <div class="thermo-start clickable" (click)="wedstrijdClicked(2)"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen clickable" (click)="wedstrijdClicked(2)" 
                                            [style.background-size]="'100% ' + voortgang[2]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end clickable" (click)="wedstrijdClicked(2)"></div>
                                }
                            }
                        </div>
                        <div style="height: 5.5em; padding: .25em .5em;">
                            @switch (wedStatus[3]) {
                                @case (0) {
                                    <div class="thermo-start clickable" (click)="wedstrijdClicked(-1)"></div>
                                }
                                @case (1) {
                                    <div class="thermo filler filler-lgreen clickable" (click)="wedstrijdClicked(-1)" 
                                            [style.background-size]="'100% ' + voortgang[3]"></div>
                                }
                                @case (2) {
                                    <div class="thermo-end clickable" (click)="wedstrijdClicked(-1)"></div>
                                }
                            }
                        </div>
                    </div>
                    <div style="flex: 0 0 29em; border-left: .25em solid green; height: 25.5em;">
                        <app-knbb-team-match-team [match]="match" [idx]="1" [status]="wedStatus" style="color: gold;"></app-knbb-team-match-team>
                    </div>
                </div>
            </div>
            <div style="height: .5em; min-height: .5em; background-color: green;">
            </div>
            <div class="flexgrow1" style="padding-top: .5em;">
                <div class="flexbox flexmiddle flexcenter" style="font-size: 1.25em;">
                    <div class="flexbox flexmiddle">
                        @for (btn of buttonGroup.buttons; track $index) {
                            <app-button [button]="btn" (buttonClicked)="buttonClicked($index)"></app-button>
                            @if ($index == 2) {
                                <div style="padding: 0 .25em;">=</div>
                            }
                            @if ($index == 3) {
                                <div style="width: 3em;"></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (isDialogOpen) {
    <app-confirm [dialog]="confirmDialog" (reply)="confirmReplied($event)"></app-confirm>
}
<app-help [title]="'Team match - resultaat overzicht'">
    <div>
        Dit scherm toont het resultaat overzicht van de team match.<br>
        Je kan naar een wedstrijd (scorebord) gaan, de wedstrijdlijsten opvragen of een nieuwe team match aanmaken.
    </div>
    <div class="help-card-header">Naar wedstrijd (scorebord)</div>
    <div>
        Klik op de '1', '2' of '3' button (of toets 1, 2 of 3) om naar de betreffende wedstrijd te gaan. Via deze buttons kun je dus zelf
        de volgorde van de te spelen wedstrijden bepalen. <br>
    </div>
    <div class="help-card-alinea">
        Wanneer je op de 'Naar wedstrijd' button klikt zal het systeem (op volgorde) naar de eerste wedstrijd gaan die nog niet compleet gespeeld is.
    </div>
    <div class="help-card-alinea">
        Op het scorebord kun je via de 'Esc' toets weer teruggaan naar dit scherm.
    </div>
    <div class="help-card-header">Naar wedstrijdlijsten</div>
    <div>
        Klik op de 'Lijsten' button (of druk op de 'L' toets) om naar de wedstrijdlijsten pagina te gaan. Druk vanaf daar op 'Esc' om weer terug
        te keren naar dit scherm.
    </div>
    <div class="help-card-header">Nieuwe match aanmaken</div>
    <div>
        Klik op de 'Nieuwe match' button (of druk op de 'N' toets) om een nieuwe team match aan te maken. <br>
        Er volgt dan eerst een bevestigings-scherm waarop je deze actie kan bevestigen of annuleren.
    </div>
    <div class="help-card-alinea">
        Let op! Wanneer je deze actie bevestigt dan gaat alle data van de huidige match verloren.
    </div>
</app-help>
