.lijst-row:not(.multselect) {
    opacity: .6;
}
.lijst-row:not(.multselect).hovered, .lijst-row:not(.multselect):hover {
    opacity: 1;
}
.lijst-row.multselect:hover, .lijst-row.multselect.hovered {
    opacity: .6;
}